
@font-face {
	font-family:'Gotham-Rounded';
	src: url("../fonts/GothamRounded-Book.woff");
	font-style: normal;
	font-weight: 400;

}
select,input,textarea{
	font-family: "Gotham-Rounded" !important;
	font-size: 14px !important;
}
select{
	margin-bottom:0px !important;
}

#incidentID{
	margin-left:15px;
}
#p_p_id_TTLogTicketPortlet_WAR_TTLogTicketPortlet_ .portlet-body{
	border:none;
	
}
#p_p_id_TTLogTicketPortlet_WAR_TTLogTicketPortlet_ .modal-header{
	border-bottom: 1px solid #CCC;
	height: 35px;
	padding: 2px 15px;
	padding-left: 0px;
	
}
#p_p_id_TTLogTicketPortlet_WAR_TTLogTicketPortlet_ .modal-body{
	padding-left: 0px;
}
#p_p_id_TTLogTicketPortlet_WAR_TTLogTicketPortlet_{
	top: 10% !important;
	margin-left: 25px;
}
#logIncTableMarg{
	margin-bottom:0px !important;
}
#LogIncidentModal{
	/* z-index:-10; */
	position:relative;
	width: 900px !important;
	left: 40%;
}

#logIncSubmitResponse{
	/* z-index:-9; */
	position:relative;
	width: 400px !important;
	top: 40% !important;
	left:55% !important;
}
#logIncSubmitResponse .modal-footer{
	margin-bottom: 0px !important;
}
.P1P2Disclaimer{
	position:relative;
	border: 1px solid #fff0cc;
	background: #FFFFCC;
	margin-right:1%;
	color:#555;
	font-size:14px;
	height: 32px;
}
.disclaimerIcon{
	position:relative;
	margin-left: 15px;
	top: 15%;
	margin-right: 10px;
	
}
.logTitle{
	color:#333 !important;
	font-size:16px !important;
	margin-top: 10px;
	margin-left: 18px;
}
#responseStatus{
	color:#333 !important;
	font-size:16px !important;
	margin-top: 8px;
	margin-left:15px;
}
.cancelButton{
	background: #777;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	height:36px;
	color: #ffffff !important;
	width: auto;
	min-width:100px;
	border-radius:3px;
	padding-left:15px;
	padding-right:15px;
	font-family:'Gotham-Rounded' !important;
}
.cancelButton:hover,
.submitRequestButton:hover{
	background:#555;
}

.disableButton{
	background:#ccc !important;
	cursor:pointer;
}
.escFlagIcon{
	position:relative;
	align:center;	
}

.dashTickSpan1{
	width:8.33% !important;
	cursor:default;
	text-align:center !important;
}

.dashTickSpan7{
	width:58.333% !important;
	cursor:default;
}

.dashTickSpan2{
	width:16.667% !important;
	cursor:default;
}
.submitRequestButton{
	background: #777;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	height:36px;
	color: #ffffff !important;
	width: auto;
	min-width:150px;
	border-radius:3px;
	padding-left:15px;
	padding-right:15px;
	font-family:'Gotham-Rounded';
}

.labelAlign{
	position:relative;
	margin-top: 1%;
	color:#555 !important;	
}
.disclaimerText{
	position:relative;
	top: 15%;
	display: inline;
}
.cancelButtonContent{
	position: relative;
}

.submitButtonContent{
	position: relative;
}
.close{
	opacity: unset !important;
}
.close :hover,
.close :focus{
	opacity: unset !important;
}
.buttonIcon{
	position:relative !important;
	float:left;
	/* top: -2px; */
}
.buttonText{
	position:relative !important;
	color: #fff;
	font-size: 14px;
	display: inline;
	float: left;
	padding-left: 10px;
}
.modal-footer{
	margin-bottom: -22px !important;
	background-color: #ffffff !important;
}

.navArrowRightImg{
	position:relative;
}
#logDesc,#dashTickNotesTextArea{
	resize:none;
	width: 60% !important;
}
.dashTicketsCont{
	background:none ! important;
}

#dashTicketsContainer{
	width: auto !important;
	border: 1px #ccc solid !important;
}

.dashTickLabelCommon{
	word-break: break-all;
	word-wrap:break-word;
}
#dashTickCheckBox{
	display:inline !important;
}
#dashTickRow{
	margin-right:-30px !important;
	margin-left: 0px !important;
	margin-bottom: 10px;
}

#logIncRightCont{
	align:center;
}

#logIncLeftCont{
	align:center;
}

.portletTitleBar{
	background:white;
	height:45px;
}

.titleText{
	position: relative;
	float: left;
	color: #333;
	font-size: 16px;
	left: 1%;
	vertical-align: middle;
	line-height: 44px;
	text-align: center;
	cursor:default;
}
.navigationArrow{
	position:relative;
	float:right;
	line-height: 44px;
}

.portletTitleContentSeparator{
	position: relative;
	width:auto;
	height:10px;
	background:#FFF;
}
.pTCSLine{
	height: 1px !important;
	position: absolute;
	top: 5px;
	width: 100%;
}

.dashTickContTopLine{
	position: relative;
	width:auto;
	height:10px;
}

.dashTickCountCont{
	position:relative;
	/* height: 115px; */	
}

.dashTickCountLeft{
	position:relative;
	float:left;	
}

.logIncButton{
	/* position:relative;
	margin-top: -10%;
	height: 50px;
	margin-top: 30%; */
}

.impactServiceCount{
	position:relative;
	max-width:50px;
	max-height:50px;
	float: left;
	left: 5%;
	width: 50px;
	height: 50px;
	background: #e32212;
}

.impactServiceCountText{
	font-size: 16px;
	position: relative;
	left: 7%;
	color: #e32212;
	
}

.riskServiceCount{
	position:relative;
	max-width:50px;
	max-height:50px;
	float: left;
	left: 5%;
	width: 50px;
	height: 50px;
	background: #ff9c00;
	
}

.riskServiceCountText{
	position:relative;
	font-size: 16px;
	left: 7%;
	color: #ff9c00;
}

.dashTickServiceCount{
	font-size: 18px;
	color: #ffffff;	
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
}

#logTicketButton{
	background : #E32212;
	float: right;
	position: relative;
	margin-right: 1%;
	font-size:14px;
	min-height:38px;
	box-shadow: 2px 2px 2px #b52217;
	cursor:pointer;
	max-height:60px;
	margin-top: 30%;
}

#logTicketButton:hover{
	background : #b52217;
	box-shadow: 2px 2px 2px #b52217;
}

.navArrowRight{
	positive:relative;
	float:right;
	top: 25%;
	margin-right: 10%;
}

.helpIconDiv{
	position:relative;
	display:inline;
	width:20px;
}
.helpIconImg{
	position:relative;	
}

.modal.fade.in{
	top: 15% !important;
	width: 900px !important;
	position: fixed !important;
	
}
.textBoxLogInc{
	width: 90% !important;
	position:relative;
}

.selectBoxLogInc{
	position:relative;
	width:auto;
	-moz-appearance: -moz-mac-vibrancy-dark !important;
}

.checkBoxTextLogInc{
	position:relative;
	display: inline;
	top: 2px;
}

.closeMark{
	position:relative;
	margin-top: 4px;
}
.priorityColorRed{
	color: #E32212;	
}

.priorityColorAmber{
	color:#ff9c00;
}

.elipsTicketSummary{
	white-space:nowrap;
	text-overflow:ellipsis;
	width: 100%;
	overflow: hidden;
	cursor: default;
}

#ticketTableOverflow{
	overflow:hidden !important;
	table-layout: fixed;
	border-top: 1px #ccc solid;
	margin-bottom:0px !important;
}

.table-responsive{min-height:.01%;overflow-x:hidden; background: #fff;}
@media screen and (max-width:767px){.table-responsive{background: #fff;width:100%;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;}
.table-responsive>.table{margin-bottom:0}
.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>td,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>thead>tr>th{white-space:inherit;}
.table-responsive>.table-bordered{border:0}
.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>thead>tr>th:first-child{border-left:0}
.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>thead>tr>th:last-child{border-right:0}
.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>th{border-bottom:0}
.impactServiceCount{max-width: 40px;max-height: 40px;width: 40px;height: 40px;font-size: 15px;}
.riskServiceCount{max-width: 40px;max-height: 40px;width: 40px;height: 40px;font-size: 15px;}
.riskServiceCountText{font-size: 14px;}
.impactServiceCountText{font-size: 14px;}
.dashTickServiceCount{line-height:40px;}
}

.error{
	color:#e32212 !important;
}
/* .modal-open{overflow:hidden}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-dialog{position:relative;width:auto;margin:10px}
.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}
@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}
.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}
.modal-sm{width:300px}
}
@media (min-width:992px){.modal-lg{width:900px}
}
 */
.customTD{
	border-top: 0px !important;
	border-bottom: 1px solid #ccc !important;
}
.modal-backdrop{/* z-index:-10; */background-color:#CCC !important;}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}