@import "compass";

.portlet-asset-publisher, .portlet-message-boards, .portlet-trash {
	.category-buttons {
		clear: both;
		margin-bottom: 1em;
	}

	.category-subscriptions {
		clear: both;
		margin-bottom: 1em;
		overflow: hidden;
	}

	.category-subscription-types {
		float: right;
		margin-bottom: 0;
	}

	.quote {
		background: #FFF url(@theme_image_path@/message_boards/quoteleft.png) left top no-repeat;
		border: 1px solid #777;
		padding: 5px 0px 0px 5px;
	}

	.quote-content {
		background: transparent url(@theme_image_path@/message_boards/quoteright.png) right bottom no-repeat;
		padding: 5px 30px 10px 30px;
	}

	.quote-title {
		font-weight: bold;
		padding: 5px 0px 5px 0px;
	}

	.title {
		border-bottom: 1px solid #CCC;
		font-size: large;
		font-weight: normal;
		padding: 5px;
	}

	.trash-attachments {
		float: right;
	}

	#messageBoardsPanelContainer {
		border-width: 0;
	}

	.message-attachments {
		h3 {
			color: #333;
			font-size: 1em;
		}

		ul {
			list-style: none;
		}

		.message-attachment {
			padding: 0.5em;
		}

		.deleted-input {
			list-style: none;
			margin-left: -2em;
			padding: 0;
		}

		.undo {
			font-weight: bold;
		}
	}

	.message-container {
		border: 1px solid #CCC;
		margin: 5px 0 0 0;
		overflow: hidden;

		table {
			border-collapse: collapse;
			table-layout: fixed;
		}

		.lfr-code table {
			table-layout: auto;
		}

		td {
			border-width: 0;
		}
	}

	.thread-top {
		border-bottom: 1px solid #CCC;
		padding: 3px 5px;
	}

	.thread-bottom {
		padding: 3px 5px;
		vertical-align: bottom;
	}

	.taglib-ratings.thumbs .total-rating {
		padding: 0 5px 0 10px;
	}

	td.user-info {
		border-right: 1px solid #CCC;
		width: 150px;
	}

	.subject {
		float: left;
	}

	.edit-controls {
		float: right;

		li {
			float: left;
			margin-right: 10px;
		}
	}

	.thread-body {
		overflow: hidden;
		padding: 15px;

		td {
			border: 1px solid #CCC;
		}
	}

	.message-container .user-info {
		border-right: 1px solid #CCC;
		padding: 5px;

		.user-name {
			@include hyphenation;
		}
	}

	.clear {
		clear: both;
	}

	.taglib-custom-attributes-list {
		margin-bottom: 1em;
	}

	.message-boards-panels {
		border-width: 0;
	}

	.statistics-panel {
		border-width: 0;
	}

	.statistics-panel-content {
		margin: 1em;

		dt {
			float: left;
			font-weight: bold;
			margin-right: 1em;
		}
	}

	.question-details {
		float: left;
		white-space: nowrap;
	}

	.views {
		color: #999;
		clear: both;
		float: left;
		padding: 5px 0;
		text-align: center;
		width: 100%;

		.count {
			display: inline;
			font-size: 1em;
		}
	}

	.status, .votes {
		display: inline-block;
		height: 38px;
		margin: 0 3px 0 0;
		padding: 5px;
		text-align: center;
	}

	.votes {
		color: #555;
		width: 40px;
	}

	.status {
		width: 48px;
	}

	.answered {
		background-color: #5BA018;
		color: #FFF;
	}

	.unanswered {
		background-color: #CF4937;
		color: #FFF;
	}

	.count {
		display: block;
		font-size: 190%;
		font-weight: bold;
		height: 25px;
	}

	.toggle_id_message_boards_view_message_thread {
		border: 1px solid #CCC;
		clear: both;
		margin: 5px 0 0 0;
		width: 100%;
	}

	.thread-controls {
		
		margin-bottom: 5px;
		padding: 3px 5px;
	}

	.thread-navigation {
	/* 
	Changes done by Anand : Start
	 */
	    clear: both;
	 /* 
	Changes done by Anand : End
	 */   
		float: right;
	}

	.thread-user-rank {
		display: block;
	}

	.thread-priority {
		border-width: 0;
		float: left;
	}

	.message-container .thread-message-view, .thread-view {
		border-collapse: collapse;
		min-width: 400px;
		padding: 0;
		width: 100%;
	}

	.thread-view-controls {
		list-style: none;
		margin: 0;
		text-align: right;

		li {
			display: inline-block;
		}
	}

	.emoticons {
		border: 1px solid #CCC;
		margin-left: 10px;
	}

	.tree {
		vertical-align: middle;
	}

	.message-scroll {
		margin: 5px 0 0 0;
	}

	.lfr-textarea {
		&.message-edit {
			height: 100%;
			width: 100%;

			textarea {
				height: 378px;
				min-height: 100%;
				width: 99.5%;
			}
		}
	}

	.category-title {
		@include ellipsis;
		color :#333333;
		font-weight: bold;
	}

	.category-description {
		@include hyphenation;
		color:#ff0000;
	}

	.subcategories {
		text-decoration: underline;
		color:#333333;
	}

	.taglib-flags {
		float: left;
		margin: 10px 0 0 20px;
	}

	.threads-panel {
		margin-top: 1em;
	}

	.displayStyle-question {
		.action-question {
			.taglib-text {
				display: none;
			}
		}

		.last-post {
			margin-left: 1em;
			width: 15%;
		}

		.stats {
			width: 20%;
		}

		.question {
			vertical-align: top;
			width: 65%;
		}

		.last-post .portrait {
			text-align: center;
		}

		.username {
			text-align: center;
		}

		.time {
			color: #777;
			font-size: 0.9em;
			font-weight: bold;
			margin-top: 0.5em;
			text-align: center;
		}

		.tags {
			float: left;
			margin-top: 0.5em;
		}

		.question-subject {
			font-size: 125%;

			#a {
				color: #06C;
			}
		}

		.summary {
			color: #444;
			font-size: 120%;
		}
	}

	.search-root-entry {
		color: #999;
		float: right;
	}
}

.ie {
	.portlet-message-boards, .portlet-trash {
		.message-container {
			width: 100%;

			.thread-body table {
				table-layout: auto;
			}
		}
	}
}

.ie6 {
	.portlet-message-boards, .portlet-trash {
		.code {
			width: 100%;
		}
	}
}

.ie8 {
	.question-details {
		white-space: normal;
	}
}

.trash-restore-popup {
	.form {
		fieldset {
			margin-bottom: 0;
			padding: 0 15px;
		}
	}
}

#temp .control-group
{
	display :inline-block;
}

.search-button
{
	margin-top: 0px;
	  background: #555555;
  color: white;
}
.topic-actions_CT_MB
{
	  height: 50px;
}

#myDropdown.open button{
  border-bottom-color:transparent;
}

#myDropdown button{
  width:180px;
  font-size: 14px;
  font-family: 'Gotham Rounded Book';
  color:#333;
  border-radius:0px;
  background: #f3f3f3;
  line-height:50px;
  padding:0px 15px;
  border-color:transparent;
  outline:none;
}

#myDropdown button:hover{
  border-color : #888888;
	}

.aui .btn .caret {
  margin-top: 8px;
  margin-left: 10px;
}
#myDropdown .caret{
  margin-left:10px;
    margin-top: 20px;
}
#myDropdown .dropdown-menu{
  margin-top:0px;
  border-radius: 0px;
  box-shadow:none;
  width:180px;
  padding:0px;
  border-color:#888;
  border-top:none;
}
#myDropdown .dropdown-menu>li{
  border:1px solid #f1f1f1;
  border-top:0px;
  border-right: 0px;
}
#myDropdown .dropdown-menu>li>a{
  line-height:50px;
  background:#ffffff;
  padding:0px 15px;
  text-align:left;
  position:relative;
}
#myDropdown .dropdown-menu>li>a:hover:before{
  content:"";
}
#myDropdown .dropdown-menu>li>a::before{
  background-color:red;
  position:absolute;
  width:5px;
  height:50px;
  left:0px;
  colour: #333;
}

#myDropdown .dropdown-menu>li>a:hover
{
	  color:#333;
}

.aui .navbar .container
{
	  float: left;
}

.thread-actions
{
	margin-bottom :10px;
	float: right;
}



.aui .btn-primary
{
background: #555;
 color: #fff;
}
.aui .btn-primary:hover, .aui .btn-primary:focus, .aui .btn-primary:active, .aui .btn-primary.active, .aui .btn-primary.disabled, .aui .btn-primary[disabled] {
  color: white;
  background-color: #333;
}

.aui .navbar-inner {

  border-bottom: 3px solid #f30000;
}
.form-search
{
	  margin-top: 12px;
}

#search .btn {
  margin-top: 0px;
}
.aui a {
  color: #000000; 
  text-decoration: none;
}

.aui a:hover, .aui a:focus {
  color: red;
  text-decoration: underline;
}

.aui .alert-info, .aui .portlet-msg-help, .aui .portlet-msg-info, .aui .portlet-msg-progress {
  background-color: white;
  border-color: black;
  color: red;
}

.aui .alert-success, .aui .portlet-msg-success {
  background-color: transparent;
  color: black;
  border-color: black;
}
 
.icon-plus, .icon-comment{ 
margin-right: 5px;
}

.btn2
{
background: #555;
 color: #fff;
}

.aui .accordion-inner {
  padding: 0px 0px;
}

.aui .dropdown-menu > li > a:hover, .aui .dropdown-menu > li > a:focus{
 background: #555;
 color: #fff;
}

.aui .btn-secondary
{
background: #f3f3f3;
 color: #333;
}
/* 
Changes done by ANAND : Start
 */
.subandUnsub
{
	margin-bottom :10px;
	float: right;
}

.subandUnsub {
  margin-bottom: 10px;
  float: right;
  margin-left: 10px;
  /* margin-top: 5px; */
  border: red;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #cfcfcf;
  border-bottom-color: #b5b5b5;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f1f1f1;
  border-color: #eaeaea #eaeaea #c4c4c4;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cfcfcf;
  border-bottom-color: #b5b5b5;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.subandUnsub:hover{
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  transition: background-position 0.1s linear;
    background-color: #eaeaea;
}
/* 
Changes done by ANAND : END
 */