#feedback-module p {
	font-size: 14px !important;
	color: #555555;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

body.modal-open {
    overflow: hidden;
}

.tt-highLight-header{
	width: 83% ! important;
	padding-left: 15px;
}

#feedback-note-tmp {
	width: 444px;
	height: auto !important;
	min-height: 90px !important;
	outline: none !important;
	padding: 4px !important;
}

#feedback-note-tmp:focus, #feedback-overview-note:focus {
	border: 1px solid #64b7cc !important;
}

#feedback-canvas {
	position: absolute;
	top: 0 !important;
	left: 0 !important;
}

#feedback-welcome {
	top: 30% !important;
	left: 50% !important;
	margin-left: -270px !important;
	display: block;
	position: fixed;
}

.feedback-logo {
	font-size: 16px !important;
	font-weight: normal !important;
	color: #333;
	line-height: 45px !important;
	height: 45px !important;
	margin: 0px;
	border-bottom: 1px solid;
	border-color: #cccccc;
	//padding-left: 20px;
}

.feedback-next-btn {
	display:flex;
	width: 102px;
	height: 32px !important;
	line-height: 27px !important;
	float: right;
	font-size: 14px !important;
	padding: 0 8px !important;
	background-color: #808080;
	border: 2px solid #eee;
	border-radius: 5px;
	text-align: left;
	color: #ffffff;
	cursor: pointer;
}

.feedback-nextCancel-btn {
	display:flex;
	min-width: 102px;
	float: right;
	height: 32px !important;
	line-height: 27px !important;
	font-size: 14px !important;
	padding: 0 8px !important;
	margin-right: 10px !important;
	background-color: #808080;
	border: 2px solid #eee;
	border-radius: 5px;
	text-align: left;
	color: #ffffff;
	cursor: pointer;
}

.feedback-back-btn {
	display:flex;
	width: 102px;
	float: right;
	height: 32px !important;
	line-height: 27px !important;
	font-size: 14px !important;
	padding: 0 8px !important;
	margin-right: 10px !important;
	margin-bottom: 10px !important;
	background-color: #808080;
	border: 2px solid #eee;
	border-radius: 5px;
	text-align: left;
	color: #ffffff;
	cursor: pointer;
}

.feedback-submit-btn {
	display:flex;
	width: 102px;
	float: right;
	height: 32px !important;
	line-height: 27px !important;
	font-size: 14px !important;
	padding: 0 8px !important;
	margin-right: 10px !important;
	margin-bottom: 10px !important;
	background-color: #808080;
	border: 2px solid #eee;
	border-radius: 5px;
	text-align: left;
	color: #ffffff;
	cursor: pointer;
}

.feedback-print-btn {
	display:flex;
	width: 102px;
	float: right;
	height: 32px !important;
	line-height: 27px !important;
	font-size: 14px !important;
	padding: 0 8px !important;
	margin-right: 10px !important;
	margin-bottom: 10px !important;
	background-color: #808080;
	border: 2px solid #eee;
	border-radius: 5px;
	text-align: left;
	color: #ffffff;
	cursor: pointer;
}

.feedback-email-btn {
	display:flex;
	width: 102px;
	float: right;
	height: 32px !important;
	line-height: 27px !important;
	font-size: 14px !important;
	padding: 0 8px !important;
	margin-right: 10px !important;
	margin-bottom: 10px !important;
	background-color: #808080;
	border: 2px solid #eee;
	border-radius: 5px;
	text-align: left;
	color: #ffffff;
	cursor: pointer;
}

.feedback-close-btn {
	width: 72px;
	height: 29px !important;
	line-height: 27px !important;
	float: right;
	font-size: 13px !important;
	padding: 0 8px !important;
}

.feedback-helper {
	background: rgba(0, 0, 0, 0) !important;
	cursor: default !important;
}

.feedback-helper[data-type="highlight"]>.feedback-helper-inner {
	background: rgba(0, 68, 255, 0.1) !important;
}

#feedback-close {
	cursor: pointer !important;
	position: absolute;
	background: url(icons.png) -0px -64px !important;
	width: 30px;
	height: 30px !important;
}

.feedback-wizard-close {
	float: right ! important;
	cursor: pointer !important;
	background: url("../images/Icon_Sprite_default.png") -8px -834px no-repeat;
	width: 30px !important;
	height: 40px !important;
}

.feedback-wizard-close:hover {
	opacity: 1 !important;
}

#feedback-welcome-error, #feedback-overview-error {
	display: none;
	color: #f13e3e !important;
	float: right;
	margin-right: 12px !important;
	font-size: 13px !important;
	line-height: 29px !important;
	position: relative;
}

#feedback-overview-error {	
}

#feedback-highlighter {
	display: none;
	bottom: 100px !important;
	right: 100px !important;
	position: fixed;
	width: 37% !important;
	height: 275px !important;
	border-radius: 5px;
}

#feedback-overview {
	display: none;
	top: 10% !important;
	left: 25% !important;
	position: fixed;
	width: 45% !important;
}

#feedback-submit-error, #feedback-submit-success {
	top: 30% !important;
	left: 50% !important;
	margin-left: -300px !important;
	display: block;
	position: fixed;
	width: 600px;
	height: auto !important;
}

/*.feedback-btn {
	padding: 10px !important;
	outline: 0 !important;
	background-clip: padding-box !important;
	-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2) !important;
	-moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2) !important;
	box-shadow: 0 4px 16px rgba(0, 0, 0, .2) !important;
	z-index: 40000 !important;
}

.feedback-btn-gray {
	text-align: center !important;
	cursor: pointer !important;
	font-family: 'Open sans' !important;
	border: 1px solid #dcdcdc !important;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	color: #444 !important;
	border-radius: 2px !important;
	background-color: #f5f5f5 !important;
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1)
		!important;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1) !important;
	background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1) !important;
	background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1) !important;
	background-image: linear-gradient(top, #f5f5f5, #f1f1f1) !important;
}

.feedback-btn-gray:hover {
	color: #333 !important;
	border: 1px solid #c6c6c6 !important;
	background-color: #f8f8f8 !important;
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1)
		!important;
	background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1) !important;
	background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1) !important;
	background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1) !important;
	background-image: linear-gradient(top, #f8f8f8, #f1f1f1) !important;
}

.feedback-btn-blue {
	text-align: center ! important;
	cursor: pointer ! important;
	font-family: 'Open sans' ! important;
	border-radius: 2px ! important;
	background-color: #357ae8 ! important;
	background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8)
		! important;
	background-image: -moz-linear-gradient(top, #4d90fe, #357ae8)
		! important;
	background-image: -ms-linear-gradient(top, #4d90fe, #357ae8) ! important;
	background-image: -o-linear-gradient(top, #4d90fe, #357ae8) ! important;
	background-image: linear-gradient(top, #4d90fe, #357ae8) ! important;
	border: 1px solid #2f5bb7 ! important;
	color: #fff ! important;
} */
#feedback-note-tmp, #feedback-overview-note {
	resize: none ! important;
}

#feedback-welcome, #feedback-highlighter, #feedback-overview,
	#feedback-submit-success, #feedback-submit-error {
	z-index: 40000 ! important;
	background: #fff ! important;
	border: 1px solid rgba(0, 0, 0, .333) ! important;
	padding: 0 !important;
	/*padding: 0px 0px ! important;*/
	/*width: 548px;*/
	width: 20%;
	border: 1px solid rgba(0, 0, 0, .333) ! important;
	outline: 0 ! important;
	-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2) ! important;
	-moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2) ! important;
	box-shadow: 0 4px 16px rgba(0, 0, 0, .2) ! important;
	background: #fff ! important;
	background-clip: padding-box ! important;
	box-sizing: border-box ! important;
	-moz-box-sizing: border-box ! important;
	-webkit-box-sizing: border-box ! important;
	-webkit-transform: translateZ() ! important;
}

.feedback-sethighlight, .feedback-setblackout {
	-webkit-box-shadow: none ! important;
	-moz-box-shadow: none ! important;
	box-shadow: none ! important;
	/* background-color: #f5f5f5 ! important;
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1)
		! important;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1)
		! important;
	background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1) ! important;
	background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1) ! important;
	background-image: linear-gradient(top, #f5f5f5, #f1f1f1) ! important; */
	color: #444 ! important;
	border: 1px solid #dcdcdc ! important;
	border: 1px solid rgba(0, 0, 0, 0.1) ! important;
	-webkit-border-radius: 2px ! important;
	-moz-border-radius: 2px ! important;
	border-radius: 2px !important;
	cursor: default !important;
	font-size: 11px !important;
	font-weight: bold !important;
	text-align: left !important;
	white-space: nowrap !important;
	margin-right: 16px !important;
	height: 32px !important;
	line-height: 28px !important;
	min-width: 32px;
	outline: 0 !important;
	padding: 0 0px !important;
	display: inline-block;
	float: left;
	margin-bottom: 20px;
}

.feedback-setblackout {
	clear: both ! important;
}

.feedback-sethighlight .icoHigh{
	background: url("../images/Icon_Sprite_default.png") -4px -1446px no-repeat;
	width: 32px;
	height: 12px !important;
	float: left;
	padding-top: 15px;
}

.feedback-setblackout .icoBlack{
	background: url("../images/Icon_Sprite_default.png") -4px -1430px no-repeat;
	width: 32px;
	height: 4px !important;
	float: left;
	padding-top: 15px;
	margin-top: 7px !important;
}

.feedback-sethighlight:hover, .feedback-setblackout:hover {
	-webkit-box-shadow: none ! important;
	-moz-box-shadow: none ! important;
	box-shadow: none ! important;
	background-color: #f8f8f8 ! important;
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1)
		! important;
	background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1)
		! important;
	background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1) ! important;
	background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1) ! important;
	background-image: linear-gradient(top, #f8f8f8, #f1f1f1) ! important;
	border: 1px solid #c6c6c6 ! important;
	color: #333 ! important;
}

.feedback-active {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1) ! important;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1) ! important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1) ! important;
	background-color: #eee ! important;
	background-image: -webkit-linear-gradient(top, #eee, #e0e0e0)
		! important;
	background-image: -moz-linear-gradient(top, #eee, #e0e0e0) ! important;
	background-image: -ms-linear-gradient(top, #eee, #e0e0e0) ! important;
	background-image: -o-linear-gradient(top, #eee, #e0e0e0) ! important;
	background-image: linear-gradient(top, #eee, #e0e0e0) ! important;
	border: 1px solid #ccc ! important;
	color: #333 ! important;
}

#feedback-highlighter label {
	line-height: 30px ! important;
	font-size: 14px ! important;
	font-weight: normal ! important;
	color: #555555;
}

#feedback-highlighter label.lower {
	float: left;
	width: 92%;
	position: relative;
	bottom: 30px;
	padding-left: 40px;
}

#feedback-highlighter label.upper {
	float: left;
	width: 92%;
}

.feedback-buttons {
	padding-top: 15px;
}

.feedback-buttonsFirstPage {
	float: right;
	margin-top: 20px !important;
	margin-right: 15px;
}

#feedback-module h3 {
	font-weight: bold ! important;
	font-size: 15px ! important;
	margin: 8px 0 ! important;
}

.feedback-additional {
	margin-bottom: 20px !important;
}

#feedback-overview-description {
	margin-top: 20px;
	padding-right: 15px;
}

#feedback-overview-description text {
	width: 220px;
}

#feedBackCC {
	width: 94%;
	height: 32px;
}

.aui h6 {
	font-size: 14px !important;
	font-weight: normal;
}

#feedback-overview-note {
	width: 96.5%;
	height: 112px!important;
	outline: none!important;
	border: 1.5px solid #ccc;
}

#feedback-overview-screenshot {
	float: left;
	padding-left: 15px;
}

.aui h5 {
	font-size: 14px !important;
	font-weight: normal;
}

.feedback-screenshot {
	width: 300px;
	height: 220px !important;
	padding: 1px;
	border: 1px solid #ADADAD !important;
}

#feedback-overview-email-to {
}

.feedBackCCCheckClass {
}

#feedback-overview-email-CC {
	margin-top: 15px;
}

#feedback-overview-email-sub {
	width: 314px;
	padding: 4px ! important;
	height: 20px ! important;
	outline: none ! important;
	margin-top: 15px;
}

.aui input {
	border: 1.5px solid #cccccc;
}

#feedback-overview-description-text span {
	font-size: 14px ! important;
	margin: 8px 0 ! important;
	color: #666 ! important;
	padding-left: 10px ! important;
	background: url(icons.png) -30px -34px no-repeat ! important;
	margin-left: 26px ! important;
}

#feedback-browser-info, #feedback-page-info, #feedback-page-structure,
	#feedback-additional-none {
	margin-top: 16px ! important;
	display: none;
}

a#intersupportScreen {
	background: url(../images/custom/ss.png) no-repeat;
	display: block;
	height: 47px;
	width: 48px;
	margin-right: 0px;
}

a#intersupportScreen:hover {
	background: url(../images/custom/ssa.png) no-repeat;
	display: block;
	height: 48px;
	width: 113px;
	margin-right: 0px;
}

a#intersupportScreenBahasa {
	background: url(../images/custom/ss.png) no-repeat;
	display: block;
	height: 47px;
	width: 48px;
	margin-right: 0px;
}

a#intersupportScreenBahasa:hover {
	background: url(../images/custom/ssab.png) no-repeat;
	display: block;
	height: 48px;
	width: 113px;
	margin-right: 0px;
}

.highlightRow {
	border: 1px solid;
	height: 32px;
	margin-left: 15px;
	border-color: #cccccc;
	margin-right: 20px;
}

.blackoutRow {
	border: 1px solid;
	height: 32px;
	margin-left: 15px;
	margin-right: 20px;
	border-color: #cccccc;
	margin-top: 15px;
}

.scrShare {
}

.screenShot {
	color: #555;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 5px;
	height: 32px;
}

#feedBackTo {
	width: 100%;
	height: 32px;
}

#feedBackSubject {
	width: 100%;
	height: 32px;
}

.blackOut {
	padding-left: 15px;
}

.highLight {
	padding-left: 15px;
}

.ico {
	margin-left: 7px;
}

.cancelIcon {
	background-image: url("../images/custom/Cancel.png");
	height: 15px;
	width: 15px;
	position: relative;
	top: 8px;
}

.canLabel {
	position: relative;
	top: 3px;
	margin-left: 5px;
}

.nextIcon {
	background-image: url("../images/custom/NextPage.png");
	height: 15px;
	width: 15px;
	position: relative;
	top: 8px;
}

.nextLabel {
	position: relative;
	top: 3px;
	margin-left: 5px;
}

.saveIcon {
	background-image: url("../images/custom/SaveImage.png");
	height: 12px;
	width: 15px;
	position: relative;
	top: 10px;
}

.saveLabel {
	position: relative;
	padding-top: 2px;
	margin-left: 5px;
}

.sendMailIcon {
	background-image: url("../images/custom/SendEmail.png");
	height: 15px;
	width: 15px;
	position: relative;
	top: 7px;
}

.sendMailLabel {
	position: relative;
	top:3px;
	margin-left: 5px;
}

.printIcon {
	background-image: url("../images/custom/Print.png");
	height: 15px;
	width: 15px;
	position: relative;
	top: 8px;
}

.printLabel {
	position: relative;
	margin-left: 5px;
	top: 3px;
}

.upper {
	position: relative;
	bottom: 30px;
	padding-left: 40px;
}

.feedback-sethighlight feedback-active{
	width: 96%;
}

#highlightDiv{
	width: 96.5%;
}

#blackoutDiv{
	width: 96.5%;
}

#iconBlackDiv{
    background-color: rgba(128, 128, 128, 0.31)!important;
    width: 32px !important;
    height: 32px;
}

#iconHighDiv{
    background-color: rgba(128, 128, 128, 0.31)!important;
    width: 32px !important;
    height: 32px;
}

.EmailValidationError{
	display: block;
	position: relative;
	font-size: 12px !important;
}

#emailSuccessModal{
	top: 25% ! important;
	width: 450px !important;
	height: 130px !important;
	left: 55%;
}

#p_p_id_TTScreenSharePortlet_WAR_TTScreenSharePortlet_ .modal-body{
	/*padding: 15px 15px 15px 100px !important;*/
	left: 15px;
    top: 16px !important;
}

#p_p_id_TTScreenSharePortlet_WAR_TTScreenSharePortlet_ .modal-header{
	border-bottom: none !important;
}

#p_p_id_TTScreenSharePortlet_WAR_TTScreenSharePortlet_ .modal-footer{
	border-top: none !important;
	background-color: white !important;
}

#OK{
	background-color: #777777 !important;
	width: 60px !important;
	height: 30px !important;
	box-shadow: 0 2px 2px -2px #777777;
	border-radius:3px;
}

#OK:HOVER{
	background-color: #555555;
	width: 60px !important;
	height: 30px !important;
    box-shadow: 0 2px 2px -2px #555;
	border-radius:3px;
}

#subTd{
	padding-top: 30px !important;
}
#checkboxDescription{
	position: relative;
	top: 2px;
}

#innerModalBody{
	position: relative;
	left: 15px;
}

.modal-header{
	border: none !important;
}

.modal-footer{
	border: none !important;
}

.modal-footer{
	background-color: white !important;
}

.tt-highlight-select-text{
	float: left;
	line-height: 30px;
	padding-left: 10px;
	background-color: lightgray;
	width: 92.7%;
	border-left: 1px solid black;
}

#tt-title{
	text-align: right;
	padding-top: 8px;
}

.tt-row{
	padding-bottom: 10px;
}

.tt-row-button{
	float: right;
	margin-right: 10px;
}

.tt-screenshare-modal{
	overflow-y: scroll;
    max-height: 70vh;
}

.tt-span-row{
	padding-bottom: 15px;
	margin-right: -8px !important;
	width: 268px ! important;
	float: right ! important;
}

.tt-button-row{
	width: 130px ! important;
	float: right ! important;
}

@media (min-width: 1200px) {
	#feedback-highlighter {
		display: none;
		bottom: 100px !important;
		right: 100px !important;
		position: fixed;
		height: 275px !important;
		border-radius: 5px;
	}
	#feedback-highlighter {
		width: 37% !important;
	}
	#feedback-overview {
		display: none;
		top: 10% !important;
		position: fixed;	
	}
	#feedback-overview{
		left: 22% !important;
		width: 54% !important;
	}
}

@media (min-width: 1025px) and (max-width: 1199px) {
	#feedback-highlighter {
		width: 45% !important;
	}
	#feedback-overview{
		left: 20% ! important;
		width: 65% !important;
		top: 10% !important;
	}
}

@media (min-width: 930px) and (max-width: 1024px) {
	#feedback-highlighter {
		width: 50% !important;
	}
	#feedback-overview{
		left: 18% ! important;
		width: 65% !important;
		top: 10% !important;
	}

}

@media (min-width: 768px) and (max-width: 929px) {
	#feedback-highlighter {
		width: 55% !important;
	}
	#feedback-overview{
		left: 11% ! important;
		width: 78% !important;
		top: 10% !important;
	}

}


button {
	border-radius: 5px;
}

@media (max-width: 767px){
	#feedback-highlighter {
		width: 320px !important;
		left: 6% !important;
	}
	#feedback-overview{
		left: 7% ! important;
		width: 86% !important;
		top: 10% !important;
	}
	.feedback-screenshot{
		width: 80%;
		margin-left: 10%;
	}
	.tt-highLight-header{
		float: left ! important;
	}
	#feedback-overview-screenshot{
		padding-bottom: 20px;
	}
	#tt-title{
		width: 25%;
		float: left;
		text-align: right;
	}
	#feedBackTo{
		float: right;
		width: 73% ! important;
	}
	#feedBackCC{
		float: right;
		width: 69% ! important;
	}
	.feedBackCCCheckClass {
		float: left;
		margin-left: 7px !important;
	}
	#feedBackSubject{
		float: right;
		width: 73% ! important;
	}
	#feedback-overview-note{
		float: right;
		width: 92%;
	}
}