/**********************
	Button CSS
**********************/
button{
	font-family: 'Gotham Rounded Book' ! important;
	border-radius:5px !important;
}
div{
	font-family: 'Gotham Rounded Book' ! important;
}

body{
	color: #555555;
	font-size: 14px;
}

input { 
	border: 1px solid #888888 !important; 
}

select{
	border: 1px solid #888888 !important; 
}

textarea{
	border: 1px solid #888888 !important; 
}

input[type=checkbox]{
	-ms-transform: scale(1); /* IE */
	-moz-transform: scale(1); /* FF */
	-webkit-transform: scale(1); /* Safari and Chrome */
	-o-transform: scale(1); /* Opera */
	width: 15px;
	height: 15px;
}

.btn-primary-tt{
	color: #ffffff ;
	font-size: 14px;
	line-height: 1 !important;
	box-shadow: 2px 2px 2px #333333 ;
	-moz-box-shadow: 2px 2px 2px #333333 ;
    -webkit-box-shadow: 2px 2px 2px #333333 ;
}

.refresh{
	background: url("/TTPortalTheme/images/telkom/refresh.png") no-repeat 10px 10px #555555; 
	background-color: #555555;
	padding: 10px 10px 10px 35px;
	border: 0;
}

.btn-primary-tt:active, .btn-primary-tt:hover, .btn-primary-tt:visited, .btn-primary-tt:focus {
	background-color: #333333;
	color: #ffffff;
	font-size: 14px; 
	outline:0;
}


.btn-secondary-tt{
	background-color: #777777;
	color: #ffffff !important;
	font-size: 14px;
	line-height: 1 !important;
	border: 0;
	box-shadow: 2px 2px 2px #555555;
	-moz-box-shadow: 2px 2px 2px #555555;
    -webkit-box-shadow: 2px 2px 2px #555555;
}

.btn-secondary-tt:active, .btn-secondary-tt:hover, .btn-secondary-tt:visited, .btn-secondary-tt:focus {
	background-color: #555555 !important;
	color: #ffffff;
	font-size: 14px; 
	outline:0;
}

.btn-tertiary-tt{
	background-color: #f1f1f1;
	color: #777777;
	font-size: 13px !important;
	line-height: 1 !important;
	padding: 10px 15px;
	border: 0;
	box-shadow: 2px 2px 2px #cccccc;
	-moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
}

.btn-tertiary-tt:active, .btn-tertiary-tt:hover, .btn-tertiary-tt:visited, .btn-tertiary-tt:focus {
	background-color: #cccccc !important;
	color: #333333;
	font-size: 13px !important; 
	outline:0;
}

.tt_btn_alert{
	background-color: #e32212;
	color: #ffffff;
	font-size: 14px !important;
	line-height: 1 !important;
	padding: 10px 15px;
	border: 0;
	box-shadow: 2px 2px 2px #cccccc;
	-moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    border-radius: 1px;
    border-bottom: 2px #cc0000 solid;
}

.tt_btn_alert:active, .tt_btn_alert:hover, .tt_btn_alert:visited, .tt_btn_alert:focus {
	background-color: #cc0000 !important;
	color: #ffffff;
	font-size: 14px !important; 
	outline:0;
	border-bottom: 2px #cc0000 solid;
}

.tt-div-highlight-red{
	background-color: #e32212;
	border-radius: 3px;
	padding: 10px 15px;
	border: 0;
	color: #ffffff;
	font-size: 14px;
	display: inline-block;

}

.tt-div-highlight-orange{
	background-color: #ff9c00;
	border-radius: 3px;
	padding: 10px 15px;
	border: 0;
	color: #ffffff;
	display: inline-block;
	font-size: 14px;
}

.tt-div-highlight-green{
	background-color: #99cc66;
	border-radius: 3px;
	padding: 10px 15px;
	border: 0;
	color: #ffffff;
	display: inline-block;
	font-size: 14px;
}

/**********************
	Pagination CSS
**********************/

.pagination-link .holder-span{
	font-size: 14px;
	color: #888888;
	padding-right: 10px;
	width: 70px !important;
	display: inline !important;
}
.navigation-link{
	display: inline-block !important;
}

.pagination-link .holder-previous{
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    color: #555555;
}

.pagination-link .holder-previous .previous-span{
	float: left;
 	display: block;  
 	background-repeat: no-repeat;  
 	width: 22px;
 	/*background-image: url(/Telkom-theme/images/telkom/global-m-sprites-sm.png);*/
 	background-image: url(/TTPortalTheme/images/telkom/navigationsprite.png);
 	background-position: 0 -34px;
}

.holder-previous:hover, .holder-previous:hover.selected, .holder-previous:active
.holder-previous:active .selected, .holder-previous:visited, .holder-previous:visited .selected, .holder-previous:focus .selected
{
	color: #333333 !important;
	text-decoration: none !important;
}

.holder-previous:hover .previous-span{
	float: left;
 	display: block;  
 	background-repeat: no-repeat;  
 	width: 22px;
 	/*background-image: url(/Telkom-theme/images/telkom/global-m-sprites-sm.png);
 	background-position: -250px -150px;*/
 	background-image: url(/TTPortalTheme/images/telkom/navigationsprite.png);
 	background-position: 0 -34px;
}


.pagination-link .holder-next{
    padding: 0px 10px 0px 10px;
    position: absolute;
}

.pagination-link .holder-next .next-span{
	float: right;
 	display: block;  
 	background-repeat: no-repeat;  
 	width: 22px;
 	background-image: url(/TTPortalTheme/images/telkom/navigationsprite.png);
 	background-position: 0 -72px;
 	position: absolute;
 	top:2px;
 	left: 50px;
}

.pagination-link .holder-next .next-span-text{
	padding-right: 10px;
}


.holder-next{
   color: #333333 !important;
}

.holder-next:hover, .holder-next:hover.selected, .holder-next:active
.holder-next:active .selected, .holder-next:visited, .holder-next:visited .selected, .holder-next:focus .selected
{
	color: #333333 !important;
	text-decoration: none !important;
}

.holder-next:hover .next-span{
	float: right;
 	display: block;  
 	background-repeat: no-repeat;  
 	width: 22px;
 	background-image: url(/TTPortalTheme/images/telkom/navigationsprite.png);
 	background-position: 0 -72px;
 	position: absolute;
 	top:2px;
 	left: 50px;
}


/**********************
	Search CSS
**********************/
.search-textbox{
	font-family: 'Gotham Rounded Book';
	border: 1px #777777 solid;
    background-color: #ffffff;
 	height: 26px !important;
 	padding-right: 10px;
}

.search{
	background: url("/TTPortalTheme/images/telkom/search.png") no-repeat 10px 10px #555555; 
	background-color: #777777;
	border: 0;
	width: 36px;
	height: 36px;
	position: relative;
	top: -5px;
	border-radius: 3px;
	margin-left: -10px !important;
}


input:-webkit-input-placeholder {
    color:    #f51;
}
input:-moz-placeholder { 
    color:    #f51;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #f51;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #f51;
}

/**********************
	Dropdown CSS
**********************/
.dropdown-tt-anchor{
	font-family: 'Gotham Rounded Book';
	color: #333333 !important;
	font-size: 16px !important;
	text-decoration: none !important;
	padding: 10px 43px 10px 15px;
	background-color: #ffffff;
	outline: 0;
}

.dropdown-tt-anchor:hover,.dropdown-tt-anchor:active, .dropdown-tt-anchor:hover,.dropdown-tt-anchor:visited, .dropdown-tt-anchor:focus
{
	color: #333333;
	padding: 10px 45px 10px 15px;
	background-color: #f3f3f3;
	border: 1px #888888 solid;
	outline: 0;
}


.dropdown-span{
	float: right;
 	display: block;  
 	background-repeat: no-repeat;  
 	width: 22px !important;
 	background-image: url(/TTPortalTheme/images/telkom/global-sprite.png);
 	background-position: -45px -30px;
 	position: absolute;
 	top: 0px;
 	left: 167px;
}

.dropdown-ul{
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	 margin-top: 8px !important;
  	border-bottom-color: #555555  !important;
  	-webkit-box-shadow: 0 0 0  !important;
  	border-top-color: #ffffff  !important;
  	border-left-color: #555555 !important;
  	border-right-color: #555555  !important;
  	border-top: 0px  !important;
  	border-top-width: 0px;
  	padding-top: 0px !important;
  	padding-bottom: 0px !important;
  	width: 197px !important;
}



.dropdown-li{
    border-left: 5px solid white;
  	color: #33333;
  	font-size: 16px;
    position:relative;
    padding: 10px 10px;
}
.dropdown-li:before{
    content:"";
    position:absolute;
    border-bottom:1px solid #F1F1F1;
    width:175px;
    left:0px;
    top:-1px;
}

.dropdown-li-selected{
	border-left: 5px solid #e32212;
  	color: #33333;
  	font-size: 16px;
    position:relative;
    padding: 10px 10px;
}

.dropdown-li:hover,.dropdown-li:active, .dropdown-li:hover,.dropdown-li:visited, .dropdown-li:focus{
	border-left: 5px solid transparent;
	background-color: #F3F3F3;
}
/* .error{
	color:#e32212 !important;
} */
/******************

	Tab- Nav pills

*******************/
.tt-ul{
	border-bottom: 1px #cccccc solid;	
	margin:0 !important;
}

.tt-ul-div{
	border-right: 1px #cccccc solid;
	border-left: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
	padding: 10px 15px;
	background-color: #ffffff;
}

.tt-nav-pills{
	background-color: #ffffff;
	padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
		
 	border-bottom: 5px #ffffff solid;
}

.tt-nav-pills:hover,.tt-nav-pills:active, .tt-nav-pills:hover,.tt-nav-pills:visited, .tt-nav-pills:focus{
	background-color: #ffffff;
	padding-top: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
}

.tt-nav-pills.selected{
	border-bottom: 5px #E32212 solid !important;
}

.tt-nav-pills a{
	text-decoration: none !important;
	background-color: #ffffff !important;
	color: #555555 !important;
  	font-size: 16px;
}

.tt-nav-pills:hover a, .tt-nav-pills:active a, .tt-nav-pills:visited a, .tt-nav-pills:focus a, 
.tt-nav-pills:hover a.selected, .tt-nav-pills:active a.selected, .tt-nav-pills:visited a.selected, .tt-nav-pills:focus a.selected
{
	background-color: #ffffff !important;
	text-decoration: none !important;
	color: #333333 !important;
  	font-size: 16px;
}



/******************

	Portlet Templates

*******************/

.aui{
	.tt-container {
		border: 1px solid #cccccc;
		background-color: #ffffff;
		border-radius: 3px;
		padding-left:0;
		padding-right: 0;
		>.tt-header{
			border-bottom: 1px solid #cccccc;
			padding-bottom: 10px;
			> .tt-page-title{
				padding-top:10px;
				padding-left:15px;
				text-transform: uppercase;
			}			
			>.tt-detail{
				text-align: right;
				padding-top:10px;
				padding-right:15px;
				
			}
			
		}
		>.tt-content{
		
		}
	}
}


.tt-warning{
	display: inline-block;
	margin-top: 10px;
}

.tt-warning-text{
	overflow: hidden;
	padding-top: 10px;
}

.tt-modal-input-label{
	font-family: 'Gotham Rounded Book' ! important;
	font-size: 14px;
	color: #555555;
}

.tt-dropdown-div {
    width: 200px;
    height: 30px;
    overflow: hidden;
    background: no-repeat #ffffff;
    border: 1px solid #000;
    background-image: url(/TTPortalTheme/images/telkom/navigationsprite.png);
    background-position: 0 -34px;
}

.tt-dropdown-div select{
    -webkit-appearance:none;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    padding: 3px;
    font-size: 1.2em;
    height: 30px;
    width: 100%;
    overflow: hidden;
}

.tt-progess{
	height: 10px !important;
}

.tt-progress-bar-success{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background-color: #A3CF62 !important;
	background-image: -moz-linear-gradient(top, #A3CF62, #A3CF62) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A3CF62), to(#A3CF62)) !important;
	background-image: -webkit-linear-gradient(top, #A3CF62, #A3CF62) !important;
	background-image: -o-linear-gradient(top, #A3CF62, #A3CF62) !important;
	background-image: linear-gradient(to bottom, #A3CF62, #A3CF62) !important;
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3CF62', endColorstr='#A3CF62', GradientType=0) !important;  
}
	
.tt-progress-bar-warning{
	background-color: #FF9C00 !important;
	background-image: -moz-linear-gradient(top, #FF9C00, #FF9C00) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF9C00), to(#FF9C00)) !important;
	background-image: -webkit-linear-gradient(top, #FF9C00, #FF9C00) !important;
	background-image: -o-linear-gradient(top, #FF9C00, #FF9C00) !important;
	background-image: linear-gradient(to bottom, #FF9C00, #FF9C00) !important;
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9C00', endColorstr='#FF9C00', GradientType=0) !important;  
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;		
}
	
.tt-progress-bar-danger{
	background-color: #e32212 !important;
	background-image: -moz-linear-gradient(top, #e32212, #e32212) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e32212), to(#e32212)) !important;
	background-image: -webkit-linear-gradient(top, #e32212, #e32212) !important;
	background-image: -o-linear-gradient(top, #e32212, #e32212) !important;
	background-image: linear-gradient(to bottom, #e32212, #e32212) !important;
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e32212', endColorstr='#e32212', GradientType=0) !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;		
}
@media screen and (min-width: 734px) and (max-width: 1370px) {
	.tt-attention{
		height: 260px !important;
		width: 300px;
		line-height: 200px;
		vertical-align: middle;
		text-align: center;	
	}	
}

@media screen and (min-width: 600px) and (max-width: 733px) {
	.tt-attention{
		height: 260px;
		width: 300px;
		line-height: 200px;
		vertical-align: middle;
		text-align: center;	
	}	
}


@media screen and (min-width: 320px) and (max-width: 599px) {
	.tt-attention{
		height: 244px;
		width: 300px;
		line-height: 200px;
		vertical-align: middle;
		text-align: center;	
	}	
}
