@import "compass";
@import "mixins";

@import url(custom_default.css);
@import url(custom_dashboard.css);
@import url(custom_responsive.css);
@import url(custom_extras.css);
@import url(footer.css);
@import url(leftbanner.css);
@import url(basecontrol.css);

$colorBackgroundBody: #F9F9F9;
$colorHeading: #5E60B2;
$colorHighlightWarn: #953537;
$colorHighlightInfo: #5CB260;

@font-face {
	font-family: 'Gotham Rounded Book';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/GothamRounded-Book.eot');
    src: local('Gotham Rounded Book'),
		 local('Gotham Rounded Book'),
    	 url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRounded-Book.woff') format('woff'),
         url('../fonts/Gotham-Rounded-Book.ttf') format('truetype');
}

/* ---------- Base styles ---------- */

.aui {
	height: 100%;

	.portal-normal {
		min-height: 100%;
		background: $colorBackgroundBody;
		font-family: 'Gotham Rounded Book';
		font-weight: 400;
	}

	a {
		&:hover {
			color: $colorHighlightWarn;
		}
	}
	
	body{
		/*background-color: rgb(243, 243, 243) !important;*/
		background-color: #f1f1f1 !important;
	}
	
	
	.pl-5{
		padding-left: 5px;
	}
	.pl-10{
		padding-left: 10px;
	}
	.pl-15{
		padding-left: 15px;
	}
	.pl-20{
		padding-left: 20px;
	}
	
	.pl-25{
		padding-left: 25px;
	}
	
	.pr-5{
		padding-right: 5px;
	}
	.pr-10{
		padding-right: 10px;
	}
	.pr-15{
		padding-right: 15px;
	}
	.pr-20{
		padding-right: 20px;
	}
	
	
	.pt-5{
		padding-top: 5px;
	}
	.pt-10{
		padding-top: 10px;
	}
	.pt-15{
		padding-top: 15px;
	}
	.pt-20{
		padding-top: 20px;
	}
	.pt-25{
		padding-top: 25px;
	}
	.pt-30{
		padding-top: 30px;
	}
	
	
	.pb-5{
		padding-bottom: 5px;
	}
	.pb-10{
		padding-bottom: 10px;
	}
	.pb-15{
		padding-bottom: 15px;
	}
	.pb-20{
		padding-bottom: 20px;
	}
	
	.ml-5{
		margin-left: 5px;
	}
	
	.ml-10{
		margin-left: 10px;
	}
	
	.ml-15{
		margin-left: 15px;
	}
	
	.ml-20{
		margin-left: 20px;
	}
	
	.ml-25{
		margin-left: 25px;
	}
	
	
	.mt-5{
		margin-top: 5px;
	}
	
	.mt-10{
		margin-top: 10px;
	}
	
	.mt-15{
		margin-top: 15px;
	}
	
	.mt-20{
		margin-top: 20px;
	}
	.mt-25{
		margin-top: 25px;
	}

	.mr-20{
		margin-right: 20px;
	}
	
	.mb-5{
		margin-bottom: 5px;
	}
	
	.mb-10{
		margin-bottom: 10px;
	}
	
	.mb-15{
		margin-bottom: 15px;
	}
	
	.mb-20{
		margin-bottom: 20px;
	}
	.mb-25{
		margin-bottom: 25px;
	}
	
	.mr-5{
		margin-right: 5px;
	}
	
	.mr-10{
		margin-right: 10px;
	}
	
	.mr-15{
		margin-right: 15px;
	}
	
	.mr-20{
		margin-right: 20px;
	}
	.mr-25{
		margin-right: 25px;
	}
	
	#wrapper{
		background-color: rgb(243, 243, 243) !important;
	}

	.containerBgColor{
		background-color: rgb(243, 243, 243) !important;
	}
	
	#content{
		/*background-color: rgb(243, 243, 243) !important;*/
		background-color: #f1f1f1 !important;
	}
	
	h2 {
		font-size: 2.2em;
	}
	
	

	#wrapper {
		height: 100%;
	    padding: 0;
    	margin: auto;
    	position: relative;
	}

	#banner {
		margin: auto;
		overflow-y: hidden;

		.site-title {
			margin: 0;
			font-weight: 300;
			font-size: 34px;
			
			> a:hover, > a:focus {
				text-decoration: none;
			}
			
			.logo > span {
				vertical-align: middle;
			}

			.site-name {
				color: #CCCCCC;
				font-size: 1.5em;
				margin-left: -0.1em;
			}
			
			.site-header-icon {
				text-shadow: 0 1px 0 #BBB;
			}
		}
	}

	#subbanner {
		font-size: 38px;
		font-weight: 300;
		line-height: 1.6em;
		margin-top: 5px;
		text-align: center;
		vertical-align: middle;
		text-shadow: 0 0 3px #bbb;

		.nav-banner-toggle {
			display: none;
		}
	}

	#navigation {
		.navbar-inner {
			background: none;
			border: none;
			padding: 0;
			@include box-shadow(none);
		}

		.nav {
			margin: 0;
			margin-top: 41px;
			> li {
				border: 1px solid #666666;
				border-width: 0 0 0 1px;
				margin: 0;
				padding: 0 6px;
				background-color: #555555;
				&.open {
					> a {
						color: #888;
						/*background-color: #EEE;*/
						background-color:#5cb260;
					}
				}

				&:hover, &.focus {
					color: #555;
					background-color: #666666;
					border-left: 5px #e32212 solid;
				}
				
				&:active {
					color: #555;
					background-color: #444444;
					border-left: 5px #e32212 solid;
				}
					
				> a {
					background: none;
					color: #BBB;
					font-weight: 300;
					text-transform: uppercase;
					padding: 8px 12px;
					margin: 0;
					@include text-shadow(none);
					@include border-radius(0);

					&:hover, &.focus {
						color: #FFFFFF;
						background-color: #999;
					}
				}
			}

			.active {
				> a {
					color: #EEE;
    				box-shadow: none;
				}
			}

			.dropdown-menu {
				background-color: #EEE;
				border-width: 0;
				margin: 0;
				left: 6px;
				@include border-radius(0);

				&:after, &:before {
					border-width: 0;
				}

				a {
					&:hover {
						background: #DDD;
						color: #333;
					}
				}
			}
		}

		.nav-helpers {
			display: none;
		}

		#personal-menu {
			&:before {
				content: "\f007";
				font-family: 'fontawesome-alloy';
				margin-right: 6px;
			}
		}

		#sign-in, #sign-out {
			/*color: lighten($colorHighlightInfo, 15%);*/
			color: #FFFFFF;
			font-size: 14px;

			&:before {
				content: "\f090";
				font-family: 'fontawesome-alloy';
				margin-right: 6px;
			}

			&:hover {
				background-color: $colorHighlightInfo;
				/*color: #EEEEEE;*/
				color: #FFFFFF;
			}
		}

		#sign-out {
			/*color: lighten($colorHighlightWarn, 10%);*/
			color: #FFFFFF;
			font-size: 14px;

			&:before {
				content: "\f08b";
			}

			&:hover {
				background-color: $colorHighlightWarn;
				color: #FFFFFF;
				font-size: 14px;
			}
		}
	}

	#sitesearch {
		display: table;

		.site-search-button {
			display: table-cell;
			background-color: #6A6A6A;
			padding: 4px 12px;
			color: #BBBBBB;
			border-radius:5px !important;
		}

		.site-search-button:hover {
			background-color: #FFFFFF;
			text-decoration: none;
			border-radius:5px !important;
		}

		.site-search-button:focus {
			text-decoration: none;
			border-radius:5px !important;
		}

		.site-search-form {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			overflow-x: hidden;
			@include single-transition(width 0.3s ease);

			.site-search-field {
				width: 100%;
				display: block;
				@include border-radius(0);
				margin: 0;
				font-size: 12px;
				line-height: 14px;
				padding: 8px;
				box-sizing: border-box;
				background: #616161;
				border: none;
				color: #BBBBBB;
				height: auto;
/* 				@include box-shadow(1px 1px 2px rgba(20, 20, 20, 0.6) inset); */
			}

			.site-search-field:focus {
				@include box-shadow(none);
			}
		}
	}

	

	.portlet {
		.portlet-topper {
			padding-left: 10px;

			.portlet-topper-toolbar {
				right: 7px;

				.caret {
					display: none;
				}
			}

			h1 {
				color: #fff;
				font-size: 15px;
				margin: 0;
			}
		}
	}

	.portlet-dockbar {
		.navbar-inner {
			background: #FFFFFF;
			@include box-shadow(none);
		}

		.sign-out {
			display: none;
		}
		
		.dockbar-user-notifications {
			.user-notification-link {
				padding: 5px;
			}
			
			.user-notifications-count {
				margin: 0;
				color: #BBBBBB;
			}
		}
	}
}