@import "compass";
@import "mixins";

/* ---------- Extras ---------- */

.aui {
	.main-carousel {
		margin: -12px -20px;
		padding: 0 !important;

		.carousel-container {
			.carousel-item {
				background: #FFF no-repeat right top;
				@include border-radius(4px);

				> span {
					display: block;
					padding: 20px;
					max-width: 250px;
					background: rgba(255 ,255, 255, 0.8);
					margin: 10px;
				}
			}
		}
	}
}