@import "compass";
@import "mixins";

$colorBackgroundHelperButtons: #3A3A3A;

@include respond-to(phone, tablet) {
	.aui {
		* {
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}

		#navigation {
			&.open {
				.nav-collapse {
					height: auto;
					overflow: visible;
				}
			}

			.navbar-inner {
				.nav-helpers {
					display: block;
				}
			}
		}

		.portlet-dockbar {
			.btn-navbar {
				padding: 3px 8px;
			}
		}
	}

	.aui .color-scheme-default {
		#navigation {		
			.navbar-inner {
				> .nav-collapse {
					background: $colorBackgroundHelperButtons;
				    left: 0;
				    position: absolute;
				    right: 0;
				    top: 111px;
				    z-index: 1050;

				    > .nav {
				    	padding: 10px;

						> li {
							margin: 2px 10px;
							padding: 6px 0;
							border-width: 1px 0 0 0;

							> a {
								padding: 10px 8px;
							}
						}
				    }
				}
			}

			.nav-item-dockbartoggle {
				display: none;
			}
		}

		#sitesearch {
			.site-search-form {
				.site-search-field {
					padding: 10px;
				}
			}
		}
	}

	.aui .color-scheme-dashboard {
		#content {
			margin-left: 0;
		}

		#banner {
			@include box-shadow(0 1px 4px 1px #888);

			&.toggler-content-collapsed {
				left: -230px;
			}
		}

		#subbanner {
			.nav-banner-toggle {
				display: block;
				margin: 2px;
			    position: fixed;
			    right: 0;
			    top: 0;
			    z-index: 1060;
	
			    > a {
			    	padding: 7px 10px;
	    			vertical-align: top;
	    			margin: 0;
			    }
			}
		}

		.portlet-dockbar {
			.dockbar {
				margin-left: 0;
			}
		}
	}
}

@include respond-to(phone) {
	.aui .color-scheme-default {
		#banner {
			.site-title {
				font-size: 24px;
			}
		}
	}
}