@import "compass";
@import "mixins";

$colorBackgroundBody: #FFFFFF;
$colorBackgroundHighlight: #9191EA;
$colorBackgroundSidebar: #666666;
$navigationWidth: 220px;
$dockbarHeight: 41px;

.aui .color-scheme-dashboard {
	padding: 0;
	.container-portal-normal{
		padding-right:0 !important;
		padding-left:0 !important;
		    background-color: #f1f1f1 !important;
		
	}
	.lfr-hudcrumbs{
		display:none;
	}
	
	.user-avatar-img{
		/*width: 100px;
		height: 100px;*/
		background-color: #cc0000;
	}
	.user-avatar-img-parent{
		background-color: #cc0000 !important;
		background-image: none;
		
		&:focus, &:hover{
			background-color: #cc0000 !important;
		}
	}
	
	.support-ul{
		margin:0 !important;
	}
	.support-ul li{
		padding-right:25px !important;
	}
	
	.support-ul .tt-nav-pills {
		background-color: rgb(243, 243, 243) !important;
		border-bottom: 5px rgb(243, 243, 243) solid;
	}
	.support-ul .tt-nav-pills a{
		background-color: rgb(243, 243, 243) !important;
	}
	.support-container #main-content{
		padding-top: 1px !important;
	}
	.support-header{
		padding: 25px 25px 5px 0;
		color: #333333;
		font-size: 24px;
	}
	
	.language-container{
		background-color: #cc0000;
		width: 45px;
		height: 45px;
		display: flex;
		margin-right: 10px;
		/*padding: 5px 2px 2px 3px;*/
		margin: 0 10px 0 10 px;
		
	}
	.language-a{
		padding: 10px;
		position: absolute;
	}
	
	
	/*.language{
	  background-color:#cc0000;
	  border-radius: 2px;
	}*/
	&.borderless-default {
		background-color: #FFF;

		.portlet-dockbar {
			.navbar-inner {
				background: #E32212;
				border: none;
			}
		}
	}

	&.dockbar-ready {
		.nav-helpers {
			display: none;
		}
	}

	#banner {
		background: $colorBackgroundSidebar;
	    position: fixed;
	    width: $navigationWidth;
	    height: 100%;
	    z-index: 1040;
	    left: 0;
	    @include single-transition(left 0.3s ease);
	}

	#heading {
		background-image: url(../images/bg_navbar_t.png);
		padding-top: 40px;

		.site-title {
		    font-size: 26px;
			background: $colorBackgroundSidebar;
			padding: 26px 10px;
			text-align: center;

			.icon-stack {
				font-size: 56px;
			}
	    }
	}

	#subbanner {
		display: none;
	}
	
	.navbar .nav li > a{
					color: #ffffff;
	}
	
	.navbar .nav .dropdown-menu li > a{
					color: #000;
	}
	
	.navigation-container{
		background-color: #555555;
		border-left: 5px #666666 solid;
	}
	.navigation-navbar{
		margin-left: -5px;
		//border-left: 6px red solid;
	}
	
	
	#navigation {
		.nav {
			float: none;
			> ul {
				margin:0px;
				padding:0px;
				
			}
			
			> li {
				float: none;
    			text-align: left;
				border-width: 0 0 0 0;
				//margin: 2px 0px;
				margin-left:0px;
				margin-right: 0px;
				margin-bottom: 1px !important;
				margin-top: 0px;
				border-left: 5px #666666 solid;
				/*padding: 20px;*/
				padding-left: 15px;
				/*border-bottom: 1px #aaaaaa  solid;*/
    			> a {
    				padding: 10px 8px;
    				color: #FFFFFF;
					
					> span{
						height: 60px;
						display: table-cell;
						vertical-align: middle;
					}
    			}			
			}
			
			.dropdown-menu {
				left: 0;
				top: 0;
				position: relative;
				float: none;
				@include box-shadow(none);
			}
			
			.navigation-li-active{
				border-left: 5px #e32212 solid;
				background-color: #444444 !important;
			}
		}

		.nav-helpers {
			position: fixed;
			right: 0;
			top: 0;

			.nav-item-sitenavigationtoggle {
				margin: 2px;
				padding: 0;
				border-width: 0;
			}
		}

		.nav-item-dockbartoggle {
			display: none;
		}

		.navbar-inner {
			.nav-collapse {
				height: auto;
    			overflow: visible;
			}
		}
	}

	#sitesearch {
		padding: 26px 10px 0;
		background: $colorBackgroundSidebar;
	}

	#main-content {
		/*padding: 20px 40px;*/
		padding-top:7px !important;
	}

	#content {
		/*margin-left: $navigationWidth;
		margin-top: $dockbarHeight;*/
		background-color: $colorBackgroundBody;
	}

	#breadcrumbs {
		.breadcrumb {
			padding: 0 15px;
			line-height: 40px;
			background-color: $colorBackgroundBody;
			color: #111111;
			font-size:24px;
			
			li > span.divider{
				display: none;
			}
			
			li > a,a:HOVER,a:ACTIVE{
				color: #111111;
			}
		}
	}

	.portlet {
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #D3D3D3;
		margin-bottom: 18px;
		@include border-radius(0px);

		.portlet-topper {
			height: 40px;
			line-height: 40px;
			@include border-radius(0px 0px 0 0);
		}
		
		.navbar-inner {
			@include box-shadow(none);
		}
	}

	.portlet-dockbar {
		.dockbar {
			z-index: 1041;
			background-image: url(../images/telkom/logo.png);
			background-repeat:no-repeat;
			position: absolute; /* done by nikita for defect BVTR2S2-014*/
			padding-left: 182px;
			/*border-bottom: 3px solid #E32212;*/
			background-size: 168px 23px;
			background-color: #E32212;
			
			background-position-x: 15px;
			background-position-y: 12px;
			/*.user-avatar-image {
				max-height: 18px;
			}*/
		}
	} 
}
.aui {
	@media (min-width: 980px) and (max-width: 1070px){
		.site-content{
			margin-top:40px ;
		}
	}
}
.aui {
	@media (min-width: 320px) and (max-width: 360px){
		.site-content{
			margin-top:40px ;
		}
	}
}

@media (max-width: 767px) {
	 /* Added by nikita for defect BVTR2S2-014*/
    .aui .navbar-fixed-top, .aui .navbar-fixed-bottom, .aui .navbar-static-top{
	margin-right: 0px !important;
}
}