.footer_contentleft{
	padding-left: 20px;
}
.footer_contentright{
	padding-right: 20px;
	text-align: right;
}
.footer_content2{
	background-color: #aaaaaa;
}

.copyright{
	color: 	#888888;
	font-size: 12px;
	position: relative;
    left: 1%;
}

.helpNumer{
	color: #555555;
	font-size: 22px;
}

.support{
	color: #555555;
	font-size: 12px;
	display: block;
}

.tt-footer-link{
	color: #555555;
	font-size: 14px;
	display: block;
}
.tt-footer-link-color,
.tt-footer-link-color :focus,
.tt-footer-link-color :hover{
	color: #fff !important;
	text-decoration: none;
}
footer section ul{
	margin-left: 0px;
}

footer section ul li{
	margin-left: 0px;
}

.list-unstyled{
	list-style: none;
}

footer.top-section{
	width: 100% !important;
	margin-left: 50px !important;
	margin-top: 20px;
}

.mb20 {
	margin-bottom: 20px;
}

.subhead4{
	margin-left: 25px;
	color: #333333!important;
  	font-size: 14px !important;
  	border-bottom: #555555 1px solid;
  	font-weight: bold;
  	text-decoration: none !important;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}
  
.sublink{
 	color: #333333!important;
  	font-size: 12px !important;
}
  

footer {
  background: #aaaaaa;
  border-top: 2px solid #E32212;
}
.footercl{
	color:#080808 !important ;
	text-decoration:none !important;
}

@media (max-width: 768px) {
	.footer_contentright{
		text-align: left;
		padding-left: 20px;
		padding-top: 20px;
	}
}
