.aui
	{
	#anchortag{
		outline:0;
		padding: 2px 0px 2px 43px !important;
		word-break: break-word;
		word-break: keep-all;
		line-height: 20px;
		width: 100px;
	}

	#anchortag span{
		text-transform: capitalize;
		font-size: 16px;
	}
	#sign-out-li:hover{
		background-color: #953537 !important;
	}
	#sign-in-li:hover{
		background-color: #5cb260 !important;
	}

	#sign-in-li:hover a.sign-in{
		background-color: #5cb260 !important;
	}

	.delete-tab{
		right: 5px !important;
	}

	.site-content-fluid{
		margin-left: 0 !important;
	}

	
	@media (min-width: 1370px) {
		.navigation_span2 {
			width: 15% !important;
		}

		.navigation_span10 {
			width: 85% !important;
			margin-left:0 !important;
		}
	}
	
	@media (min-width: 1241px) and (max-width: 1370px) {
		.navigation_span2 {
			width: 15% !important;
		}

		.navigation_span10 {
			width: 85% !important;
			margin-left:0 !important;
		}
	}

	@media (min-width: 1170px) and (max-width: 1240px) {
		.navigation_span2 {
			width: 17% !important;
		}

		.navigation_span10 {
			width: 82% !important;
			margin-left:0 !important;
		}
	}

	@media (min-width: 1070px) and (max-width: 1169px) {
		.navigation_span2 {
			width: 16% !important;
		}

		.navigation_span10 {
			width: 84% !important;
			margin-left:0  !important;
		}
	}

	@media (min-width: 996px) and (max-width: 1069px) {
		.navigation_span2 {
			width: 17% !important;
		}

		.navigation_span10 {
			width: 83% !important;
			margin-left:0  !important;
		}
	}

	@media (min-width: 980px) and (max-width: 995px) {
		.navigation_span2 {
			width: 17% !important;
			display:block!important;
		}

		.navigation_span10 {
			width: 83% !important;
			margin-left:0  !important;
		}
	}

	@media (min-width: 930px) and (max-width: 979px) {
		.navigation_span2 {
			width: 17% !important;
			display:none;
		}

		.navigation_span10 {
			width: 100% !important;
			margin-left:0  !important;
		}
	}

	@media (min-width: 915px) and (max-width: 929px){
		.navigation_span2 {
			width: 22% !important;
		}

		.navigation_span10 {
			width: 100% !important;
			margin-left:0  !important;
		}
	}

	@media  (min-width: 890px)  and (max-width: 914px){
		.navigation_span2 {
			width: 22% !important;
		}

		.navigation_span10 {
			width: 100% !important;
			margin-left:0  !important;
		}
	}

	@media (min-width: 811px) and (max-width: 889px) {
		.navigation_span2 {
			width: 25% !important;
		}

		.navigation_span10 {
			width: 100% !important;
			margin-left:0  !important;
		}
	}


	@media  (min-width: 796px) and (max-width: 810px){
		.navigation_span2 {
			width: 24% !important;
		}

		.navigation_span10 {
			width: 100% !important;
			margin-left:0  !important;
		}
	}

	@media (min-width: 769px) and (max-width: 795px) {
		.navigation_span2 {
			width: 24%% !important;
		}

		.navigation_span10 {
			width: 100% !important;
			margin-left:0  !important;
		}
	}

	@media (min-width: 642px) and (max-width: 768px) {
		.navigation_span2 {
			width: 100% !important;
		}

		.navigation_span10 {
			width: 100% !important;
			margin-left:0  !important;
		}
	}

	@media (min-width: 600px) and (max-width: 641px) {
		.navigation_span2 {
			width: 100% !important;
		}

		.navigation_span10 {
			width: 100% !important;
		}
	}

	@media  (min-width: 320px) and (max-width: 599px)  {
		.navigation_span2 {
			width: 100% !important;
		}

		.navigation_span10 {
			width: 100% !important;
		}
	}


	@media (max-width: 768px) {
		.navigation_navbar {
			position: inherit !important;
			visibility: hidden;
			display: block;
		}
	}


	.col-wrap{
		overflow: hidden; 
	}

	@media (min-width: 768px) {
		.col{ 
			margin-bottom: -99999px;
			padding-bottom: 99999px;  
			margin-left: 0 !important;
		}

		
		.col-base{ 
			margin-top: -15px; /* cut off top portion of bottom wells */
		}
		
		.navigation_navbar{
			visibility: visible;
			display: block;
		}
	}
	
	@media (max-width: 979px) and (min-width: 768px){
		#leftbannnerspan{
			width:100% !important;
		}
	}

}