@media ( max-width : 500px) {
	.aui .tt-container>.tt-header>.tt-page-title {
		font-size: 15px !important;
	}
	.tt-graph-title {
		font-size: 14px !important;
		float: left;
	}
	.tt-cloudgraph-legend {
		position: absolute;
	}
	.tt-totalcapacity {
		margin-top: 20%;
	}
	.tt-cloudcontainer {
		padding-left: 8px !important;
		padding-right: 5px !important;
	}
	.tt-inline-progress {
		width: 100% !important;
		margin-right: 17px;
	}
	.tt-container {
		height: auto !important;
	}
	.tt-graph-title {
		position: relative;
		left: 5% !important;
	}
}


@media ( min-width : 501px) and (max-width: 629px) {
.tt-cloudgraph-legend {
		position: absolute;
		margin-top: 40% !important;
	}
}
@media ( min-width : 501px) and (max-width: 767px) {
	.aui .tt-container>.tt-header>.tt-page-title {
		font-size: 15px !important;
	}
	.tt-graph-title {
		font-size: 14px !important;
		float: left;
	}
	
	.tt-cloudcontainer {
		padding-left: 8px !important;
		padding-right: 5px !important;
	}
	.tt-inline-progress {
		width: 100% !important;
		margin-right: 17px;
	}
	.tt-container {
		height: auto !important;
	}
	.tt-graph-title {
		position: relative;
		left: 5% !important;
	}
	.tt-cloudvm {
		float: left !important;
	}
	.text-center{
	margin-top: 10px;
    margin-left: 35%;
    text-align: center;
	}
}

@media ( min-width : 768px) {
	.tt-cloudgraph-legend {
		margin-top: 5% !important;
		margin-left: 15% !important;
	}
	.tt-center-legend {
		margin-left: -3% !important;
		margin-top: -3% !important;
	}
}

.tt-graph-title {
	position: relative;
	left: 8% !important;
}

.fontsize {
	font-size: 12px !important;
}

.tt-graph-legend {
	font-size: 13px;
}

.tt-green-legend {
	position: relative;
	bottom: 10px;
}

.tt-legend-text-green {
	position: relative;
	bottom: 10px;
}

.tt-orange-legend {
	position: relative;
	bottom: 10px;
}

.tt-legend-text-orange {
	position: relative;
	bottom: 10px;
}

.tt-red-legend {
	position: relative;
	bottom: 10px;
}

.tt-legend-text-red {
	position: relative;
	bottom: 10px;
}

.create-VM {
	background: url(../images/PostNewThread_W_16.png) no-repeat 10px 10px
		#E32212;
	box-shadow: 2px 2px 2px #B52217;
	background-color: #E32212;
	padding: 7px 10px 7px 10px;
	border: 0;
	color: #ffffff;
}

.extra_style {
	color: white;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.bs-example {
	margin: 20px;
}

#progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	border-radius: 15px !important;
}

.aui .tt-container>.tt-graph-legend-container>.tt-graph-legend>div>div {
	margin-right: 24px;
}

#progress-bar {
	float: left;
	width: 0;
	height: 20px !important;
	font-size: 11px;
	line-height: 18px;
	color: black;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
}

.aui .table-bordered th, .aui .table-bordered td {
	border-left: 0px;
}

.tt-inline-progress {
	width: 58%;
}

#vm {
	background-color: #ffffff;
	font: 10px sans-serif;
	text-shadow: none;
}


#vm .total {
	font-size: 20px;
	fill:#888888;
	font-family: 'Gotham Rounded Book' ! important;
	text-shadow: none;
	text-decoration: none !important;
	font-weight: normal;
}

#vm .units {
	fill: #888888;
	font-size: 15px;
	font-family: 'Gotham Rounded Book' ! important;
	text-shadow: none;
	text-decoration: none !important;
	font-weight: normal;
}

#vm .label{
	fill: #888888;
	font-size: 18px;
	font-family: 'Gotham Rounded Book' ! important;
	text-shadow: none;
	text-decoration: none !important;
	font-weight: normal;
}

#vm .value {
	font-size: 20px !important;
	font-weight: bold;
	font-family: 'Gotham Rounded Book' ! important;
	text-shadow: none;
	text-decoration: none !important;
	font-weight: normal;
}
button{
border-radius:5px !important;
}

@media ( min-width : 1080px) and ( max-width: 1190px) {
	#tt-cloudvm {
		background-color: transparent !important;
	}
	#legend-new{
	    margin-left: -50px !important;
	}
}

@media ( min-width : 800px) and ( max-width: 1079px) {

.tt-cloudgraph-legend {
		position: relative;
		right: 10%;
	}
}


@media ( min-width : 630px) and ( max-width: 768px) {
.tt-cloudgraph-legend {
		position: relative;
		top: -164px;
	}
}

@media ( min-width : 800px) {
	#vm {
		background-color: transparent !important;
		position: relative  !important;
		right: 15%  !important;
	}
}