button{
border-radius:5px !important;
}
.data-rows-grid{
	cursor: pointer;
}

#gridTableData {
  width: 98%;
  margin: 15px;
  background-color: #fff;
}

#gridTableData td {
  height: 60px;
  border: solid 2px black;
  text-align: center;
}

tr.gridHeadings {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#gridTableData td:first-child {
  font-weight: bold;
  color: rgb(85, 85, 85);
}

#gridTableData td {
  height: 60px;
  border: solid 2px black;
  text-align: center;
  width: 12%;
}

tr.gridHeadings {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

td.OrderReceived {
  background-color: #000000;
}

td.DetailedDesign {
  background-color: #A40800;
}

td.Procurement {
  background-color: #7030A0;
}

td.DeliveryandActivation {
  background-color: #00B0F0;
}

td.Monitoring {
  background-color: #FA8072;
}

td.Operational {
  background-color: #89C35C;
}

td.total {
  color: rgb(85, 85, 85);
}
#listingDatatable_wrapper{
	zoom:90% !important;
}
