button{
border-radius:5px !important;
}
div#listingDatatableDiv {
  padding: 15px;
}

table#listingDatatable {
  background-color: rgb(204, 204, 204);
}

#listingDatatable td {
  background-color: #fff;
  height: 45px;
}

a.paginate_button.disabled:hover {
  border-bottom: solid transparent !important;
  background-color: transparent !important;
}

a.paginate_button:hover {
  border-bottom: solid 2px #f00 !important;
  background-color: transparent !important;
}

a.paginate_button.current {
  border-bottom: solid 2px red !important;
}

.srlSearchBox {
    float: right;
    padding-bottom: 5px;
    display:inline-flex;
}

#srListSearchTxt {
    font-size: 12px !important;
    height: 25px;
}

button.normalSearch {
    background-image: url("../images/srch.png");
    height: 35px;
    width: 35px;
    border-style: none;
}

button#advSearchButton {
    background-image: url("../images/srchad.png");
    height: 35px;
    width: 35px;  
    border-style: none;
}

button.advSearchButton {
    background-image: url("../images/srchad.png");
    height: 35px;
    width: 35px;  
    border-style: none;
}

