button{
border-radius:5px !important;
}
@media (min-width: 501px) and (max-width: 767px){
	div#graphIncdicatorDiv {
	    display: table !important;
	}
	#ManageSecurity{
	width: 50% !important;
    position: relative;
	float: left;
    padding-left: 1%;
    padding-top: 10%;
    text-align: -webkit-center;
    }
	div#summaryHeader {
		font-size:18px !important;
	}
	#barGraphDiv1, #barGraphDiv2, #barGraphDiv3{
		border-left:none !important;
		border-right:none !important;
	}
	#barGraphDisplay {
    margin: 0px 0px 0px 0px !important;
	}
	div#y-axis-qty{
	left:10px !important;
	top:0px !important;
	}
	.tt-bargraph-mobile{
		text-align: center;
	}
	.tt-barlegends{
		display: table;
	}
	#graphIncdicatorDiv{
	margin-left: 10px;
	}
	#barGraphDisplay {
	justify-content: center;
	display: inline-block !important;
	}
	#togglelabel{
		display:block !important;
	}
	#toggleheaderlabel{
		display:none !important;
	}
	#MNS{
		width: 50% !important;
		position: relative;
		float: left;
		padding-left: 1%;
		text-align: -webkit-center;      
	}
	#Cloud{
		width: 50% !important;
		position: relative;
		float: left;
		padding-left: 1%;
		text-align: -webkit-center;      
	}
	#SaaS{
		width: 50% !important;
		position: relative;
		float: left;
		padding-left: 1%;
		padding-top: 10%;
		text-align: -webkit-center;
	}
	#UC{
		width: 49% !important;
		position: relative;
		float: right;
		padding-left: 1%;
		padding-top: 10%;
		text-align: -webkit-center;      
	}
	div#summaryHeader{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	border-bottom: solid 1px #ccc;
	padding: 5px 0;
	}
	
	.tt-evdashboard-header{
		font-weight:bold !important;
	}
	.tt-thspeedometer{
		vertical-align:top !important;
		font-size: 12px !important;
		padding: 3px !important;
	}
	.tt-orange-legend{
		    margin-top: 50% !important;
	}
}


@media (max-width: 500px){
		div#graphIncdicatorDiv {
	    display: table !important;
		}
	div#summaryHeader {
		font-size:18px !important;
	}
	#barGraphDiv1, #barGraphDiv2, #barGraphDiv3{
		border-left:none !important;
		border-right:none !important;
	}
	.tt-bargraph-mobile{
		text-align: center;
	}
	.tt-barlegends{
		display: table;
	}
	#graphIncdicatorDiv{
	margin-left: 10px;
	}
	#barGraphDisplay {
	justify-content: center;
	display: inline-block !important;
	}
	#togglelabel{
		display:block !important;
		margin-top: 20px;
		margin-left: 10px;
	}
	#toggleheaderlabel{
		display:none !important;
	}
	.tt-thspeedometer{
		vertical-align:top !important;
		font-size: 12px !important;
		padding: 3px !important;
	}
	.tt-green-legend{
		width: 12px !important;
		background-color: #a3cf62;
		height: 12px !important;
	}
	.tt-orange-legend{
		width: 12px !important;
		background-color: #ff9c00;
		height: 12px !important;
		margin-top: 10px;
	}
	.tt-red-legend{
		width: 12px !important;
		background-color: #e32212;
		height: 12px !important;
	}
	.tt-evdashboard-header{
		text-align: center !important;
		font-size: 15px !important;
		margin-bottom: 10px !important ;
		font-weight:bold !important;
	}
	.tt-tdspeedometer{
		font-size: 11px;
		padding: 3px !important;
	}
	.tt-servicetype{
		margin-top: 30%;
		margin-left: 10%;
	}
	div#y-axis-qty{
	left:10px !important;
	top:0px !important;
	}
	div#summarySection {
	margin: 10px;
	border: solid 1px #ccc;
	}
	#barGraphDisplay svg {
    position: relative;
    top: 5px;
    padding: 20% 0 0 0 !important;
    overflow: visible !important;
	}
	
	div#summaryHeader{
	font-size: 15px !important;
	}
	#barGraphDisplay {
    margin: 0px 0px 0px 0px !important;
	
	}
}

.tt-displaysite-header{
	    margin-left: 3%;
}

.tt-barlegends{
		margin-right: 15px;
	}
#togglelabel{
	display:none;
}
#toggleheaderlabel{
	display:block;
}

.tt-evdashboard-header{
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 15px !important ;
}
.tt-thspeedometer{
	background-color:#D3D3D3;
	border: 1px solid #D3D3D3 !important;
	font-size: 15px;
}
.tt-tdspeedometer{
	border: 1px solid #ccc !important;
	text-align: center !important;
}
.tt-legend-text-red{
	position: relative;
	bottom: 10px;
	color:#e32212;
}
.tt-red-legend{
	width: 15px;
	background-color: #e32212;
	height: 15px;		
}
.tt-green-legend{
	width: 15px;
	background-color: #a3cf62;
	height: 15px;			
}
.tt-orange-legend{
	width: 15px;
	background-color: #ff9c00;
	height: 15px;	
}
.serviceIndicator{
	display: inline-block;
	margin-right: 10px;
}
.colorIndicator{
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: blue;
	margin-right: 10px;
}
#filterResultDiv svg{
	//width : 135px;
	width : auto !important;
}
.Grey > svg > g > .chart-color1{
    fill: #D3D3D3 !important;
}
.Grey > svg > g > .chart-color2{
    fill: #C1BABA !important;
}
.Grey > svg > g > .chart-color3{
    fill: #989292 !important;
}
.Grey > svg > g >.needle{
	fill: #726B6B !important;
}
.Grey > svg > g >.needle-center{
	fill: #726B6B !important;
}
div#readerSection {
	margin: 0px 40px 0 40px;
	display: block;
	border: solid 1px #ccc;
	padding: 20px;
}
body {
    font-family: Gotham Rounded Book;
    font-size: 1em;
}
h1{
	font-family: Gotham Rounded Book;
	font-size: 1em;
}
.chart-color1 {
	fill: #a3cf62;
}
.chart-color2 {
	fill: #ff9c00;
}
.chart-color3 {
	fill: #e32212;
}
.needle,
.needle-center {
	fill: #000000
}
.tt-servicetypelabel {
	float: left;
	font-weight :bold;
	font-size: 16px !important;
}
.tt-servicetype {
	width: 125% !important;
}
.tt-service-all{
	width: 15%;
	float : left;
	height: 50px;
	margin-right:5%;
}
.headers-spd{
	font-weight : bold;
	font-family: Gotham Rounded Book;
	font-size: 1.2em;
	position: absolute;
	width: 17%;
	text-align: center;
	top: -12%;
}
label.entityLabels{
	display: inline;
	position: relative;
	top: 3px;
	font-family: Gotham Rounded Book;
	font-size: 14px;
	left: 10px;
}
div#filterPanelDiv{
	display: inline-block;
	position: relative;
	top: -75px;
	left: 3px;
}
div#filterResultDiv {
	display: inline-block;
	position: relative;
}
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
rect {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
rect:hover{
	fill: orange;
}
#barGraphDiv1, #barGraphDiv2, #barGraphDiv3 {
	display: inline-block;
	border-bottom: solid 1px #ccc;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	text-align: center;
}
#barGraphDisplay {
	justify-content: center;
	display: flex;
	
}
#barGraphDisplay svg {
	position: relative;
	top: 5px;
	padding: 10% 0 0 0;
	overflow: visible !important;
}
.parentDiv > .childDiv {
    float: left;
    width: 33%;
}
div#plainDiv {
	display: block;
	height: 10px;
	border-bottom: solid 1px #ccc;
	margin: 0px -20px 0px -20px;
}
div#summarySection {
	margin: 10px 40px;
	padding: 0;
	border: solid 1px #ccc;
}
div#summaryHeader {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-bottom: solid 1px #ccc;
	padding: 5px 0;
}
div#graphIncdicatorDiv {
	width: 100%;
   /*  display: flex; */
    justify-content: center;
    align-items: center;
    font-size:12px !important;
}
div#barGraphXReader>.barGraphText {
	float: right;
	width: 33%;
	text-align: center;
}
div#barGraphXReader {
	display: flex;
	justify-content: center;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	border: 1px solid #000;
}
div{
	font-family: Gotham Rounded Book;
}
#evdashboardtable {
	font-weight: bold;
	color: #000;
	text-align: center;
	border: solid 1px black;
}
table#evdashboardtable td, th {
	text-align: center !important;
}
.header{
	text-align: center; 
	width: 100%; 
	height: 5%; 
	padding-top: 1px;
	font-weight: bold;
	font-size: 25px;
	color : #808080;
	border-bottom : 1px solid #ccc;
}
.dbmtrx{
	padding-top : 5px;
}
div#evdashboardmatrixheader {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
	border-top: solid 1px #ccc;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	margin: 10px 40px 0 40px;
}
.dbmtrx.container-fluid {
	margin: 0px 40px;
	border: solid 1px #ccc;
	padding: 1% 5%;
}
.allGreyOut{
	fill:black !important;
}

.Grey{
	cursor: default !important;
}
div.ServMQY.CursorCustom > svg > g{
	cursor: pointer !important;
}

div#y-axis-qty {
	font-weight: bold;
	position: relative;
	left: 2%;
}	
div#contactAdminDiv {
	text-align: center;
	height: 150px;
	font-size: 16px;
	font-weight: bold;
	padding-top: 30px;
}
.ServiceTypeLbl {
	width: 40%;
	float: left;
	position: relative;
	top: 30px;
	font-weight : 900 !important;
	font-family: Gotham Rounded Book;
	font-size: 17.5px !important;
}
.ServiceType {
	width: 125% !important;
}
.ServMQY{
	width: 15%;
	float : left;
	height: 50px;
	margin-right:5%;
}

#tt-MNSlabel{
	margin-left: 2%;
	margin-top:2%;
}
#tt-ManageSecurityLabel{
    margin-top: 2%;
}
#tt-SaaSlabel{
	margin-top: 2%;
}
#tt-Cloudlabel{
	margin-top: 2%;
}
#tt-UCLabel{
	margin-top: 2%;
}
.tt-displaySite-check{
	border-bottom: 1px solid #ccc;
}
.tt-empty{
	margin-right: -8% !important;
}
.tt-monthlyhdr{
	padding-left: 8% !important;
    margin-top: 1% !important;
}
.tt-quarterlyhdr {
	padding-left: 10% !important;
    margin-top: 1% !important;
}
.tt-yearlyhdr{
	padding-left: 13% !important;
    margin-top: 1% !important;
}
.table-responsive{
    padding-left: 30px;
    padding-right: 30px;
}

.CursorCustom > svg {
    cursor: pointer !important;
}


@media (min-width: 768px){

.tt-bargraph-boxleft{
	margin-left:2.5% !important;
}
.tt-bargraph-boxright{
	margin-right:2.5% !important;
}
.tt-sitetoggleheader{
	margin-left:3%;
}

}
.tt-bargraph-mobile{
		text-align: center;
	}
	.tt-page-evicon{
	margin-top: -10px;
	height: 50px !important;
	}
.portlet-column-content.empty{
       padding: 0px !important;
}
.aui .mt-20{
           margin-top: 20px !important;
}

#summaryButton{
	
	background: url(/TTApplicationPortlets/images/u5.png) no-repeat;
    font-size: 100%;
    float: right;
    height: 39px;
    color: white;
    background-color: #777;
    border-radius: 5px!important;
    position: relative;
    /* bottom: 0px; */
    z-index: 1;
    margin: 5px;
}
	