@media (min-width: 600px) and (max-width: 768px) {
	.welcomeMessageHolder {
		height: 56px !important;
	}
	.welcomeText {
		text-align: center !important;
		padding-top: 4px !important;
		font-size: 16px !important;
	}
	.home-main-container {
		height: auto !important;
		margin: 10px !important;
	}
	.service-container_black {
		position: relative;
		left: 40% !important;
		margin-top: 5% !important;
	}
	.service-container-grey {
		position: relative !important;
		left: 40% !important;
		margin-top: 5% !important;
		margin-bottom: 5% !important;
	}
	#chat-survey {
    display: none !important;
	}
}

@media (max-width: 599px) {
	.welcomeMessageHolder{
		 height: 65px !important;
		
		}
	.welcomeText {
		text-align: center !important;
		padding-top: 4px !important;
		font-size: 20px !important;
	}
	.home-main-container {
		height: auto !important;
		margin: 10px !important;
	}
	.service-container_black {
		text-align: center !important;
		position: relative !important;
		top: 27% !important;
		width: 13% !important;
		margin-left: 12% !important;
		position: relative;
		left: 33% !important;
		margin: 15px !important;
	}
	.service-container-grey {
		text-align: center !important;
		position: relative !important;
		top: 27% !important;
		color: #969693;
		width: 13% !important;
		position: relative !important;
		left: 33% !important;
		margin: 15px !important;
	}
	#uc_grey{
	top: 22% !important;
	}
	#uc_black{
	top: 22% !important;
	}
	#chat-survey {
    display: none !important;
	}
}

.home-main-container{
    background-color: #fff;
    height: 400px;
    border: solid 1px #ccc;
    border-radius: 17px;
    width: 95% !important;
    font-size: 18px;
    font-weight: bold;
}

.service-container{
    display:none !important;
    text-align: center;
    position: relative;
    top: 27%;
    width: 14% !important;
}

.service-container_black{
    text-align: center;
    position: relative;
    top: 27%;
    width: 14% !important;

}

.service-container-grey{
    text-align: center;
    position: relative;
    top: 27%;
    color: #969693;
     width: 14% !important;
    
}

.tt-progess{
    margin-bottom: 0 !important;
}

/* #cloud_black{
top: 21.9% !important;
} */

.welcomeMessageHolder{
  	border: solid 1px #ccc;
    height: 54px;
    /* vertical-align: -webkit-baseline-middle; */
    /* position: relative; */
    /* top: 10px; */
    background-color: #e32212;
    border-radius: 8px;
    color: #fff;
    text-align: center;
	}
	
	.welcomeText{
    text-align: center;
    padding-top: 12px;
    font-size: 22px;
    }
	

	.tt-lastupdate-timestamp-device{
		display: none;
	}
	.tt-dashboard-header{
		background-color: #ffffff;
		border-bottom: 2px solid #cccccc;
		padding: 20px;
	}
	.tt-update{
		text-align: right;
	}
	
	.refresh{
		background: url("/TTPortalTheme/images/telkom/refresh.png") no-repeat 10px 10px #555555; 
		background-color: #555555;
		padding: 10px 10px 10px 35px;
		border: 0;
	}
	
	.tt-lastupdate-timestamp,.tt-lastupdate-btn {
		display: inline-block;
	}

@media ( min-width : 768px) and (max-width: 980px) {
	.welcomeMessageHolder {
		height: 55px !important;
	}
	#chat-survey {
    display: none !important;
	}
}

@media ( min-width : 768px) and (max-width: 820px){
		.tt-dashboard-header{
			padding: 20px !important;
		}
		
		.tt-breadcrumb{
			width: 40% !important;
			float: left !important;
		}
		.tt-update{
			width: 57% !important;
			float: left !important;
		}
		.welcomeText {
		padding-top: 4px !important;
		}
	#chat-survey {
		display: none !important;
	}
}
	
	
	@media (min-width: 566px) and (max-width: 767px){
		.tt-dashboard-header{
			padding: 20px !important;
		}
		
		.tt-breadcrumb{
			width: 40% !important;
			float: left !important;
		}
		.tt-update{
			width: 60% !important;
			float: left !important;
		}
		.welcomeText {
		padding-top: 4px !important;
		}
		.welcomeMessageHolder{
		 height: 65px !important;
		
		}
		#chat-survey {
    display: none !important;
	}
	}

	@media (min-width: 320px) and (max-width: 565px){
	.tt-dashboard-header{
			padding: 20px !important;
		}
		.tt-breadcrumb{
			width: 100% !important;
			float: left !important;
		}
		.tt-update{
			padding-top: 10px;
			width: 100% !important;
			float: left !important;
			text-align: left;
		}
		.dashImageHolder{
			margin-left: 0px !important;
		}
		.welcomeText {
		padding-top: 4px !important;
		}
		#chat-survey {
    display: none !important;
	}
	}
	
	@media (min-width: 320px) and (max-width: 565px){
		.tt-lastupdate-timestamp{
			display: none;
		}
		
		.tt-lastupdate-timestamp-device{
			display: inline-block;
		}
		
		.tt-lastupdate-btn{
			float: right;
		}
		
		.welcomeText {
		padding-top: 4px !important;
		}
		#chat-survey {
    display: none !important;
	}
	}
	
	@media (max-width: 979px) and (min-width: 768px){

	.welcomeText {
		text-align: center !important;
		padding-top: 12px !important;
		font-size: 20px !important;
	}
	.home-main-container {
		height: 303px !important;
		margin: 10px !important;
	}
.service-container_black {
		text-align: center !important;
		position: relative !important;
		top: 18% !important;
		width: 12% !important;
		margin-left: 12% !important;
		position: relative;
		left: 0% !important;
		margin: 12px !important;
	}
	.service-container-grey {
		text-align: center !important;
		position: relative !important;
		top: 15% !important;
		color: #969693;
		width: 13% !important ;
		position: relative !important;
		left: 0% !important;
		margin: 12px !important;
	}
	/* #uc_grey{
	top: 8% !important;
	} 
	/* #uc_black{
	top: 8% !important;
	} 
	#cloud_grey{
	top: 11% !important;
	}
	 #cloud_black{
	top: 11% !important;
	} */
}

@media (min-width: 980px){
	/*  #cloud_black{      
	 top: 21.9%!important;
	 } */
}

@media (min-width: 980px) and (max-width:1130px) {
	.welcomeMessageHolder {
		height:61px !important;
	}
}
	