

.ipScapeChatMore{
	background: url("../images/more.png");
    height: 16px;
    width: 16px;
    position: relative;
    left: -5%;
    top: 30%;
}

.ipScapeChatLess{	
	background: url("../images/less.png");
	height: 16px;
	width: 16px;
	position: relative;
    left: 70%;
}

#ipScapeChatButton{
	background: #FFF;
	border-right-style: none;
	border-left-style: none;
	height: 46px;
	TEXT-ALIGN: LEFT;
	width: 100%;
	min-width: 150px;
	/* border-radius: 3px; */
	padding-left: 15px;
	padding-right: 15px;
	TEXT-DECORATION: NONE;
	color: #555555;
	font-size: 14px;
	border-bottom: solid 1px #ccc;
}
a.ssry {
    background:url(../images/seh.png)no-repeat;
    display:block;
    height:50px; 
}
#ipScapeChatHeader{
		width: 77%;
	height: 44px;
	border-radius: 3px;
	/* background-color: white; */
	display: flex;
	margin-top: 10px;
	
}