#callbackDateId{
	margin-left: -181px;
}
#callbackDateEditId{
	margin-left: -175px;
}
#rangeTimeDiv{
	margin-left: 1px; 
}
#rangeTimeEditDiv{
	margin-left: 1px; 
}
#rangeTimeEdit{
	    width: 112px !important;
}
.comments{
  	word-break: break-word;
  	white-space:pre-wrap;
  	word-wrap:break-word;
  	word-break: keep-all !important;
}
button {
	border-radius: 5px !important;
}
.tt-ipscape-contains {
	display: inline-table;
	margin: 7px;
}
.tt-submit {
	float: right;
}
.modal-backdrop.in {
	filter: alpha(opacity = 50);
	opacity: 0.4 !important;
}
.aui .tt-container {
	border: none !important;
}
#rangeTime {
	width: 112px !important;
}
#logDesc, #comments {
	resize: none;
	width: 60% !important;
}
.hideDIV {
	display: none;
}
.showDIV {
	display: block;
}
.error {
	color: #e32212 ! important;
}
#comments {
	resize: none;
	width: 60% !important;
}
@font-face {
	font-family: 'MyWebFont';
	src: url('fonts/GothamRoundedBook.woff') format('woff'),
		url('fonts/GothamRoundedBook.ttf') format('truetype');
}
body {
	font-family: 'MyWebFont';
}
#okbuttonid {
	background-color: #777777;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	margin-right: 5px;
	box-shadow: 0 2px 2px -2px #777777;
	border-radius: 3px;
	height: 34px;
	width: 82px;
}
#cancelRequest {
	background-color: #777777;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	margin-right: 5px;
	box-shadow: 0 2px 2px -2px #777777;
	border-radius: 3px;
	height: 34px;
	width: 82px;
}
.logTitle {
	font-size: 15px !important;
}
#IpscapeOpenID {
	background-image: url(../images/CallBack_W_24.png);
	background-repeat: no-repeat;
	background-position: 10px 13px;
	padding: 10px 10px 10px 48px;
	border: 0;
	background-color: #b3b3b3 !important;
	box-shadow: 0px 0px 0px #555 !important;
	color: #ffffff;
}
#submitRequest:hover {
	background-color: #555555;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	/* margin-right: 5px; */
	box-shadow: 0 2px 2px -2px #555;
	border-radius: 3px;
	margin-top: 2px;
}
#cancel {
	background-color: #777777;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	margin-right: 5px;
	box-shadow: 0 2px 2px -2px #777777;
	border-radius: 3px;
}
#cancel:hover {
	background-color: #555555;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	margin-right: 5px;
	box-shadow: 0 2px 2px -2px #555;
	border-radius: 3px;
}
.btn-secondary-tt {
	background-color: #777;
	color: #fff !important;
	font-size: 14px;
	line-height: 1 !important;
	border: 0;
	box-shadow: 2px 2px 2px #555 !important;
	-moz-box-shadow: 2px 2px 2px #555;
	-webkit-box-shadow: 2px 2px 2px #555;
}
.img-cancel {
	background-image: url(../images/Cancel_W_16.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding: 10px 10px 10px 41px;
	border: 0;
	color: #ffffff;
}
#submitRequest {
	background-image: url(../images/SubmitRequest_W_16.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding: 10px 10px 10px 41px;
	border: 0;
	color: #ffffff;
	margin-top: 2px;
	background-color: #777;
}
#resetButtonID {
	background-image: url(../images/Cancel_W_16.png);
	margin-left: 60% !important;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding: 10px 10px 10px 41px;
	border: 0;
	color: #ffffff;
}
#resetButtonIDEdit {
	margin-left: 60% !important;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding: 10px 10px 10px 41px;
	border: 0;
	color: #ffffff;
}
.incVoiceSupprt {
	position: fixed !important;
	top: 300px !important;
	right: 1px !important;
	z-index: 1060 !important;
}
#intersupportScreen {
	background: url(../images/custom/ss.png) no-repeat;
	display: block;
	height: 47px;
	width: 48px;
	margin-right: 0px;
}
#intersupportScreen:hover {
	background: url(../images/custom/ssa.png) no-repeat;
	display: block;
	height: 48px;
	width: 113px;
	margin-right: 0px;
}
#intersupportScreenBahasa {
	background: url(../images/custom/ss.png) no-repeat;
	display: block;
	height: 47px;
	width: 48px;
	margin-right: 0px;
}
#intersupportScreenBahasa:hover {
	background: url(../images/custom/ssab.png) no-repeat;
	display: block;
	height: 48px;
	width: 113px;
	margin-right: 0px;
}
.btn-secondary-tt {
	background-color: #777;
	color: #fff !important;
	font-size: 14px;
	line-height: 1 !important;
	border: 0;
	box-shadow: 2px 2px 2px #555 !important;
	-moz-box-shadow: 2px 2px 2px #555;
	-webkit-box-shadow: 2px 2px 2px #555;
}

@media ( min-width : 320px) and (max-width: 361px) {
	#inCompleteCallbackDetailsTable{
		/* display:block !important; */
		margin-left:0px !important;
	}
	.comments{
	display:none !important;
	}
	.hidemob{
	display:none !important;
	}
	.hidemobtab{
	display:none !important;
	}
	.container3 {
		width: 120% !important;
	}
	.name{
	white-space:pre-wrap;
  	word-wrap:break-word;
	word-break: keep-all;
	}
	#inCompleteCallbackDetailsDiv{
    overflow-x: scroll;
	}
	
}
@media ( min-width : 361px) and ( max-width :500px) {
	#inCompleteCallbackDetailsTable{
		/* display:block !important;  */
		margin-left:0px !important;
	}
	.comments{
	display:none !important;
	}
	.hidemob{
	display:none !important;
	}
	.hidemobtab{
	display:none !important;
	}
	
	#resetButtonID {
		margin-top: 10px !important;
	}
	.btn-secondary-tt {
		margin-top: 10px !important;
	}
	div#ipScapeChat {
		display: none;
	}
	.container3 {
		width: 120% !important;
	}
	.name{
	white-space:pre-wrap;
  	word-wrap:break-word;
	word-break: keep-all;
	}
	#inCompleteCallbackDetailsDiv{
    overflow-x: scroll;
	}
}
@media ( min-width : 501px) and (max-width: 767px) {
	tt-form-right-col {
		width: 32% !important;
	}
	#resetButtonID {
		margin-top: 10px !important;
	}
	.btn-secondary-tt {
		margin-top: 10px !important;
	}
	div#ipScapeChat {
		display: none;
	}
	table.dataTable tbody th, table.dataTable tbody td {
    	padding: 0px 0px !important;
	}
	table.dataTable thead th, table.dataTable thead td {
	padding: 0px 0px !important;
	}
	.comments{
	display:none !important;
	}
	.hidemobtab{
	display:none !important;
	}
	.container3 {
		width: 120% !important;
	}
	.chat-form{
	display:none;
	}
}
/* @media ( max-width : 767px) {
	.container3 {
		width: 120% !important;
	}
} */
@media ( min-width : 768px) and (max-width: 930px) {
	.comments{
	display:none !important;
	}
	.hidemobtab{
	display:none !important;
	}
	.chat-form{
	display:none;
	}
}
@media ( min-width : 980px) and (max-width: 1024px) {
.chat-form{
	display:none;
	}
 #inCompleteCallbackDetailsDiv{
    overflow-x: scroll;
}
}

#ipscapeMainPageId {
	display: block;
	/*max-width:450px;*/
	padding: 3px;
	font-family: 'Gotham-Rounded-Book';
}
aui:button {
	background: #ffffff;
	border: solid 1px #c0c0c0;
}
a.sbry {
	background: url(../images/se.png) no-repeat;
	display: block;
	height: 50px;
	color: #666 !important;
}
a.ssry {
	background: url(../images/seh.png) no-repeat;
	display: block;
	height: 50px;
}
aui:button {
	background: #ffffff;
	border: solid 1px #c0c0c0;
}
#confirmDeleteLead {
	margin-left: 60% !important;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding: 10px 10px 10px 41px;
	border: 0;
}
#ipscapeMainPageId {
	display: block;
	/*max-width:450px;*/
	padding: 3px;
	font-family: 'Gotham-Rounded-Book';
}
aui:button {
	background: #ffffff;
	border: solid 1px #c0c0c0;
}
a.sbry {
	background: url(../images/se.png) no-repeat;
	display: block;
	height: 50px;
	color: #666 !important;
}
a.ssry {
	background: url(../images/seh.png) no-repeat;
	display: block;
	height: 50px;
}
aui:button {
	background: #ffffff;
	border: solid 1px #c0c0c0;
}
#IpscapeHeader {
	/*  width: 70%;
       height: 44px;
       border-radius: 3px;
       /* background-color: white; 
       display: flex; */
	margin-top: 10px;
}
#IpscapeContent {
	border-top: none;
	width: 100%;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 70%;
	/* background-color: white;*/
}
#IpscapeButton {
	background: #FFF;
	border-right-style: none;
	border-left-style: none;
	height: 46px;
	TEXT-ALIGN: LEFT;
	width: 100%;
	min-width: 150px;
	/* border-radius: 3px; */
	padding-left: 15px;
	padding-right: 15px;
	TEXT-DECORATION: NONE;
	color: #555555;
	font-size: 14px;
	border-bottom: solid 1px #ccc;
}
#cancelDeleteLead {
	/* margin-left: 60% !important; */
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding: 10px 10px 10px 41px;
	border: 0;
}
#createCallbckId {
	margin-right: 10px;
	margin-bottom: 10px;
}
.IpscapeMore {
	background: url("../images/moreDropDown.png");
	height: 16px;
	width: 16px;
	position: relative;
	left: 98%;
	bottom: 18px;
}
.IpscapeLess {
	background: url("../images/less.png");
	height: 16px;
	width: 16px;
	position: relative;
	left: 98%;
	bottom: 16px;
}
.validationError {
	color: #e32212;
}

/* table.dataTable thead th, table.dataTable thead td {
	padding: 0px 0px !important;
} */
#inCompleteCallbackDetailsTable {
	text-align: center;
}
#completeCallbackDetailsTable {
	text-align: center;
}