button{
border-radius:5px !important;
}
.table-responsive {
	min-height: .01%;
	overflow-x: hidden;
	background: #fff;
}

@media screen and (max-width:767px) {
	.table-responsive {
		background: #fff;
		width: 100%;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	.table-responsive>.table {
		margin-bottom: 0
	}
	.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th,
		.table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th,
		.table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th
		{
		white-space: inherit;
	}
	.table-responsive>.table-bordered {
		border: 0
	}
	.table-responsive>.table-bordered>tbody>tr>td:first-child,
		.table-responsive>.table-bordered>tbody>tr>th:first-child,
		.table-responsive>.table-bordered>tfoot>tr>td:first-child,
		.table-responsive>.table-bordered>tfoot>tr>th:first-child,
		.table-responsive>.table-bordered>thead>tr>td:first-child,
		.table-responsive>.table-bordered>thead>tr>th:first-child {
		border-left: 0
	}
	.table-responsive>.table-bordered>tbody>tr>td:last-child,
		.table-responsive>.table-bordered>tbody>tr>th:last-child,
		.table-responsive>.table-bordered>tfoot>tr>td:last-child,
		.table-responsive>.table-bordered>tfoot>tr>th:last-child,
		.table-responsive>.table-bordered>thead>tr>td:last-child,
		.table-responsive>.table-bordered>thead>tr>th:last-child {
		border-right: 0
	}
	.table-responsive>.table-bordered>tbody>tr:last-child>td,
		.table-responsive>.table-bordered>tbody>tr:last-child>th,
		.table-responsive>.table-bordered>tfoot>tr:last-child>td,
		.table-responsive>.table-bordered>tfoot>tr:last-child>th {
		border-bottom: 0
	}
	.impactServiceCount {
		max-width: 40px;
		max-height: 40px;
		width: 40px;
		height: 40px;
		font-size: 15px;
	}
	.riskServiceCount {
		max-width: 40px;
		max-height: 40px;
		width: 40px;
		height: 40px;
		font-size: 15px;
	}
	.riskServiceCountText {
		font-size: 14px;
	}
	.impactServiceCountText {
		font-size: 14px;
	}
	.dashTickServiceCount {
		line-height: 40px;
	}
}


#openIcon {
	background: url("../images/openQuestion.png");
	height: 16px;
	width: 16px;
	margin-right: 5px;
}

#openIconTM {
	background: url("../images/artifactCategory.png");
	height: 10px;
	width: 8px;
	margin-right: 5px;
	  position: relative;
  top: 4px;
}

/* #documentTitlePre {
	background: url("../images/documentPre.png");
	height: 24px;
	width: 24px;
	margin-right: 5px;
}
#documentTitlePost {
	background: url("../images/documentPost.png");
	height: 20px;
	width: 18px;
	margin-right: 5px;
} */


#collapse1Header {
	display: flex;
	margin-top: 10px;
	cursor: pointer;
}

#collapse2Header {
	display: flex;
	margin-top: 10px;
	cursor: pointer;
}

#collapse3Header {
	display: flex;
	margin-top: 10px;
	cursor: pointer;
}

#collapse4Header {
	display: flex;
	margin-top: 10px;
	cursor: pointer;
}

#collapse5Header {
	display: flex;
	margin-top: 10px;
	cursor: pointer;
}

#collapse6Header {
	display: flex;
	margin-top: 10px;
	cursor: pointer;
}

#collapse7Header {
	display: flex;
	margin-top: 10px;
	cursor: pointer;
}

#collapse8Header {
	display: flex;
	margin-top: 10px;
	cursor: pointer;
}

#collapse9Header {
	display: flex;
	margin-top: 10px;
	cursor: pointer;
}

#FAQHeader {
	border-bottom: solid 1px #ccc;
	padding-bottom: 10px;
	height:36px;
width: 95%;
margin-left: 15px;
}
#collapse1HeaderContent
,
#collapse2HeaderContent
,
#collapse3HeaderContent
,
#collapse4HeaderContent
,
#collapse5HeaderContent
,
#collapse6HeaderContent
,
#collapse7HeaderContent
,
#collapse8HeaderContent
,
#collapse9HeaderContent
{
margin-left:5px;


}


#Question{
	
	color: #333;
	  padding-top: 10px;
}

#Answer{
	
	color: #555;
	margin-right: 20px;
}

#question1{
	
	margin-top: 10px;
	
}

#question2,#question3,#question4{
	
	margin-top: 10px;
}


#collapse1Content,#collapse2Content,#collapse3Content,#collapse4Content,#collapse5Content,#collapse6Content,#collapse7Content,#collapse8Content,#collapse9Content{
	
	margin-left: 20px;
}

#collapse1,#collapse2,#collapse3,#collapse4,#collapse5,#collapse6,#collapse7,#collapse8
{
padding-left: 15px;
  padding-top: 5px;
}

#collapse9{
	
	padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 50px;
	
}

.faqcntnt{
	
	  padding-top: 13px;
 /*  padding-left: 15px; */
}

.categoryHeader{
	display: flex;
	margin-top: 10px;
	cursor: pointer;
	
}

.categoryContent{
	
	
	margin-left: 20px;
}

#FAQContent{
margin-top: 20px;
   margin-left: 15px; 
  padding-bottom: 30px;	
}

#searchIcon {
	background: url("../images/Search_W_16.png");
	height: 15px;
	width: 15px;
	margin-left: 5px;
}

#searchKnowledge{
	
	  margin-left: 3.3%;
	    position: relative;
	      top: 15px;
  padding-top: 1%;
  display:flex;
}

#searchButton{
	
	width: 38px;
  height: 38px;
  margin-bottom: 12px;
  background-color: #777;
  border-radius:3px;
   box-shadow: 0 2px 2px -2px #555555;
}

#searchButton:HOVER{
	
	width: 38px;
  height: 38px;
  margin-bottom: 11px;
  background-color: #555;
    border-radius:3px;
  
  
}

#searchBox{
	
	height: 28px;
  /* padding-top: 7px; */
  border-radius: 3px;
  border: solid 1px #888888;

}


.help-block.form-error{
	
	 
	  color:#e32212 !important;
}

.categoryHeaderTM{
	display: flex;
	margin-top: 10px;
	cursor: pointer;
}

#TMHeader{
	
	
	border-bottom: solid 1px #ccc;
	padding-bottom: 10px;
	height:36px;
	margin-left: 15px;
  width: 90%;
	
}

#faqAndTutorialContainer{
	
	display: flex;
	  background-color: white;
  width: 130%;
    border: solid 1px #ccc;
}

#FAQ{
	
	width: 60%;
}
#tutorialsAndManual{
	width: 40%
}

#outerDocumentTitle{
	
	display:flex;
	  padding-top: 10px;
}

#innerDocumentTitle{
	
  padding-left: 10px;
  width: 90%;
}
#documentTitlePost{
	
	height: 20px;
  width: 18px;
  position: relative;
  top: 5px;
  right: 1px;
}

#innerDocumentPre{
	
	  position: relative;
 		    top: 5px;
}
#documentLink{
	
	text-decoration: none;
}

a:HOVER {
	color:ff0000;
	}
	
	a:LINK{
	color: red;
	
	}
	a:VISITED  {
	color:ff0000;
	}
	
	a{
	color: ff0000;
	}
	
	
.documentLinkContainer{
	
	
	  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
    margin-right: 55px;
        position: relative;
    left: 6%;
}

.tmcntnt{
	
	  padding-top: 13px;
 /*  padding-left: 15px; */
}
#TMContent{
	
	  margin-left: 15px;
	  margin-top: 20px;

  padding-bottom: 30px;	
  
  
}

#deleteDocumentCheckbox{
	
	    position: relative;
   
    top: 38px;
    left: 1%
}

#deleteDocumentErrorMsg{
	
color: #e32212;	
	
}

#addDocumentForm{
	
	
	margin-left: 50px;
}

#saveDocumentButton{
	
	    float: right;
    margin-right: 30px;
    background-color: #777777;
  
     max-height: 38px;
  
  	 box-shadow: 0 2px 2px -2px #777777;
	  border-radius:3px;
}


#saveDocumentButton:hover{
	
	    float: right;
    margin-right: 30px;
   	background-color: #555555;
     max-height: 38px;
  
  	 box-shadow: 0 2px 2px -2px #555;
	  border-radius:3px;
}


#deleteDocumentButton{
	
	   
    
    background-color: #777777;
  
     max-height: 35px;
  
  	 box-shadow: 0 2px 2px -2px #777777;
	  border-radius:3px;
}



#deleteDocumentButton:hover{
	
	   
      
    
   	background-color: #555555;
     max-height: 35px;
  
  	 box-shadow: 0 2px 2px -2px #555;
	  border-radius:3px;
}


#addDocumentButton{
	
	   
    
    background-color: #777777;
  
     max-height: 35px;
  
  	 box-shadow: 0 2px 2px -2px #777777;
	  border-radius:3px;
}



#addDocumentButton:hover{
	
	   
     
    
   	background-color: #555555;
     max-height: 35px;
  
  	 box-shadow: 0 2px 2px -2px #555;
	  border-radius:3px;
}

#addDocumentModalfooter{
	
	
	    border-top: none !important;
    background-color: white;
}


#saveDocumentIcon{
	background: url("../images/SendEnquiry_W_16.png");
	height: 16px;
	width: 15px;
  margin-left: 15px;
  position: relative;
  top: 5px;
	
}
#saveDocumentContent{
	
	color: #ffffff;
  /* margin-left: 25px; */
  margin-left: 40px;
  margin-bottom: 0px;
  position: relative;
  bottom: 10px;
  padding-right: 5px;
  font-size: 14px;
}



#deleteDocumentIcon{
	 background: url("../images/delete_doc.png");
	height: 16px;
	width: 15px;
  margin-left: 5px;
  position: relative;
  top: 8px;
	
}
#deleteDocumentContent{
	
	color: #ffffff;
  /* margin-left: 25px; */
  margin-left: 30px;
  margin-bottom: 0px;
  position: relative;
  bottom: 10px;
  padding-right: 5px;
  font-size: 14px;
}



#addDocumentIcon{
	 background: url("../images/add_doc.png"); 
	height: 16px;
	width: 15px;
  margin-left: 5px;
  position: relative;
  top: 8px;
	
}
#addDocumentContent{
	
	color: #ffffff;
  /* margin-left: 25px; */
  margin-left: 30px;
  margin-bottom: 0px;
  position: relative;
  bottom: 10px;
  padding-right: 5px;
  font-size: 14px;
}

#browseButton{
	
	   
     background-color: #777;
    max-height: 38px;
    min-height: 31px;
    box-shadow: 0 2px 2px -2px #777;
    border-radius: 3px;
    position: relative;
    left: 108%;
    bottom: 41px;
    min-width: 84px !important;
}



#browseButton:hover{
	
	       background-color:  #555555;
    max-height: 38px;
    min-height: 31px;
    box-shadow: 0 2px 2px -2px #555;
    border-radius: 3px;
    position: relative;
    left: 108%;
    bottom: 41px;
    min-width: 84px !important;
     
    
  
}
#browseButtonContent{
	
	    color: #fff;
    margin-left: 10px;
    margin-bottom: 0;
    position: relative;
    bottom: 10px;
    /* padding-right: 15px; */
    margin-right: 10px;
    font-size: 14px;
    top: 0px;
  
}


#categoryName{
	
	    width: 279px;
}

#documentName{
	
	    width: 265px;
}

#fileName{
	
	    position: relative;
    right: 30px;
    width: 180px;
}
.error{
	
	color:#e32212 ! important;
}

#addCategory{
	
	    width: 265px;
}
#tmEditButtons{
	
	    float: right;
    position: relative;
    bottom: 28px;
    left: 10px;
}

#selectFileErrorBox{
	
	    position: relative;
    right: 30px;
    bottom: 30px;
    color: #e32212;
}


#closeModalIcon{
	 background: url("../images/Close_G_24.png");
	height: 24px;
	width: 24px;
  
	
}

*:focus {
    outline: 0;
    
    
    
    
}

#deleteDocumentConfirmationModal{
	
	    display: block;
    padding-right: 0px;
    width: 350px;
    height: 150px !important;
   
    left: 57%;
}

#deleteDocumenModalBody{
	
	    position: relative;
    margin-left: 25px;
    
    border: none;
    margin-top: 20px;
}

#confirmDeleteButtons{
	
	    position: relative;
    right: 10px;
    
    
}


#deleteDocumentConfirm{
	color:white;
	  
    background-color: #777777;
  
     max-height: 38px;
  
  	 box-shadow: 0 2px 2px -2px #777777;
	  border-radius:3px;
}


#deleteDocumentConfirm:hover{
	
	   color:white;
   	background-color: #555555;
     max-height: 38px;
  
  	 box-shadow: 0 2px 2px -2px #555;
	  border-radius:3px;
}


#deleteCloseButton{
	
	  color:white;
    background-color: #777777;
  
     max-height: 38px;
  
  	 box-shadow: 0 2px 2px -2px #777777;
	  border-radius:3px;
}


#deleteCloseButton:hover{
	
	   color:white;
   	background-color: #555555;
     max-height: 38px;
  
  	 box-shadow: 0 2px 2px -2px #555;
	  border-radius:3px;
}


#addCategoryData{
	
	    margin-left: -3px;
}


#categoryNameData{
	
	margin-left: -1px;
}

#selectFileData{
	
	margin-left: -43px;
}


.modal-backdrop
{
    opacity:0.3 !important;
}

#searchErrorBox{
	
	padding-bottom: 15px;
    font-size: 16px;
}

#searchErrorMsg
{
  font-family: "Gotham Rounded Book"!important;
  color: red;
  padding-left: 3.5%;
  padding-top: 2%;
}