
@CHARSET "ISO-8859-1";
.my-label {
    position: absolute;
//width:5px;
    font-size:15px;
}

	body {
			padding: 0;
			margin: 0;
		}
		html, body, #map {
			height: 100%;
		}
		
		
	.tt-progess{
		margin-bottom: 0 !important;
	}
	
	.progress.tt-progess {
     height: 12px;
     }
	.tt-domestic-map{
		background-image: url(../images/map.png);
		display: block;
		height: 148px;
		/*width: 336px;*/
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.tt-impact-incident-count{
      color: #e32212;
	}
	.tt-risk-incident-count {
	color: #FF9C00;
	
	}
	

	.tt-domestic-green-marker{
		color: #ffffff;
		background-image: url(../images/GREEN.png);
		position: absolute;
		height: 35px;
		width: 48px;
		background-repeat: no-repeat;
		padding-top: 5px;
		padding-left: 7px;
		top: 211px;
		left: 83px;
	}

	.tt-domestic-amber-marker{
		color: #ffffff;
		background-image: url(../images/AMBER.png);
		position: absolute;
		height: 35px;
		width: 48px;
		background-repeat: no-repeat;
		padding-top: 5px;
		padding-left: 7px;
		top: 173px;
		left: 125px;
	}

	.tt-domestic-red-marker{
		color: #ffffff;
		background-image: url(../images/RED.png);
		position: absolute;
		height: 46px;
		width: 40px;
		background-repeat: no-repeat;
		padding-top: 10px;
		padding-left: 10px;
		top: 150px;
		left: 193px;
	}

	.tt-progress-bar-success{
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		background-color: #A3CF62 !important;
		background-image: -moz-linear-gradient(top, #A3CF62, #A3CF62) !important;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A3CF62), to(#A3CF62)) !important;
		background-image: -webkit-linear-gradient(top, #A3CF62, #A3CF62) !important;
		background-image: -o-linear-gradient(top, #A3CF62, #A3CF62) !important;
		background-image: linear-gradient(to bottom, #A3CF62, #A3CF62) !important;
		background-repeat: repeat-x !important;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3CF62', endColorstr='#A3CF62', GradientType=0) !important;  
	}

	.tt-progress-bar-warning{
		background-color: #FF9C00 !important;
		background-image: -moz-linear-gradient(top, #FF9C00, #FF9C00) !important;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF9C00), to(#FF9C00)) !important;
		background-image: -webkit-linear-gradient(top, #FF9C00, #FF9C00) !important;
		background-image: -o-linear-gradient(top, #FF9C00, #FF9C00) !important;
		background-image: linear-gradient(to bottom, #FF9C00, #FF9C00) !important;
		background-repeat: repeat-x !important;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9C00', endColorstr='#FF9C00', GradientType=0) !important;  
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;		
	}

	.tt-progress-bar-danger{
		background-color: #e32212 !important;
		background-image: -moz-linear-gradient(top, #e32212, #e32212) !important;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e32212), to(#e32212)) !important;
		background-image: -webkit-linear-gradient(top, #e32212, #e32212) !important;
		background-image: -o-linear-gradient(top, #e32212, #e32212) !important;
		background-image: linear-gradient(to bottom, #e32212, #e32212) !important;
		background-repeat: repeat-x !important;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e32212', endColorstr='#e32212', GradientType=0) !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;		
	}

	.tt-impact-incident-count, .tt-risk-incident-count{
		text-align: right;
		font-size: 18px;
	}

	.tt-ntw-impact-incident, .tt-ntw-risk-incident{
		border-bottom: 1px #f1f1f1 solid;
		font-size: 18px;
	}
	.tt-site-tab-incident-content{
	margin-left: 2%;
	}
	#site-incident{
	margin-left: 2%;
	}
	button{
border-radius:5px !important;
}