button {
	border-radius: 5px !important;
}

#customQuestion {
	padding-top: 6px;
	position: relative;
	left: 76px;
}

#predefinedQuestion {
	padding-top: 6px;
	position: relative;
	left: 76px;
}

#securityContainer {
	padding-left: 40px;
	position: relative;
	bottom: 20px;
	padding-top: 20px;
	/*   background-color: rgb(241, 241, 241); */
	background-color: #fff;
}

#changePasswordHeader {
	cursor: pointer;
	border: 1px solid #CCC;
	padding: 5px;
	width: 98%;
	max-height: 44px;
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 2px 2px -2px #f1f1f1;
}

/* #unclickedPass{
	cursor: pointer;
	border: 1px solid #CCC;
	padding: 5px;
	width: 98%;
	max-height: 46px;
  background-color: #f1f1f1;
	
}

#clickedPass{
	cursor: pointer;
	border: 1px solid #CCC;
	padding: 5px;
	width: 98%;
	max-height: 46px;
  background-color: #CCC;
  
	
} */
#changeQuestionHeader {
	/* margin-bottom: 5px; */
	cursor: pointer;
	border: 1px solid #CCC;
	padding: 5px;
	width: 98%;
	max-height: 44px;
	margin-top: 7px;
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 2px 2px -2px #f1f1f1;
}

/* tab1 */
#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab801141111021051081013283101116116105110103115TabsId
	{
	padding-left: 30px;
	padding-right: 30px;
	color: #555555;
}

#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab801141111021051081013283101116116105110103115TabsId:hover
	{
	padding-left: 30px;
	padding-right: 30px;
	color: #333333;
	background-color: white;
}

#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab801141111021051081013283101116116105110103115TabsId.tab.active
	{
	border-bottom: 4px solid #e32212;
	font-size: 16px;
	/* color: #333333 !important;
 */
}

#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab801141111021051081013283101116116105110103115TabsId.tab.active a
	{
	border: none !important;
	color: #333333 !important;
	font-size: 16px;
}

#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab801141111021051081013283101116116105110103115TabsId.tab a
	{
	border: none !important;
	color: #555555 !important;
	font-size: 16px;
}

/* new tab 2 */
#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab83101991171141051161213283101116116105110103115TabsId
	{
	padding-left: 30px;
	padding-right: 30px;
	color: #555555;
}

#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab83101991171141051161213283101116116105110103115TabsId:hover
	{
	padding-left: 30px;
	padding-right: 30px;
	color: #333333;
	background-color: white;
}

#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab83101991171141051161213283101116116105110103115TabsId.tab.active
	{
	border-bottom: 4px solid #e32212;
	font-size: 16px;
	/* color: #333333 !important;
 */
}

#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab83101991171141051161213283101116116105110103115TabsId.tab.active a
	{
	border: none !important;
	color: #333333 !important;
	font-size: 16px;
}

#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab83101991171141051161213283101116116105110103115TabsId.tab a
	{
	border: none !important;
	color: #555555 !important;
	font-size: 16px;
}

/*new tab 3 */
li#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab7797110971031013285115101114115TabsId
	{
	padding-left: 30px !important;
	padding-right: 30px !important;
	color: #555555 !important;
}

#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab7797110971031013285115101114115TabsId:hover
	{
	padding-left: 30px;
	padding-right: 30px;
	color: #333333;
	background-color: white;
}

#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab7797110971031013285115101114115TabsId.tab.active
	{
	border-bottom: 4px solid #e32212;
	font-size: 16px;
	/* color: #333333 !important;
 */
	padding-left: 30px;
	padding-right: 30px;
	color: #555;
}

#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab7797110971031013285115101114115TabsId.tab.active a
	{
	border: none !important;
	color: #333333 !important;
	font-size: 16px;
}

#_TTProfileSecuritySettingPortlet_WAR_TTApplicationPortlets_tab7797110971031013285115101114115TabsId.tab a
	{
	border: none !important;
	color: #555555 !important;
	font-size: 16px;
}

#changePasswordContainer {
	/* display: block;
margin-top: 20px;
position: relative;
  left: 2%; */
	display: block;
	/* margin-top: 20px; */
	position: relative;
	left: -3%;
	border: solid 1px #d4d4d4;
	width: 101.2%;
	border-top: none;
	background-color: white;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	display: none;
}

#changeQuestionContainer {
	display: block;
	position: relative;
	left: -3%;
	border: solid 1px #d4d4d4;
	width: 101.2%;
	border-top: none;
	background-color: white;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.moreDetails {
	background: url("../images/more.png");
	height: 16px;
	width: 16px;
}

.oktamsg {
	font-size: 18px;
	color: #FF9C00;
	margin-left: 40px;
	margin-top: 42px;
	text-align: center;
}

.oktaimg {
	position: relative;
	left: 43%;
	margin-top: 8%;
}

.lessDetails {
	background: url("../images/less.png");
	height: 16px;
	width: 16px;
}

#moreLessIconPass {
	float: right;
	position: relative;
	bottom: 15px;
	margin-right: 5px;
}

#moreLessIconQues {
	float: right;
	position: relative;
	bottom: 15px;
	margin-right: 5px;
}

#changePasswordHeaderInside {
	margin-top: 5px;
	padding-left: 15px;
	color: #555555;
	font-size: 14px;
}

#changeSecurityQuestionHeaderInside {
	margin-top: 5px;
	padding-left: 15px;
	color: #555555;
	font-size: 14px;
}

#changePasswordContainerInside {
	position: relative;
	left: 6%;
	padding-top: 20px;
}

#changeQuestionContainerInside {
	position: relative;
	left: 6%;
	padding-top: 20px;
}

#saveIcon {
	background: url("../images/save.png");
	height: 16px;
	width: 15px;
	margin-left: 15px;
	position: relative;
	top: 7px;
}

#cancelIcon {
	background: url("../images/cancel.png");
	height: 15px;
	width: 15px;
	margin-left: 15px;
	position: relative;
	top: 9px;
}

#saveContent {
	color: #ffffff;
	/* margin-left: 25px; */
	margin-left: 40px;
	margin-bottom: 0px;
	position: relative;
	bottom: 9px;
	padding-right: 15px;
	font-size: 14px;
}

#savePassword {
	background-color: #777777;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	margin-right: 5px;
	box-shadow: 0 2px 2px -2px #777777;
	border-radius: 3px;
}

#savePassword:hover {
	background-color: #555555;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	margin-right: 5px;
	box-shadow: 0 2px 2px -2px #555;
	border-radius: 3px;
}

#cancelContent {
	color: #ffffff;
	/* margin-left: 25px; */
	margin-left: 40px;
	margin-bottom: 0px;
	position: relative;
	bottom: 8px;
	padding-right: 15px;
	font-size: 14px;
}

#cancelPassword {
	background-color: #777777;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	box-shadow: 0 2px 2px -2px #777777;
	border-radius: 3px;
}

#cancelPassword:hover {
	background-color: #555555;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	box-shadow: 0 2px 2px -2px #555;
	border-radius: 3px;
}

#saveQuestion {
	background-color: #777777;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	margin-right: 5px;
	box-shadow: 2px 2px 2px #777777;
	border-radius: 3px;
}

#saveQuestion:hover {
	background-color: #555555;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	margin-right: 5px;
	box-shadow: 2px 2px 2px #555555;
	border-radius: 3px;
}

#cancelQuestion {
	background-color: #777777;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	box-shadow: 2px 2px 2px #777777;
	border-radius: 3px;
}

#cancelQuestion:hover {
	background-color: #555555;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	box-shadow: 2px 2px 2px #555555;
	border-radius: 3px;
}

.profileSetBottom {
	margin-left: 14.7%;
	margin-top: 20px;
}

.profileSetBottomProfileSettings {
	margin-left: 14%;
	margin-top: 20px;
}

#settingsHeader {
	font-size: 24px;
	margin-bottom: 15px;
	color: #333333;
	display: flex;
	margin-left: 1%;
}

#mandatoryStar {
	color: red;
}

.securityInputs {
	height: 22px;
	position: relative;
	/* right: 25% !important; */
	width: 225px !important;
	border-radius: 3px !important;
}

#securityQuestionDropDown {
	width: 240px !important;
}

#settingsContainer {
	background-color: (235, 235, 235);
}

#settingsIcon {
	background: url("../images/settings.png");
	height: 32px;
	width: 27px;
}

#settingsHeaderContent {
	margin-left: 20px;
	padding-top: 2px;
}

.help-block.form-error {
	position: relative;
	color: #e32212 !important;
}

.profileSettingsInput {
	border-radius: 3px;
}
.tt-profile-container {
	position: relative;
	left: 5%;
}
.Profilepagehead {
	margin-left: -30px !important;
}

@media ( min-width : 501px) and (max-width: 767px) {
	.img-submit-servicerequest {
		margin-top: 10px !important;
	}
}

@media ( max-width : 500px) {
	.img-submit-servicerequest {
		margin-top: 10px !important;
	}
}