.tt-img-dashboard {
	/*DashBoard_G_32.png*/
	background-image: url(../images/DashBoard_G_32.png);
	display: inline-block;
	height: 35px;
	background-repeat: no-repeat;
	padding-left: 40px;
	padding-top: 5px;
	vertical-align: top;
}

.tt-current-page {
	font-size: 20px;
	color: #333333;
	vertical-align: top;
	padding-top: 5px;
	display: inline-block;
}

.tt-back {
	width: 40%;
	float: right;
	text-align: right;
}

.backButton {
	padding: 10px 10px 10px 10px;
	border: 0;
	color: #ffffff;
	background-color: #555555;
}

.tt-site-tab-container {
	margin: 20px;
	padding-left: 0 !important;
	padding-right: 0 !important;
	border: 1px #cccccc solid;
	>.
	tt-site-tab-incident-content
	{
	/*border: 1px #cccccc solid;*/
	background-color
	:
	#ffffff;
	/*border-radius: 1px;*/
	>.
	tt-sites-gold-tab
	{
	>.tt-site-tab-header{
	border-bottom
	:
	1px
	#cccccc
	solid;
}

>
.tt-site-gold-content-row {
	padding-top: 10px; >. tt-sites-gold-container {
	/*padding-left: 20px;*/ >div{ >.tt-site-column{ >a{ text-align : center;
	color: #fff !important;
	text-decoration: none !important;
}

}
}
}
}
}
>
.tt-sites-silver-tab { >.tt-site-tab-header { border-bottom:1px#ccccccsolid;
	
}

>
.tt-site-silver-content-row {
	padding-top: 10px; >. tt-sites-silver-container { >div{
	>.tt-site-column{ >a{ text-align : center;
	color: #fff !important;
	text-decoration: none !important;
}

}
}
}
}
}
>
.tt-sites-bronze-tab { >.tt-site-tab-header { border-bottom:1px#ccccccsolid;
	
}

>
.tt-site-bronze-content-row {
	padding-top: 10px; >. tt-sites-bronze-container { >div{
	>.tt-site-column{ >a{ text-align : center;
	color: #fff !important;
	text-decoration: none !important;
}

}
}
}
}
}
}
}
.extra_style {
	color: white;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.extra_network_style {
	color: black;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.networkHeaders {
	text-decoration: none !important;
	color: #fff !important;
}

.tt-img-dashboard {
	/*DashBoard_G_32.png*/
	background-image: url(../images/DashBoard_G_32.png);
	display: inline-block;
	height: 35px;
	background-repeat: no-repeat;
	padding-left: 40px;
	padding-top: 5px;
	vertical-align: top;
}

#networkTab {
	margin-top: 10px;
	margin-left: 18px;
	border-bottom: 5px #E32212 solid !important;
	width: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	/* font-weight: bold; */
	font-size: 18px;
}