button{
border-radius:5px !important;
}
#silver, #bronze {
	background-color: #ffffff;
	/*  border: 1px solid gray; */
	font: 10px sans-serif;
	
	text-shadow: none;
	/*height: 200px;
	width: 250px;
	padding-left:60px;*/
}

#gold{
	background-color: #ffffff;
	/*  border: 1px solid gray; */
	font: 10px sans-serif;
	text-shadow: none;
	/*height: 200px;
	width: 250px;
	padding-left:30px;*/
	
}

#gold .total, #silver .total, #bronze .total {
	font-size: 22px;
	fill:#888888;
	font-family: 'Gotham Rounded Book' ! important;
	text-shadow: none;
	text-decoration: none !important;
	font-weight: normal;
}

#gold .units, #silver .units, #bronze .units {
	fill: #888888;
	font-size: 15px;
	font-family: 'Gotham Rounded Book' ! important;
	text-shadow: none;
	text-decoration: none !important;
	font-weight: normal;
}

#gold .label, #silver .label, #bronze .label {
	fill: #888888;
	font-size: 18px;
	font-family: 'Gotham Rounded Book' ! important;
	text-shadow: none;
	text-decoration: none !important;
	font-weight: normal;
}

#gold .value, #silver .value, #bronze .value {
	font-size: 20px !important;
	font-weight: bold;
	font-family: 'Gotham Rounded Book' ! important;
	text-shadow: none;
	text-decoration: none !important;
	font-weight: normal;
}

.ttofyc1abc2 {
	padding:10px 5px 10px 5px;
	color: #E32212;
        font-size:16px;
}

.ttofyc1abc1 {
	padding: 30px 45px 20px 145px;
	color:#555555; 
    font-size: 16px;
        
}
.ttofyc1abc5 {
	padding: 30px 45px 20px 165px;
	color:#555555; 
        font-size: 16px;
}
.ttofyc1abc6 {
	padding: 30px 45px 20px 160px;
	color:#555555; 
        font-size: 16px;
       
}

.ttofyc1abc3 {
	padding: 10px 15px 10px 5px;;
	color: #FF9C00;
        font-size:16px;
}

.ttofyc1abc4 {
	padding: 10px 1px 10px 1px;
	color: #A3CF62;
        font-size:16px;
}



.hed {
	border-bottom: solid 1px #ccc;
	border:solid 1px #ccc;
}

#hedrght {
	float:right;
	 DISPLAY:inline;
	 margin-right:10px;
}
#mainTable{
	
	border-collapse: separate; 
	border-spacing: 10px; 
	margin-top: 10px;
    padding-left: 40px;
}



/* #mainTable1{
	width: 390px; 
	border-collapse: separate; 
	border-spacing: 10px; 
	margin-top: 10px;

} */

#mainTable1 {
  /* width: 40px; */
  border-collapse: separate;
  padding-left: 16px;
  border-spacing: 10px;
  /* margin-top: 10px; */

}

#GTable{
	border:1px;
	width: 100%;
	border-collapse: collapse;
}


.xyd{
	padding:10px 10px 10px 5px;
	font-size:1.2em;
	border-bottom: 1px solid #ccc;
}

.xyd1{
	padding-left: 65px;
	font-size:1.8em;
	border-bottom: 1px solid #ccc;
}

.ttofyc2abc2{
	padding:10px 35px 10px 25px;
	text-align: center;
	color: white;
	height: 40px;
	}


.a_ttofycred
{
	display:block;
	background: #E32212;
	/*width: 139px; 
	height:40px;
	line-height: 40px;*/
	text-decoration: none !important;
	color: #ffffff !important;
	border-radius: 3px;
	width: 140px;
	padding: 10px;
	margin-bottom: 10px;
}



.a_ttofycamber
{
	display:block;
	background: #FF9C00;
	/*width: 139px; 
	height:40px;
	line-height: 40px;*/
	text-decoration: none !important;
    color: #ffffff !important;
	border-radius: 3px;
	width: 140px;
	padding: 10px;
	margin-bottom: 10px;
}


	

.a_ttofycgreen
{
	display:block;
	background: #A3CF62;
	width: 140px;
	
	/*height:40px;
	width: 139px; 
	line-height: 40px;*/
	text-decoration: none !important;
	color: #ffffff !important;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 10px;
}




.a_ttofycred:hover
{
	display:block;
	background: #E32212;
	/*width: 139px; 
	height:40px;*/
	text-decoration: none !important;
	background: #ff2424 none repeat scroll 0% 0%;
	margin-bottom: 10px;
}

.a_ttofycamber:hover
{
	display:block;
	background: #FF9C00;
	/*width: 139px; 
	height:40px;*/
	text-decoration: none !important;
	background: #ff8000 none repeat scroll 0% 0%;
}

.a_ttofycgreen:hover
{
	display:block;
	background: #A3CF62;
	/*height:40px;
	width: 139px; */
	text-decoration: none !important;
	background: #54b143 none repeat scroll 0% 0%;
}

.a_ttofycredsla
{
	display:block;
	background: #E32212;
	height:40px;
	text-decoration: none !important;
	color: #ffffff !important;
	border-radius: 3px;
	margin-bottom: 10px;
}



.a_ttofycgreensla
{
	display:block;
	background: #A3CF62;
	height:40px;
	
	text-decoration: none !important;
	color: #ffffff !important;
    margin-bottom: 10px;
	border-radius: 3px;
}

.a_ttofycambersla
{
	display:block;
	background: #FF9C00;
	height:40px;
	text-decoration: none !important;
	color: #ffffff !important;
    margin-bottom: 10px;
	border-radius: 3px;
}



.tick{
    border-bottom: medium solid !important;
    border-bottom-color:#E32212 !important ;
	font-size: 1.2em;
	font-weight: bold;
	color: #555;
    border-right-color:transparent !important;
	border-left-color: transparent !important;
	border-top-color: transparent !important;
}

.unTick{
	font-size: 1.2em;
	font-weight: bold;
	color: #555 !important;
	border-right-color:transparent !important;
	border-left-color: transparent !important;
	border-top-color: transparent !important;
}

.r1{
	font-size: 1.2em;
	padding: 10px;
	border-bottom: solid 30px #ffffff;
}

.r2{
	
	font-size: 1.4em;
	padding: 10px;
}

.hd{
	
 float:left;
 font-size: 18px;
}

.hd1{
	padding-left: 250px;
	text-align: center;
	font-size: 24px;
}

.hd2{
	padding-left: 294px;
	text-align: center;
}

.tab-content{
	
	padding:0px !important;
	  border: solid 1px #ccc;
	  width: 100%;
}
#p_p_id_TTOfficeBuildingDetailPortlet_WAR_TTOfficeBuildingDetailPortlet_{

background-color: #ffffff;
}

.columns_1_3_2_1{
padding:0px !important;
}

.columns-1{
	padding:0px !important;
}

#abce{
color:#333333;
font-size:16px;
PADDING-LEFT: 15px;
height: 33px;
margin-top:19px;
  border-bottom: solid 1px #ccc; 
}

#lmn{
border:solid 1px #ccc;
}

.peralign{
	
	float:right;
	/* padding-right: 6%; */
	margin-top: 0.7em;
	margin-right:0.2em;
	width:30%;
}
.namealign{
	float:left;
	width:65%;
	margin-top: 0.7em;
	margin-left:0.2em;
	/* padding-left: 6%; */
}
.hedrow{
	/* border-bottom:solid 1px #ccc; */
	width: 100%;
	display: block;
 
}
.p_TTOfficeBuildingSiteDetailListPortlet_WAR_TTOfficeBuildingDetailPortlet{
	
	border: solid 1px #ccc;
}

.btn-style{
float:right;
background-color:gray;
color:#ffffff;
width:115px !important;
height:40px;
}

.ofycbuild2titl{
width:100%;
height:60px;
background-color: #ffffff;
}
.nav-tabs{
background: #ffffff;
}

.arrwsiz{
font-size:18pt;
background: #ffffff;
}

.buton1{

padding-left: 807px;
background: #ffffff;
}

.heding{
background: #ffffff;
}
.sit{
font-size: 19px;
}

.imgalinofyc2{
padding-left: 14px;
}

#tab-cont-back{
	background: #ffffff;
	
}

		
		
#btmImages{
	
padding-bottom: 20px;
  padding-left: 15px;
}

.dashboardImagesites{
	
	margin-right: 10px;
}

.txtbox1{
background-color:#FF9C00;
width:17px;
height:17px;
}
.txtbox2{
background-color:#A3CF62;
width:17px;
height:17px;
}
/* .txtnam{
color:#E32212;
dispaly:inline;
 font-size:16px;
 padding: 3px;
} */
.txtnam1{
color:#FF9C00;
dispaly:inline;
 font-size:16px;
 padding: 3px;
}
.txtnam2{
color:#A3CF62;
dispaly:inline;
 font-size:16px;
 padding: 3px;
}
/*.imgalign{
margin-bottom: 10px;
}*/
.spc{
padding-left:22px;
}
#p_p_id_TTOfficeBuildingDetailPortlet_WAR_TTOfficeBuildingDetailPortlet_
{
 margin-left: 25px !important;
 margin-right: 22px !important;
 margin-top:  25px !important;
}

/*#p_p_id_TTOfficeBuildingSiteDetailListPortlet_WAR_TTOfficeBuildingDetailPortlet_
{
 margin-left: 25px !important;
 margin-right: 22px !important;
 margin-top:  25px !important;
}*/
.refrsh{
margin-left: 12px;
 margin-top: 12px;
}
.buttonText{
	position:relative !important;
	color: #fff;
	font-size: 14px;
	display: inline;
	float: left;
	padding-left: 10px;
}
.backButton{
	padding: 10px 10px 10px 10px;
	border: 0;
	color: #ffffff;
	background-color: #555555;
}
/* .buttonIcon{
	position:relative !important;
	float:left;
	top: -2px;
} */
.backButtonContent{
position: relative;
}

div#officePortel {
  background-color: #fff;
}

.aui{
	.tt-container{
		border: 1px solid #cccccc;
		border-radius: 3px;
		padding-left:0;
		padding-right: 0;
		>.tt-header{
			border-bottom: 1px solid #cccccc;
			> .tt-page-title{
				padding-top:10px;
				padding-left:15px;
			}			
			>.tt-detail{
				text-align: right;
				padding-top:10px;
				padding-right:15px;
			}
		}
		
		>.tt-content{
			> .tt-graph{
				/*margin-right: 50px;*/
				width: 25%;
				> .tt-graph-title{
					text-align:center;
				}
			}
		}
	}
}

.aui{
	.tt-container{
		>.tt-header{
			> .tt-page-title{
				font-size: 16px;
				color: #333333;
			}			
			>.tt-detail{
			}
		}
			
		>.tt-content{		
			>.tt-graph-first{
				margin-left:20px;
			}
			> .tt-graph{
				/*margin-right: 50px;*/
				width: 30%;
				
			>div{
				
				>svg{
					
					>g{
						
						>.center_group{
							
							
							/*>.label{
								font-size: 18px;
								fill:red;
							}
							>.total{
								font-size: 18px;
								fill:red;
							}*/
						}
					}
				}
			}	
			> .tt-graph-title{
					color: #555555;
					font-size: 16px;
				}
			}
		}
		
		> .tt-graph-legend-container{
			margin-left:15px;
			padding-top:25px;
			
			>.tt-graph-legend{
				margin-left:0;
				>	div{
					> div{
						margin-right: 40px;
						display: block;
						width:auto;
						>.tt-red-legend{
							width: 15px;
							
							height: 15px;
							display: inline-block;
							margin-right: 3px;
							vertical-align: middle;
						}

						>.tt-orange-legend{
							  width: 15px;
							  background-color: #ff9c00;
							  height: 15px;
							  display: inline-block;
							  margin-right: 5px;
							  vertical-align: middle;
						}

						>.tt-green-legend{
							  width: 15px;
							  background-color: #a3cf62;
							  height: 15px;
							  display: inline-block;
							  margin-right: 5px;
							  vertical-align: middle;
						}
						>span{
							vertical-align: middle;
							/*font-size:24px;*/
						}
						>.tt-legend-text-red{
						}
						>.tt-legend-text-orange{
							color: #ff9c00;
						}
						>.tt-legend-text-green{
							color: #a3cf62;
						}
					}
				}
			}
		}
	}


	@media (max-width: 1170px) {		
		.tt-container{
			>.tt-header{
				> .tt-page-title{
				}			
				>.tt-detail{
				}
			}
			
			>.tt-content{
				
				>.tt-graph-first{
					margin-left:20px;
				}
				> .tt-graph{
					/*margin-right: 50px;*/
					width: 30%;
				>.tt-gold{
					
					margin-left: 20px;
				}	
					>div{
						>svg{
							>g{
								>.center_group{
									
								}
							}
						}
					}
					
					> .tt-graph-title{
					}
				}
			}
			
			> .tt-graph-legend-container{
				margin-left:15px;
				>.tt-graph-legend{
					margin-left:0;
				}
			}
		}
		
		.tt-tab-content{
			background-color: #f5f5f5;
		}
	}
	
	
	@media (min-width: 1061px) and (max-width: 1169px) {		
		.tt-container{
			>.tt-header{
				> .tt-page-title{
				}			
				>.tt-detail{
				}
			}
			
			>.tt-content{
				> .tt-graph{
					margin-right: 5px;
					width: 30%;
					> .tt-graph-title{
					}
				}
			}
			> .tt-graph-legend-container{
				margin-left:15px;
				>.tt-graph-legend{
					margin-left:0;
				}
			}
		}
	}
	
	@media (min-width: 997px) and (max-width: 1060px) {		
		.tt-container{
			>.tt-header{
				> .tt-page-title{
				}			
				>.tt-detail{
				}
			}
			
			>.tt-content{
				> .tt-graph{
					margin-right: 5px;
					width: 30%;
					> .tt-graph-title{
					}
				}
				>.tt-gold{
					width:40%;
					margin-left: 80px;
				}
				>.tt-silver{
					width:40%
				}
				>.tt-bronze{
					width:40%;
					margin-left: 33%;
				}
			}
			> .tt-graph-legend-container{
				margin-left:15px;
				>.tt-graph-legend{
					margin-left:0;
				}
			}
		}
	}
	
	@media (min-width: 768px) and (max-width: 996px) {		
		.tt-container{
			>.tt-header{
				> .tt-page-title{
				}			
				>.tt-detail{
				}
			}
			
			>.tt-content{
				> .tt-graph{
					/*margin-right: 5px;*/
					
					> .tt-graph-title{
					}
				}
				
				>.tt-graph-first{
				/******keep it a ref*********/
				/*margin-left:60px;*/
				margin-left:20px;
				}
				>.tt-gold{
					width:40%;
					margin-left: 80px;
					float: left;
				}
				>.tt-silver{
					width:40%;
					float: left;
				}
				>.tt-bronze{
					width:40%;
					margin-left: 33%;
					float: left;
				}				
			}
			> .tt-graph-legend-container{
				margin-left:15px;
				>.tt-graph-legend{
					margin-left:0;
				}
			}
		}
	}
	
	
	
	@media (min-width: 600px) and (max-width: 767px) {		
		.tt-container{
			>.tt-header{
				> .tt-page-title{
					width:50%;
					float:left;
				}			
				>.tt-detail{
					width:50%;
					float:left;
				}
			}
			
			>.tt-content{
				> .tt-graph{
					/*margin-right: 5px;
					width: 30%;*/
					width: 90%;
					float: left;
					> .tt-graph-title{
						
					}
					
					>.tt-graph-first{
						/******keep it a ref*********/
						/*margin-left:60px;*/
						margin-left:0 !important;
					}
					
					> #gold{
						margin-left: 25%;
					}
					
					> #silver{
						margin-left: 30%;
					}
					
					> #bronze{
						margin-left: 30%;
					}
				}
			}
			> .tt-graph-legend-container{
				margin-left:15px;
				>.tt-graph-legend{
					margin-left:0;
				}
			}
		}
	}
	
	@media (min-width: 525px) and (max-width: 600px) {		
		.tt-container{
			>.tt-header{
				> .tt-page-title{
					width:50%;
					float:left;
				}			
				>.tt-detail{
					width:50%;
					float:left;
				}
			}
			
			>.tt-content{
				> .tt-graph{
					width: 90%;
					float: left;
					> .tt-graph-title{
						
					}
					
					>.tt-graph-first{
						/******keep it a ref*********/
						/*margin-left:60px;*/
						margin-left:0 !important;
					}
					
					> #gold{
						margin-left: 25%;
					}
					
					> #silver{
						margin-left: 30%;
					}
					
					> #bronze{
						margin-left: 30%;
					}
				}
			}
			> .tt-graph-legend-container{
				margin-left:15px;
				>.tt-graph-legend{
					margin-left:0;
				}
			}			
		}
	}
	
	
	@media (min-width: 361px) and (max-width: 524px) {		
		.tt-container{
			>.tt-header{
				> .tt-page-title{
					width:50%;
					float:left;
				}			
				>.tt-detail{
					width:50%;
					float:left;
				}
			}
			
			>.tt-content{
				>.tt-graph-first{
						/******keep it a ref*********/
						/*margin-left:60px;
						margin-left:0 !important;*/
					}
				> .tt-graph{
					width: 50%;
					margin-left: 15%;
					> .tt-graph-title{
						
					}
					
					
					
					/*> #gold{
						margin-left: 25%;
					}
					
					> #silver{
						margin-left: 30%;
					}
					
					> #bronze{
						margin-left: 30%;
					}*/
				}
			}
			> .tt-graph-legend-container{
				margin-left:15px;
				>.tt-graph-legend{
					margin-left:0;
				}
			}			
		}
	}
	
	@media (min-width: 320px) and (max-width: 361px) {		
		.tt-container{
			>.tt-header{
				> .tt-page-title{
					width:50%;
					float:left;
				}			
				>.tt-detail{
					width:50%;
					float:left;
				}
			}
			
			>.tt-content{
				>.tt-graph-first{
						/******keep it a ref*********/
						/*margin-left:60px;*/
						margin-left:0 !important;
					}
				> .tt-graph{
					width: 30%;
					padding-left:20px;
					> .tt-graph-title{
						
					}
					
					
					
					/*> #gold{
						margin-left: 25%;
					}
					
					> #silver{
						margin-left: 30%;
					}
					
					> #bronze{
						margin-left: 30%;
					}*/
				}
			}
			> .tt-graph-legend-container{
				margin-left:15px;
				>.tt-graph-legend{
					margin-left:0;
				}
			}			
		}
	}
}

.aui{
	.tt-page-detail{
		background-color: #ffffff;
		border-bottom: 1px #cccccc solid;
		>.tt-page-breadcrumb{
			padding-top: 20px;
		}
		.tt-row-page-name{
			width: 55% !important;
			float: left;
		}
		.tt-back{
			width: 40%;
			float: right;
			text-align: right;
		}
		
		.tt-previous-page{
			font-size: 18px;
			color: #555555;
		}
		
		.tt-current-page{
			font-size: 24px;
			color: #333333;
			vertical-align: top;
			padding-top: 5px;
			display: inline-block;
		}
		
		.tt-img-dashboard{
			/*DashBoard_G_32.png*/
			background-image: url(../images/DashBoard_G_32.png);
			display: inline-block;
			height: 35px;
			background-repeat: no-repeat;
			padding-left: 40px;
			padding-top: 5px;
			vertical-align: top;
		}
	}
}

.aui{
	.tt-site-display{
		padding-top: 20px;
		padding-left: 20px;
		.tt-displaySite-title{
			font-weight: bolder;
			color: #888888;
			font-size:15px;
			width: 110px;
			align: left;
		}
		.tt-displaySite-check{
			width: 450px;
		}
		.tt-displaysite-position{
			position: relative;
			bottom:3px;
		}
		
	}
}

.aui{
	
	.tt-site-tab-container{
			margin: 20px;
			padding-left:0 !important;
			padding-right: 0 !important;
			border: 1px #cccccc solid;
			>.tt-site-tab-incident-content{
				/*border: 1px #cccccc solid;*/
				background-color: #ffffff;
				/*border-radius: 1px;*/
				
				>.tt-sites-gold-tab {
					
					>.tt-site-tab-header{
						border-bottom: 1px #cccccc solid;
					}
					>.tt-site-gold-content-row{
						padding-top: 10px;
						>.tt-sites-gold-container{
							/*padding-left: 20px;*/
							>div{
								>.tt-site-column{
									>a{
										text-align: center;
									}
								}
							}
						}
					}
					
					
				}
				>.tt-sites-silver-tab{
					>.tt-site-tab-header{
						border-bottom: 1px #cccccc solid;
					}
					
					>.tt-site-silver-content-row{
						padding-top: 10px;
						>.tt-sites-silver-container{
							>div{
								>.tt-site-column{
									>a{
										text-align: center;
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-bronze-tab{
					
					>.tt-site-tab-header{
						border-bottom: 1px #cccccc solid;
					}
					>.tt-site-bronze-content-row{
						padding-top: 10px;
						>.tt-sites-bronze-container{
							>div{
								>.tt-site-column{
									>a{
										text-align: center;
									}
								}
							}
						}
					}
				}
			}
		}
	
	@media (min-width: 1330px) {
		.tt-site-tab-container{
			margin: 20px;
			padding-left:0 !important;
			padding-right: 0 !important;
			border: 1px #cccccc solid;
			>.tt-site-tab-incident-content{
				/*border: 1px #cccccc solid;*/
				background-color: #ffffff;
				/*border-radius: 1px;*/
				
				>.tt-sites-gold-tab {
					padding-left: 20px;
					>.tt-site-tab-header{
						border-bottom: 1px #cccccc solid;
					}
					>.tt-site-gold-content-row{
						padding-top: 10px;
						>.tt-sites-gold-container{
							/*padding-left: 20px;*/
							>div{
								>.tt-site-column{
									>a{
										text-align: center;
									}
								}
							}
						}
					}
					
					
				}
				>.tt-sites-silver-tab{
					>.tt-site-tab-header{
						border-bottom: 1px #cccccc solid;
					}
					
					>.tt-site-silver-content-row{
						padding-top: 10px;
						>.tt-sites-silver-container{
							>div{
								>.tt-site-column{
									>a{
										text-align: center;
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-bronze-tab{
					padding-right: 20px;
					>.tt-site-tab-header{
						border-bottom: 1px #cccccc solid;
					}
					>.tt-site-bronze-content-row{
						padding-top: 10px;
						>.tt-sites-bronze-container{
							>div{
								>.tt-site-column{
									>a{
										text-align: center;
									}
								}
							}
						}
					}
				}
			}
		}
	
	}
	
	@media (min-width: 929px) and (max-width: 1330px) {
		
		.tt-site-tab-container{
		
			>.tt-site-tab-incident-content{
				
				>.tt-sites-gold-tab {
					padding-left:20px;
					width: 47%;
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					>.tt-site-gold-content-row{
						>.tt-sites-gold-container{
							>div{
								
								width: 100%;
								>.tt-site-column-first{
									float: left;
									/*width: 35%;
									margin-left: 13%;*/
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									/*width: 35%;
									padding-left: 17%;*/
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-silver-tab{
					width: 47%;
					margin-left: 5%;
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-silver-content-row{
						>.tt-sites-silver-container{
							>div{
								width: 100%;
								/*background-color: yellow;*/
								>.tt-site-column-first{
									float: left;
									/*width: 35%;
									margin-left: 13%;
									padding-left: 20%;*/
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									/*width: 35%;
									padding-left: 16%;*/
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-bronze-tab{
					padding-right:0;
					width: 47%;
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-bronze-content-row{
					
						>.tt-sites-bronze-container{
							>div{
								width: 100%;
								/*background-color: yellow;*/
								>.tt-site-column-first{
									float: left;
									/*width: 35%;
									margin-left: 13%;
									padding-left: 20%;*/
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									/*width: 35%;
									padding-left: 16%;*/
									>a{
										
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
	
	@media (min-width: 769px) and (max-width: 929px) {
		
		.tt-site-tab-container{
		
			>.tt-site-tab-incident-content{
				
				>.tt-sites-gold-tab {
					padding-left:20px;
					width: 47%;
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					>.tt-site-gold-content-row{
						>.tt-sites-gold-container{
							>div{
								/*background-color: yellow;*/
								width: 100%;
								>.tt-site-column-first{
									float: left;
									/*width: 35%;
									margin-left: 13%;
									padding-left: 20%;*/
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									/*width: 35%;
									padding-left: 17%;*/
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-silver-tab{
					width: 47%;
					margin-left: 5%;
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-silver-content-row{
						>.tt-sites-silver-container{
							>div{
								width: 100%;
								/*background-color: yellow;*/
								>.tt-site-column-first{
									float: left;
									/*width: 35%;
									margin-left: 13%;
									padding-left: 20%;*/
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									/*width: 35%;
									padding-left: 16%;*/
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-bronze-tab{
					padding-right:0;
					width: 47%;
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-bronze-content-row{
					
						>.tt-sites-bronze-container{
							>div{
								width: 100%;
								/*background-color: yellow;*/
								>.tt-site-column-first{
									float: left;
									/*width: 35%;
									margin-left: 13%;
									padding-left: 20%;*/
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									/*width: 35%;
									padding-left: 16%;*/
									>a{
										
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
	
	
	
	
	@media (min-width: 642px) and (max-width: 768px) {
		/* .pv-container{
		 height: 500px!important;
		 } */
		.tt-site-tab-container{
		
			>.tt-site-tab-incident-content{
				
				>.tt-sites-gold-tab {
					padding-left:0;
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					>.tt-site-gold-content-row{
						>.tt-sites-gold-container{
							>div{
								/*background-color: yellow;*/
								width: 100%;
								>.tt-site-column-first{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-silver-tab{
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-silver-content-row{
						>.tt-sites-silver-container{
							>div{
								width: 100%;
								/*background-color: yellow;*/
								>.tt-site-column-first{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-bronze-tab{
					padding-right:0;
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-bronze-content-row{
					
						>.tt-sites-bronze-container{
							>div{
								width: 100%;
								/*background-color: yellow;*/
								>.tt-site-column-first{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
	
	
	@media (min-width: 551px) and (max-width: 641px) {
		/* .pv-container{
		 height: 500px!important;
		
		 
		} */
		.tt-site-tab-container{
		
			>.tt-site-tab-incident-content{
				
				>.tt-sites-gold-tab {
					padding-left:0;
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					>.tt-site-gold-content-row{
						>.tt-sites-gold-container{
							>div{
								/*background-color: yellow;*/
								width: 100%;
								>.tt-site-column-first{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-silver-tab{
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-silver-content-row{
						>.tt-sites-silver-container{
							>div{
								width: 100%;
								/*background-color: yellow;*/
								>.tt-site-column-first{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-bronze-tab{
					padding-right:0;
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-bronze-content-row{
					
						>.tt-sites-bronze-container{
							>div{
								width: 100%;
								/*background-color: yellow;*/
								>.tt-site-column-first{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
	
	
	@media (min-width: 500px) and (max-width: 550px) {
		/* .pv-container{
		 height: 500px!important;
		} */
		   .tt-site-tab-container{
		
			>.tt-site-tab-incident-content{
				
				>.tt-sites-gold-tab {
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					>.tt-site-gold-content-row{
						>.tt-sites-gold-container{
							>div{
								/*background-color: yellow;*/
								width: 100%;
								>.tt-site-column-first{
									float: left;
									width: 47%;
									margin-left: 2%;
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-silver-tab{
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-silver-content-row{
						>.tt-sites-silver-container{
							>div{
								width: 100%;
								/*background-color: yellow;*/
								>.tt-site-column-first{
									float: left;
									width: 47%;
									margin-left: 2%;
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-bronze-tab{
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-bronze-content-row{
					
						>.tt-sites-bronze-container{
							>div{
								width: 100%;
								/*background-color: yellow;*/
								>.tt-site-column-first{
									float: left;
									width: 47%;
									margin-left: 2%;
									>a{
										
									}
								}
								
								>.tt-site-column-second{
									float: left;
									width: 47%;
									margin-left: 2%;
									/*padding-left: 20%;*/
									>a{
										
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
	
	
	@media (min-width: 362px) and (max-width: 499px) {
		/* .pv-container{
		 height: 1000px!important;
		 } */
		.tt-site-tab-container{
		
			>.tt-site-tab-incident-content{
				
				>.tt-sites-gold-tab {
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					>.tt-site-gold-content-row{
						>.tt-sites-gold-container{
							>div{
								>.tt-site-column{
									margin: 0 auto;
									width: 92%;
									margin-bottom: 10px;
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-silver-tab{
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-silver-content-row{
						>.tt-sites-silver-container{
							>div{
								>.tt-site-column{
									margin: 0 auto;
									width: 92%;
									margin-bottom: 10px;
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-bronze-tab{
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-bronze-content-row{
					
						>.tt-sites-bronze-container{
							>div{
								>.tt-site-column{
									margin: 0 auto;
									width: 92%;
									margin-bottom: 10px;
									>a{
										
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
	
	
	@media (min-width: 320px) and (max-width: 361px) {
		/* .pv-container{
		 height:1000px!important;
		 } */
		.tt-site-tab-container{
		
			>.tt-site-tab-incident-content{
				
				>.tt-sites-gold-tab {
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					>.tt-site-gold-content-row{
						>.tt-sites-gold-container{
							>div{
								>.tt-site-column{
									margin: 0 auto;
									width: 92%;
									margin-bottom: 10px;
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-silver-tab{
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-silver-content-row{
						>.tt-sites-silver-container{
							>div{
								>.tt-site-column{
									margin: 0 auto;
									width: 92%;
									margin-bottom: 10px;
									>a{
										
									}
								}
							}
						}
					}
				}
				
				>.tt-sites-bronze-tab{
					>.tt-site-tab-header{
						>div{
							.hd{
								padding-left: 10px;
							}
							
							.hd1{
								padding-right: 10px;
							}
						}
					}
					
					>.tt-site-bronze-content-row{
					
						>.tt-sites-bronze-container{
							>div{
								>.tt-site-column{
									margin: 0 auto;
									width: 92%;
									margin-bottom: 10px;
									>a{
										
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
	
}

.tt-site-ul{
	/*border-bottom: 1px #cccccc solid;	*/
	margin:0 !important;
}

.tt-site-ul-div{
	border-right: 1px #cccccc solid;
	border-left: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
	background-color: #ffffff;
}

.tt-site-nav-pills{
	background-color: #ffffff;
	border-bottom: 5px #ffffff solid;
}

.tt-site-nav-pills:hover,.tt-site-nav-pills:active, .tt-site-nav-pills:hover,.tt-site-nav-pills:visited, .tt-site-nav-pills:focus{
	background-color: #ffffff;
}

.tt-site-nav-pills.selected{
	border-bottom: 5px #E32212 solid !important;
}

.tt-site-nav-pills a{
	text-decoration: none !important;
	background-color: #ffffff !important;
	color: #555555 !important;
  	font-size: 16px;
}

.tt-site-nav-pills a, .tt-site-nav-pills:active a, .tt-site-nav-pills:visited a, .tt-site-nav-pills:focus a, 
.tt-site-nav-pills:hover a.selected, .tt-site-nav-pills:active a.selected, .tt-site-nav-pills:visited a.selected, .tt-site-nav-pills:focus a.selected
{
	background-color: #ffffff !important;
	text-decoration: none !important;
	color: #333333 !important;
  	font-size: 16px;
}

#site-sla{
background:#fff;
}

.wrapword{
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
word-break: break-all;
white-space: normal;
height:100%;
}
@media ( min-width : 768px) {
	
	.aui .tt-container>.tt-graph-legend-container>.tt-graph-legend>div>div {
		margin-right: 10px !important;
	}
}

@media ( min-width :501px) and (max-width: 767px) {
	.tt-officebuilding {
		margin: 16px;
	}
}

@media ( min-width : 769px) and (max-width: 929px) {
.tt-centermodified {
		margin-left: 0px !important;
	}
}