button{
border-radius:5px !important;
}
#reportsContainer {
	width: 40%
}

.documentLinkContainer {
	border-bottom: solid 1px #ccc;
	padding-bottom: 10px;
	margin-right: 55px;
	position: relative;
	left: 6%;
}

.reportsContent {
	margin-left: 15px;
	margin-top: 20px;
	padding-bottom: 30px;
}

#outerDocumentTitle {
	display: flex;
	padding-top: 10px;
}

#innerDocumentTitle {
	padding-left: 10px;
	width: 90%;
}

#documentTitlePost {
	height: 20px;
	width: 18px;
	position: relative;
	top: 5px;
	right: 1px;
}

#innerDocumentPre {
	position: relative;
	top: 5px;
}

#documentLink {
	text-decoration: none;
}

.reportNameOuterContainer {
	padding-top: 1.6%;
    pointer-events: none;
    cursor: pointer;
    padding-left: 1%;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
    border-top: none !important;
}

.reportContent {
	color: #DA3224 !important;
	text-decoration: none !important;
	font-size: 1.3em;
	
}

.reportImage {
	float: right;
	height: 25px !important;
	margin-right: 2%;
	 position: relative;
    bottom: 36px;
}

.reportCreateTime{
	
	color:black;
	    font-size: 16px;
}


#pdfContainer{
	
	
	background-color: white;
    padding: 20px;
    max-height: 100%;
    max-width: 100%;
    margin-left: 0px;
    overflow-y: auto;
}
#backToReports{
	 background-color: #777777;
  
     max-height: 35px;
  
  	 box-shadow: 0 2px 2px -2px #777777;
	  border-radius:3px;
	
}

#backToReports:HOVER {
	 
   	background-color: #555555;
     max-height: 35px;
  
  	 box-shadow: 0 2px 2px -2px #555;
	  border-radius:3px;
}

#backImage{
	
	height: 16px;
	width: 15px;
  position: relative;
  top: 3px;
  margin-right: 45px;
}
#backToReportsContent{
	
	
	color: #ffffff;
  /* margin-left: 25px; */
  margin-left: 40px;
  margin-bottom: 0px;
  position: relative;
  bottom: 16px;
  padding-right: 15px;
  font-size: 14px;
}


#backToReportsDiv{
	
	    float: right;
    margin-right: 25px;
    margin-top: 0px;
}

*:focus {
    outline: 0;   
}

.reportNameImage{
	
	height: 25px
}

#reportCategoryNameInnerImage{
	
	background: url("../images/artifactCategory.png");
	height: 10px;
	width: 8px;
	margin-right: 5px;
	  position: relative;
  top: 4px;
}

.reportCategoryName {
	display: flex;
	cursor: pointer;
	padding-left: 15px;
	height: 30px;
	width: 98.4%;
	padding-top: -28px;
	padding-top: 10px;
	font-size: 16px;
	}
.pdfImage{
	
	border: solid 1px #333;
    margin: 30px;
}

#pdfOuterContainer{
	
	border: solid 1px #ccc;
    max-height: 100%;
    max-width: 100%;
    background-color: white;
    /* margin-left: 75px;
    margin-top: 30px; */
	
}

.reportSaaS {
	display: flex;
	cursor: pointer;
	padding-left: 15px;
	height: 30px;
	width: 98.4%;
	padding-top: -28px;
	padding-top: 10px;
	font-size: 16px;
	}
	
	#reportSaaSInnerImage{
	
	background: url("../images/artifactCategory.png");
	height: 10px;
	width: 8px;
	margin-right: 5px;
	position: relative;
	top: 4px;
}
	