@media ( max-width : 500px) {
	.selectBoxLogInc {
		font-size: 88%;
	}
	#searchText {
		width: 126px !important;
	}
	.tt-sitecheck {
		margin-left: 3% !important;
	}
	.btn-primary-tt backButton {
		background: url(/TTApplicationPortlets/images/u5.png) no-repeat;
		font-size: 100%;
		float: right;
		margin-right: 10px;
		height: 38px;
		color: white;
		background-color: #777;
		width: 35% !important;
	}
	#linkTable {
		font-size: 95% !important;
		/* word-break: break-all; */
	}
}

@media ( min-width : 501px) and (max-width: 767px) {
	.selectBoxLogInc {
		font-size: 88%;
	}
	.tt-sitecheck {
		margin-left: 3% !important;
	}
	.btn-primary-tt backButton {
		background: url(/TTApplicationPortlets/images/u5.png) no-repeat;
		font-size: 100%;
		float: right;
		margin-right: 10px;
		height: 38px;
		color: white;
		background-color: #777;
		width: auto !important;
		width: 25% !important;
		/* display: table-row; */
	}
	.tt-displaySite-title {
		margin-top: 2%;
	}
}

@font-face {
	font-family: 'MyWebFont';
	src: url('fonts/GothamRoundedBook.woff') format('woff'),
		url('fonts/GothamRoundedBook.ttf') format('truetype');
}

body {
	font-family: 'MyWebFont';
}

#searchText {
	width: 150px;
}

#vBlockDropDown {
	font-size: 13px;
}

.create-VM {
	/*background: url(../images/PostNewThread_W_16.png) no-repeat 10px 10px #E32212;*/
	box-shadow: 2px 2px 2px #B52217;
	background-color: #E32212;
	padding: 7px 10px 7px 10px;
	border: 0;
	color: #ffffff;
}

.extra_style {
	color: white;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.bs-example {
	margin: 20px;
}

.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #67B5EB;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	border-style: solid;
	border-color: whitesmoke;
	border-width: 1px;
	border-radius: 25px !important;
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: black;
	text-align: center;
	background-color: #5CA7E8;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
}

.selectBoxLogInc {
	position: relative;
	width: auto;
	-moz-appearance: -moz-mac-vibrancy-dark !important;
}

.search {
	background: url("/TTPortalTheme/images/telkom/search.png") no-repeat
		10px 10px #555;
	background-color: #777;
	border: 0;
	width: 36px;
	height: 36px;
	position: relative;
	top: -5px;
	border-radius: 3px;
	margin-left: -10px !important;
}

.tt-riverbedlevel1 {
	width: 100%;
	height: 75px;
	display: table;
	background: white;
}

.tt-riverbedlevel1-header {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	border-bottom-width: 1px;
	border-bottom-color: #CCC;
	border-bottom-style: solid;
	    padding-top: 20px;
}

.tt-riverbed-inputbutton {
	background: url(/TTApplicationPortlets/images/u5.png) no-repeat;
	font-size: 100%;
	float: right;
	height: 38px;
	color: white;
	background-color: #777;
	border-radius: 5px !important;
	position: relative;
	bottom: 10px;
	z-index: 1;
	margin-right: 5px;
}

button, html input[type="button"] {
	border-radius: 5px !important;
}

#updateDataHolderDiv {
	width: 1000px;
	position: relative;
	right: 10%;
	padding-bottom: 18px;
	margin-left: 4%;
	margin-top: 2%;
}

.updateInfoHolder {
	position: relative;
	right: 8% !important;
	display: inline;
}

.updatedTimeHolder {
	position: relative;
	right: 8% !important;
	display: inline;
}

.updateButtonHolder {
	display: inline;
}

.updateButtonHolder {
	display: inline;
}

button#refreshButton {
	position: absolute;
	bottom: 30px;
	left: 230px;
	/* margin-left: 2%; */
}

.updateButton {
	background: #777;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 36px;
	color: #ffffff !important;
	width: auto;
	min-width: 100px;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Gotham-Rounded' !important;
}

.updateButtonDisable {
	background: #CCC;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 36px;
	color: #ffffff !important;
	width: auto;
	min-width: 100px;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Gotham-Rounded' !important;
	cursor: default !important;
}

.updateButton:hover {
	background: #555;
}

@media ( max-width :500px) {
	.updateInfoHolder {
		 margin-left:-2% !important; 
		position: relative;
		right: 0% !important;
	}
	.updatedTimeHolder {
		position: relative;
		right: 0% !important;
	}
	button#refreshButton {
    position: absolute;
    bottom: 35px;
    left: 204px;
}
	#updateDataHolderDiv {
		margin-left: 10% !important;
		margin-top: 42px !important;
	}
	.wrapper {
		cursor: help;
		position: relative;
	}
	.wrapper .tooltip {
		background: #D4D4D4;
		bottom: 100%;
		color: #fff;
		display: block;
		left: -25px;
		margin-bottom: 15px;
		opacity: 0;
		padding: 20px;
		pointer-events: none;
		position: absolute;
		width: 100%;
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		-ms-transform: translateY(10px);
		-o-transform: translateY(10px);
		transform: translateY(10px);
		-webkit-transition: all .25s ease-out;
		-moz-transition: all .25s ease-out;
		-ms-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		transition: all .25s ease-out;
		-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
		box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	}

	/* This bridges the gap so you can mouse into the tooltip without it disappearing */
	.wrapper .tooltip:before {
		bottom: -20px;
		content: " ";
		display: block;
		height: 20px;
		left: 0;
		position: absolute;
		width: 100%;
	}

	/* CSS Triangles - see Trevor's post */
	.wrapper .tooltip:after {
		border-left: solid transparent 10px;
		border-right: solid transparent 10px;
		border-top: solid #D4D4D4 10px;
		bottom: -10px;
		content: " ";
		height: 0;
		left: 50%;
		margin-left: -13px;
		position: absolute;
		width: 0;
	}
	.wrapper:hover .tooltip {
		font-size: 8px;
		color: black;
		opacity: 1;
		pointer-events: auto;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}

	/* IE can just show/hide with no transition */
	.lte8 .wrapper .tooltip {
		display: none;
	}
	.lte8 .wrapper:hover .tooltip {
		display: block;
	}
	.rwd {
		display: none;
	}
	.tt-backbutton {
	display: table-cell;
    position: relative;
    left: 433% !important;
	}
}

@media ( min-width : 500px) {
	.wrapper {
		display: none !important;
	}
}

@media ( min-width : 501px) and (max-width: 767px) {
	#updateDataHolderDiv {
    margin-left: 16% !important;
    margin-top: 2% !important;
}
	.updateInfoHolder {
		position: relative;
		right: 0px !important;
		display: inline;
		margin-top: 0px !important;
	}
	button#refreshButton {
		position: absolute;
		left: 36% !important;
	}
	.tt-riverbed-inputbutton{
	    margin-left: 49% !important;
	}
	.tt-backbutton{
	 display: inline-flex  !important;
	}
}

#detailLabel{
	
	position: relative;
	top:15px;
	
}