input.btn-primary-tt.backButton:hover {
    background-color: #333;
}

div#backButtonDiv {
    float: right;
    position: relative;
    top: -10px;
}

input.btn-primary-tt.backButton {
    padding: 10px 10px 10px 10px;
    background-color: #555555;
    box-shadow: 0px 0px 0px !important;
    border-radius: 5px;
}


#serviceSpecsTableDiv {
	background-color: #fff;
}

.serviceTypeTd {
	width: 45%;
	padding-left: 18%;
	font-size: 16px;
	font-weight: bold;
}

.greyOut {
	background-color: #d3d3d3;
}

.amber {
	background-color: #ff9c00;
}

.red {
	background-color: #e32212;
}

.green {
	background-color: #a3cf62;
}

.blocks.Amber{
	background-color:#ff9c00;
}

.blocks.Red{
	background-color:#e32212;
}

.blocks.Green{
	background-color:#a3cf62;
}

.blocks.Grey{
	background-color:#d3d3d3;
}

.blocks.red{
	background-color:#e32212;
}

.blocks.green{
	background-color:#a3cf62;
}

.blocks.greyOut{
	background-color:#d3d3d3;
}
.blocks.amber{
	background-color:#ff9c00;
}





.blocks {
	text-align: center;
	height: 50px;
	line-height: 50px;
	border: solid 1px transparent;
	border-radius: 0px;
	width: 150px;
	margin: auto;
}
.blocks.Amber{
	background-color:#ff9c00;
}

.blocks.Red{
	background-color:#e32212;
}

.blocks.Green{
	background-color:#a3cf62;
}

.blocks.Grey{
	background-color:#d3d3d3;
}

#serviceSpecsTable {
	width: auto;
}

#serviceSpecsTable td {
	text-align: center;
	font-weight: bolder;
	font-size: 16px;
}

a.service-links {
	text-decoration: underline;
	color: #333;
}

.redirectBlocks {
	cursor: pointer;
	margin-top: 4%;
	margin-bottom: 4%;
}

.titleText {
	font-size: 20px;
	padding-top: 5px;
	font-weight: 100;
}

.sos {
	width: 37%;
}

.link1 {
	padding-left: 18%;
}

@media ( max-width : 500px) {
	.serviceTypeTd {
		width: 49%;
    		padding-left: 23%;
	}
	.sos {
		width: auto;
	}
	.link1 {
		padding-left: 0px;
	}
	.blocks {
		text-align: center;
		height: 40px;
		line-height: 40px;	
		border: solid 1px transparent;
		border-radius: 0px;
		width: 45px;
		margin: auto;
	}
}

@media ( min-width : 501px) and (max-width: 767px) {
	.sos {
		width: auto !important;
	}
	.blocks {
		text-align: center;
		height: 40px;
		line-height: 50px;
		border: solid 1px transparent;
		border-radius: 0px;
		width: 49px;
		margin: auto;
	}
}

@media ( min-width : 768px) and (max-width: 990px) {
	.serviceTypeTd {
		width: 36%;
		padding-left: 24%;
	}
	.link1 {
    padding-left: 23%;
}
}