/* a.sbry {
   background:url(../images/u876.png)no-repeat;
    display:block;
    height:50px;
    color: #666 !important;       
}

a.ssry {
    background:url(../images/u876.png)no-repeat;
    display:block;
    height:50px;
} */
button{
border-radius:5px !important;
}
#collapsei3{
	display:block;
	/*max-width:450px;*/
	padding:3px;
	font-family: 'Gotham-Rounded-Book';
}

aui:button{
	background: #ffffff;
	border:solid 1px #c0c0c0;
}

.sendMailFont{
	font-family:"Gotham-Rounded";
}
 
a.sbry {
	background:url(../images/se.png)no-repeat;
    display:block;
    height:50px;
    color: #666 !important;   
}

a.ssry {
    background:url(../images/seh.png)no-repeat;
    display:block;
    height:50px; 
}

/*#collapsei3{
	display:block;
	max-width:450px;
	padding:3px;
	font-family: 'Gotham-Rounded-Book';
}*/

aui:button{
	background: #ffffff;
	border:solid 1px #c0c0c0;
}

.sendMailFont{
	/* font-family:"Gotham-Rounded"; */
}

/* .control-group{
	display: flex;
} */


#_SendEmail_WAR_SendEmailportlet_mailBody{
	width: 456px;
	height: 161px;
	position: relative;
	left: 20px;
}

#_SendEmail_WAR_SendEmailportlet_receiverEmailAddess{	
	width: 456px !important;
	height: 20px;
	position: relative;
	left: 60px;
}

#_SendEmail_WAR_SendEmailportlet_senderEmailAddess{
	width: 456px !important;
	height: 20px;
	position: relative;
	left: 40px;
}

#_SendEmail_WAR_SendEmailportlet_mailSubject{
	width: 456px !important;
	height: 22px;
	position: relative;
	left: 25px;
}

#sendEmail{
	background-color: #777777;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	margin-right: 5px;
  	box-shadow: 0 2px 2px -2px #777777;
	border-radius:3px;
}

#sendEmail:hover{	
	background-color: #555555;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	margin-right: 5px;
    box-shadow: 0 2px 2px -2px #555;
	border-radius:3px;
}

#resetEmail{
	background-color: #777777;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
  	box-shadow: 0 2px 2px -2px #777777;
  	border-radius:3px;
}

#resetEmail:hover{
	background-color: #555555;
	/* display: inline; */
	/* width: 100px; */
	max-height: 38px;
	box-shadow: 0 2px 2px -2px #555;
	border-radius:3px;
}

#cancelContent{
	color: #ffffff;
	/* margin-left: 25px; */
	margin-left: 40px;
	margin-bottom: 0px;
	position: relative;
	bottom: 8px;
	padding-right: 15px;
	font-size: 14px;
}

#cancelIcon{	
	background: url("../images/cancel.png");
	height: 15px;
	width: 15px;
	margin-left: 15px;
	position: relative;
	top: 9px;
}

#sendIcon{
	background: url("../images/SendEmail.png");
	height: 16px;
	width: 15px;
	margin-left: 15px;
	position: relative;
	top: 5px;
}

#sendContent{	
	color: #ffffff;
	/* margin-left: 25px; */
	margin-left: 40px;
	margin-bottom: 0px;
	position: relative;
	bottom: 10px;
	padding-right: 15px;
	font-size: 14px;
}

.emailInputs{ 
	width: 95% !important;
	border-radius:3px !important;
	height: 22px !important;
}
	
#sendEmailHeader{
	width: 70%;
	height: 44px;
	border-radius: 3px;
	/* background-color: white; */
	display: flex;
	margin-top: 10px;
}

#messageTextArea{	
	height: 200px ! important;
	resize:none;
}

#emailButton{	
	margin-top: 30px;
    float: right;
    position: relative;
	right: 9%;
}

#emailHeaderContent{
	margin-top: 10px;
	margin-left: 18px;
	font-size: 14px;
	color: #555;	
}

#sendEmailContent{
	border-top: none;
	width: 100%;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 70%;
	/* background-color: white;*/
}

#sendEmailContainer{
	
}

#sendEmailForm{	
	position: relative;
	left: 8%;
	padding-top: 20px;
}

#emailHeaderContent{
	margin-top: 10px;
	margin-left: 15px;
	color: #555;
	font-size: 14px;
}

#emailLabel{	
	font-size: 14px;
	color: #555555;
	margin-left: 10px;
}

#sendEmailIcon{
	/* background: url("../images/more.png");
	height: 16px;
	width: 16px;
	position: relative;
    left: 70%; */
}

.sendEmailMore{
	background: url("../images/more.png");
	height: 16px;
	width: 16px;
	position: relative;
    left: 70%;
}

.sendEmailLess{	
	background: url("../images/less.png");
	height: 16px;
	width: 16px;
	position: relative;
    left: 70%;
}

#sendEmailButton{
	background: #FFF;
	border-right-style: none;
	border-left-style: none;
	height: 46px;
	TEXT-ALIGN: LEFT;
	width: 100%;
	min-width: 150px;
	/* border-radius: 3px; */
	padding-left: 15px;
	padding-right: 15px;
	TEXT-DECORATION: NONE;
	color: #555555;
	font-size: 14px;
	border-bottom: solid 1px #ccc;
}

.alert.alert-success{
	width: 90%;
	/* margin-left: 15px; */
}

.form-error{
	color:#e32212 ! important;
}

.error{
	color:#e32212 ! important;
}

.emailInputs2{
	width: 105% !important;
	border-radius:3px !important;
	height: 22px !important;
}

#emailLabel.span2{
	width:95px;
}

.span9{
	width: 72.46809% !important;
}

#attachmentLabelId.error{
	float:left;
	margin-left:116px;
}

.attachmentInputspan9{
	width: 125.46809% !important;
}

.file_input_textbox{
	width: 53% !important;
    margin-left: 17px !important;
}

.file_input_button{
	position:absolute; 
	width:100px !important; 
	height:30px;
	border:1px solid #fff !important;
	color:#fff;
	background-color: #777777;
	box-shadow: 0 2px 2px -2px #777777;
}

.file_input_hidden{
	position:absolute; 
	left:73%;
	cursor:pointer; 
	opacity:0; 
	filter:alpha(opacity=0); 
	-khtml-opacity:0;
	-moz-opacity:0;
	width:110px !important;
}

.file_input_button_hover{
	position: absolute;
	width:100px !important;
	height:30px;
	border:1px solid #fff !important;
	color:#fff;
	background-color:#555555;
	box-shadow: 0 2px 2px -2px #555555; 
}

*:focus {
    outline: 0;   
}

@media (max-width: 767px){
	.container3{
		width: 120% !important;
	}
	#emailLabel{
		margin-left: 0px !important;
	}
	.file_input_textbox{
		width: 50% !important;
		margin-left: 0px !important;
	}
}