button{
border-radius:5px !important;
}
.tt-srdetails-container{
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	border:1px #ccc solid;
	background-color:#fff;
}
.tt-srdetails-header{
	font-size:16px;
	color:#333;
	border-bottom:1px solid #f1f1f1;
	padding-left: 10px;
	/* height:30px; */
}
.tt-SRHeader {
    margin-left: 20px;
    font-size: 18px;
    color: #333;
}

.tt-srdetails-summary{
	/* padding-left:10px; */
	vertical-align: middle;
	line-height: 30px;
	min-height: 30px ! important;
}
.img-back-arrow{
	background: url(../images/Back_W_16.png) no-repeat 10px 10px #555; 
	box-shadow: 2px 2px 2px #777;
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
}
.tt-grayContainer{
	background-color:#f1f1f1;
	padding-top: 20px;
}
.tt-sritems-header{
	background-color:#CCC;
	
}
.tt-buttonHolder{
	margin-left:20px;
}
.tt-srdeatils-container-holder{
	
}
.tt-srd-dataStyle{
	font-size:14px;
	color:#333;
	margin-bottom: 5px;
}
.tt-srd-dataHeaderStyle{
	font-size:14px;
	color:#777;
}
.tt-srd-modalOpenArrow{
	
}
.tt-sritems-table-holder{
	margin-left:0px !important;
	margin-right:0px !important;
	padding-right: 10px; 
	padding-left: 10px;
}
#ritmModal .modal-header{
	border-bottom: 1px solid #CCC !important;
	height: 35px;
	padding: 2px 15px 2px 0px !important;
}
#ritmModal .modal-body{
	padding: 0px !important;
	max-height: 400px !important;
	overflow: hidden;
}
#ritmModal .modal-footer{
	margin-bottom: 0px !important;
	padding: 10px 10px 10px !important;
	background-color: #fff;
	border:0px;
}
.tt-table-overflow{
	table-layout:fixed;
	margin-bottom:0px !important;
	display:-moz-deck;
}

.tt-table-overflow-ExtraCrDetails{
	table-layout:fixed;
	margin-bottom:0px !important;
	display:-moz-deck;
}

.img-OK{
	background: url(../images/Confirm_OK_W_16.png) no-repeat 10px 10px #555;
	background-color: #777;
	padding: 10px 10px 10px 35px;
	border: 0;
}
.img-OK:hover{
	background-color:#555 !important;
}
/* .btn-primary-tt{
	background-color:#777;
	border-radius:2px;
} */
.tt-sritem-table{
	/* margin-right:10px;
	margin-left:10px; */
	/* height:300px; */
	/* overflow-y:visible; */
	width: 100% !important;
	background-color:#fff !important;
}
.tt-sritem-table-holder{
	height:200px;
	/*width:520px;*/
	overflow:scroll;
	border:1px #ccc solid;
	margin-left:10px;
	margin-right:10px;
}
#tt-srd-container{
	display:none;
}
#tt-srlisting-container{
	display:block;
}
#ritmModal{
	/* position:absolute !important;
	width: 600px !important;
	overflow:hidden; */
	position: fixed;
	overflow: auto;
	display: table-cell;
	vertical-align: middle;
	top: 2% !important;
	/*right: 0 !important;*/
	/*left: 46%;*/
	/*width: 600px !important*/
	
}
.closeMark{
	position:relative;
	margin-top: 4px;
}
.tt-sritem-commentHeaderStyle{
	margin-left:10px;
}
.tt-srd-sri-dataHeader{
	margin-left:0px !important;
}
.tt-srdsri-HeaderStyle{
	/* margin-left:10px; */
}
.tt-sritems-tableStyle{
	
}
#tt-ritm-header{
	margin-top: 8px;
	margin-left:15px;	
}
#tt-srd-container td{
	border-top: 0px !important;
	padding:10px !important;
}
#ritmModal td{
	padding:15px !important;
	border-top: none !important;
}
	
}
.tt-srd-descriptionStyle{
	text-align:justify;
}
.labelMore{
	background-color: rgba(224, 224, 224, 0.44);
  width: auto !important;
  height: auto !important;
  padding-top: 5px;
  text-align: center;
  cursor: pointer;
  color: #555;
}

.labelMore:HOVER{
	background-color: rgba(172, 172, 172, 0.44);
  width: 140px;
  
  height: 30px;
  text-align: center;
  cursor: pointer;
	
}


.labelMore_clicked{
	background-color: rgb(137, 134, 134);
  width: 120px;
  
  height: 30px;
  text-align: center;
  cursor: pointer;
	
	
}

#metricstable {
  border-left: 1px solid rgb(219, 218, 218);
  border-right: 1px solid rgb(219, 218, 218);
  border-top: 1px solid rgb(219, 218, 218);
  border-bottom: 1px solid rgb(219, 218, 218);
  width: 100%;
  margin-bottom:15px;
  margin-top:15px;
}

#metricstable td {
	font-size:14px;
	color:#555;
	height: 50px;
	border: solid 1px rgb(195, 180, 180);
	vertical-align: middle;
	padding: 10px 10px;
	text-align: center;
}

#metricstable thead th{
	background-color:rgb(212, 212, 212);
	text-align: center;
	font-weight:500;
	font-size: 14px;
	height: 50px;
	color:#555;
	border: solid 1px rgb(195, 180, 180);
	vertical-align: middle;
	padding: 10px 10px;
}

.metricEX{
	color: #000 !important;
	cursor:pointer;
	display:block;
	height:90%;
	margin-top:20px;
	text-decoration:none !important;
}

.gridLeftCols{
	width:10% !important;
	text-align:left !important;
}

.gridLeftColstd{
	background-color: #EFEFEF !important;
}

.gridWidth30{
	width:30% !important;
}
.tt-tkt-src-row{
	padding-bottom: 15px;
}
.tt-comment-list{
	height: 200px;
	overflow-y: scroll;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding: 10px;
	/*width: 520px;*/
}

.tt-comment-input{
	/*padding-top: 10px;*/
}
.tt-data-row{
	padding-bottom: 20px;
}
.tt-comment-list-row{
	padding-bottom: 20px;
}
.tt-posted-by {
  color: red;
  width: auto!important;
}

.tt-posted-timestamp {
  text-align: right;
  width: auto !important;
  float: right !important;
}

.tt-comment-text{
	text-align: justify;
}

.tt-main-container{
	border: 1px solid #cccccc;
	padding-bottom: 20px;
}

.tt-IncidentSummary-header{
	border-bottom: 1px solid #cccccc;
}

.tt-data-col{
	padding-left: 20px;
}

*:focus {
    outline: 0;   
}

@media (min-width: 1200px) {
	.tt-form-left-col{
		width: 14% ;
	}
	.mediasr{
	float:right !important;
	}
	
	#ritmmodal{
		position: fixed;
		/*width: 50% !important;*/
		overflow: auto;
		display: table-cell;
		vertical-align: middle;
		top: 2% !important;
		/*left: 45%;*/
		right: 0 !important;
		/* z-index: 1050 !important; */
	}
	
	
	
	#logIncSubmitResponse{
		position: fixed;
		left: 46%;
		width: 50% !important;
		display: table-cell;
		vertical-align: middle;
		top: 2% !important;
		right: 0 !important;
	}
}

@media (min-width: 1025px) and (max-width: 1199px) {
	#ritmmodal{
		left: 46% ! important;
		width: 60% !important;
		top: 2% !important;
	}
	.mediasr{
	float:right !important;
	}
	
}

@media (min-width: 930px) and (max-width: 1024px) {
	#ritmmodal{
		left: 48% ! important;
		width: 70% !important;
		top: 2% !important;
		height:100%;
	}
	.mediasr{
	float:left !important;
	}
	
}
@media (min-width: 768px) and (max-width: 929px) {
	#ritmmodal{
		left: 44% ! important;
		width: 73% !important;
		top: 2% !important;
		height:100%;
	}
	.mediasr{
	float:left !important;
	}
	
}



@media (max-width: 767px){
	#ritmmodal{
		left: 7%;
		/*width: 85% !important;*/
		top: 2% !important;
		right: 7% !important;
		height:100%;
	}
	.mediasr{
	float:left !important;
	}
	
}



/*@media ( max-height: 641px ){
	.chrome {
		#ritmmodal{
			bottom: 2% !important;
		}
		.modal-body{
			background-color: yellow !important;
			max-height: 81vh !important;
		}
	}
}*/

@media screen and ( min-height: 600px ) and ( max-height: 641px ) {
	.chrome, .ie, .firefox, .safari {
		#ritmmodal{
			bottom: 2% !important;
			overflow: hidden;
		}
		
	}
}

@media screen and ( min-height: 465px ) and ( max-height: 599px ) {
	.chrome, .ie, .firefox, .safari{
		#ritmmodal{
			bottom: 2% !important;
			overflow: hidden;
		}
	
	}
}

@media screen and ( min-height: 445px ) and ( max-height: 466px ) {
	.chrome, .ie, .firefox , .safari{
		#ritmmodal{
			bottom: 2% !important;
			overflow: hidden;
		}
		
	}
}

@media screen and ( min-height: 400px ) and ( max-height: 445px ) {
	.chrome, .ie, .firefox , .safari{
		#ritmmodal{
			bottom: 2% !important;
			overflow: hidden;
		}
		
	}
}

@media screen and ( min-height: 320px ) and ( max-height: 399px ) {
	.chrome, .ie , .firefox, .safari{
		#ritmmodal{
			bottom: 2% !important;
			overflow: hidden;
		}
		
	}
}

@media screen and ( min-height: 250px ) and ( max-height: 319px ) {
	.chrome, .ie , .firefox, .safari{
		#ritmmodal{
			bottom: 2% !important;
			overflow: hidden;
		}
		
	}
}
@media (min-width: 320px) and (max-width: 738px){
	.tt-sritem-table-holder{
		/*width: 300px !important;*/
	}
}



@media (min-width: 320px) and (max-width: 885px){
	#scrTrendSection{
		display: none !important;
	}
	.gridLeftCols{
		display: none;
	}
}
/*
@media (min-width: 320px) and (max-width: 500px){
	.tt-sritem-commentHeaderStyle{
		margin-left: 0px !important;
	}
	.tt-sritem-table-holder{
		width: 185px !important;
		margin-left: 0px !important;
	}
}
*/

.gridWidth18{
	width:18% !important;
}