button{
border-radius:5px !important;
}
a:hover{
text-decoration: none !important;
}

.portletTitleBar {
	background: white;
	height: 45px;
}

.titleText {
	position: relative;
	float: left;
	color: #333;
	font-size: 16px;
	vertical-align: middle;
	line-height: 44px;
	text-align: center;
	cursor: default;
}

.navigationArrow {
	position: relative;
	float: right;
	line-height: 44px;
}

.navArrowRight {
	positive: relative;
	float: right;
	top: 25%;
	margin-right: 10%;
}

#p_p_id_TTSLAAvailablityPortlet_WAR_TTApplicationPortlets_ {
	background-color: #F1F1F1;
}

#p_p_id_TTSLAAvailablityPortlet_WAR_TTApplicationPortlets_ .portlet-borderless-container{
	margin: 0x !important;
}
.header_row_style
{ 
	font-size: 111%;
	margin: 1%;
	font-weight: bold;
}
.percentage_row
{
	font-size: 150%;
}
.extra_style
{
	color: white;
  padding-top : 4%;
  padding-bottom : 4%;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.hr_style {
	border-bottom: 1px solid #CCC !important;
	border-top: none !important;
}

@media (min-width :769px) {
	.col {
		position: relative;
		width:23%;
	}
	.first-column{	position:absolute;		
		left:2%;			
	}
	.second-column{		position:absolute;	
		left:26.25%;	
	}
	.third-column{		position:absolute;	
		left:50.5%;			
	}
	.fourth-column{		position:absolute;	
		left:75%;		
	
	}
	
}

@media screen and (min-width: 768px) and (max-width: 799px) {
	#first-column-dashboard {
		color: #fff !important;
		display: flex !important;
		width: 65% !important;
		min-height: 45px !important;
		position: relative !important;
		right: 16% !important;
	}
	#second-column-dashboard {
		color: #fff !important;
		display: flex !important;
		width: 65% !important;
		min-height: 45px !important;
		right: 47% !important;
		position: relative !important;
	}
	#third-column-dashboard {
		color: #fff !important;
		display: flex !important;
		width: 65% !important;
		min-height: 45px !important;
		/* background-color: gray !important; */
		right: 80% !important;
		position: relative !important;
	}
	#fourth-column-dashboard {
		color: #fff !important;
		display: flex !important;
		width: 65% !important;
		min-height: 45px !important;
		/* background-color: gray !important; */
		position: relative !important;
		top: -44.5px !important;
		left: 205% !important;
	}
}

@media screen and (min-width: 800px) and (max-width: 979px) {
	#first-column-dashboard {
		color: #fff !important;
		display: flex !important;
		width: 65% !important;
		height: 45px !important;
		position: relative !important;
		right: 5% !important;
	}
	#second-column-dashboard {
		color: #fff !important;
		display: flex !important;
		width: 65% !important;
		height: 45px !important;
		right: 42% !important;
		position: relative !important;
	}
	#third-column-dashboard {
		color: #fff !important;
		display: flex !important;
		width: 65% !important;
		min-height: 45px !important;
	/* 	background-color: gray !important; */
		right: 77% !important;
		position: relative !important;
	}
	#fourth-column-dashboard {
		color: #fff !important;
		display: flex !important;
		width: 65% !important;
		min-height: 45px !important;
		/* background-color: gray !important; */
		position: relative !important;
		top: -44.5px !important;
		right: -205% !important;
	}
}


/* @media screen and (min-width: 980px) and (max-width: 988px) {

#fourth-column-dashboard {
    color: #fff !important;
    display: flex !important;
    width: 65% !important;
    min-height: 45px !important;
    background-color: gray !important;
    position: relative !important;
    top: -44.5px !important;
    right: -195% !important;
}
} */
@media (max-width: 767px){
	#SLABoxOuter{
		left: 0% !important;
		padding-left: 20px;
		padding-right: 20px;
	}
	.tt-span4-width{
		width: 100% !important;
	}
		#first-column-dashboard {
	    width: 100%!important;
	    margin-bottom: 10px;
	     position: relative;
	    right: 0px !important;
	}
	#second-column-dashboard{
		width: 100% !important;
		margin-bottom: 10px;
		right: 0px !important;
	}
	#third-column-dashboard {
		width: 100% !important;
		right: 0px !important;
	}
	#SLABoxesSection{
	height: auto !important;

	}
	#fourth-column-dashboard {
    width: 100%!important;
    right: 0!important;
    position: relative;
    top: 8.5px !important;
}
}


@media (min-width:980px) and (max-width:1135px){
	#second-column-dashboard {
              right: 40% !important;
       }
       #third-column-dashboard {
              right: 75% !important;
       }
       #first-column-dashboard {
              right: 11px !important;
       }
       #fourth-column-dashboard {
              right: -204% !important;
       }

}

@media (min-width:1136px) and (max-width:1199px){
	   #first-column-dashboard {
           right: 15px !important;
       }
       #second-column-dashboard {
              right: 44% !important;
       }
       #third-column-dashboard {
              right: 77% !important;
       }
       #fourth-column-dashboard {
           right: -204% !important;
       }

}

@media (min-width:1241px) and (max-width:1268px){
	#first-column-dashboard {
   	    right: 5px !important;
	}	
	#second-column-dashboard {
   		right: 62px !important;
	}
	#third-column-dashboard {
   		right: 121px !important;
	}
	#fourth-column-dashboard {
    		right: -205% !important ;
	}
}

@media (min-width:1269px) and (max-width:1290px){
	#second-column-dashboard {
		right: 54px !important;
	}
	#third-column-dashboard {
		right: 105px !important;
	}
}

@media (min-width:1291px) and (max-width:1320px){
	#first-column-dashboard {
	   right: 0px !important;
	}
	#second-column-dashboard {
    		right: 52px !important;
	}
	#third-column-dashboard {
    	    right: 106px !important;
	}
	#fourth-column-dashboard {
   		right: -205% !important;
	}
}

.sla_back_button {
	height: 38px;
	width: 193px;
	color: white;
	border: none;
}

.futuicon {
	background-image: url("/TTPortalTheme/images/futureR.png");
	background-position: right center;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
}

.tt-span4-width{

}

#first-column-dashboard {
	color: #fff;
    display: flex;
    width: 65%;
    height: 45px;
    position: relative;
    right: 6px;
}

#second-column-dashboard {
    color: #fff;
    display: flex;
    width: 65%;
    height: 45px!important;
    right: 60px;
    position: relative;
}

#third-column-dashboard {
	color: #fff;
    display: flex;
    width: 65%;
    min-height: 45px;
   /*  background-color: gray; */
    right: 115px;
    position: relative;
    
}

#SLABoxesSection {
	background-color: white;
	border-top: 0px !important;
	border: solid 1px #ccc;
}

#SLABoxOuter{
	position: relative;
    left: 10%;
    /* margin-top: 10px; */
    padding-top: 20px;
}

#innerContent{
	position: relative;
    width: 100%;
    text-align: center;
    /* left: 42px; */
    top: 9px;
}

.progress {height: 10px !important;}
.progress-bar { float:left; height:10px !important; line-height:20px !important; }

#dashboardData{
	padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#status{
	font-size: 16px;
}
#dashboardPercentage{
	float: right;
    font-size: 16px;
    
}

#noDataDiv{
	width: 100%;
    text-align: center;
    font-size: 14px;
}

#fourth-column-dashboard{
    color: #fff;
    display: flex;
    width: 65%;
    min-height: 45px;
    background-color: gray;
    position: relative;
	top: -44.5px;
	right: -205%;
}
/* @media ( min-width :1020px) and (max-width:1291px) {
	#third-column-dashboard {
		right: 105px !important;
	}
	#second-column-dashboard {
		right: 58px !important;
	}
} */



@media (max-width: 980px) and (min-width: 1019px){

#second-column-dashboard {

    right: 40% !important;
}

#third-column-dashboard {
   
    right: 74% !important;
}

#fourth-column-dashboard {

    top: -44.5px !important;
    right: -205% !important;
}

}

@media (max-width: 1020px) and (min-width: 1291px){

#third-column-dashboard {
    right: 75%!important;
}

#second-column-dashboard {
    right: 41%!important;
}
#fourth-column-dashboard {
    
    top: -44.5px !important;
    right: -204% !important;

}

}