.aui{
	.tt-page-detail{
		background-color: #ffffff;
		border-bottom: 1px #cccccc solid;
		>.tt-page-breadcrumb{
			padding-top: 20px;
		}
		.tt-row-page-name{
			width: 55% !important;
			float: left;
		}
		.tt-back{
			width: 40%;
			float: right;
			text-align: right;
		}
		
		.tt-previous-page{
			font-size: 18px;
			color: #555555;
		}
		
		.tt-current-page{
			font-size: 24px;
			color: #333333;
			vertical-align: top;
			padding-top: 5px;
			display: inline-block;
		}
		
		.tt-img-dashboard{
			/*DashBoard_G_32.png*/
			background-image: url(../images/DashBoard_G_32.png);
			display: inline-block;
			height: 35px;
			background-repeat: no-repeat;
			padding-left: 40px;
			padding-top: 5px;
			vertical-align: top;
		}
	}
}


.tt-back{
			width: 40%;
			float: right;
			text-align: right;
		}
.tt-img-dashboard{
			/*DashBoard_G_32.png*/
			background-image: url(../images/DashBoard_G_32.png);
			display: inline-block;
			height: 35px;
			background-repeat: no-repeat;
			padding-left: 40px;
			padding-top: 5px;
			vertical-align: top;
		}
.aui .tt-page-detail .tt-current-page{
	    font-size: 20px !important; 
	
}
button{
	border-radius:5px !important;
}