@CHARSET "ISO-8859-1";

button{
	border-radius:5px !important;
}
#subscribeds {
	border: solid 1px #CCC;
	padding: 1%;
	background-color: #fff;
}

.tt-ssheader {
	border-bottom: solid 1px #CCC;
	padding: 1.5%;
	background-color: #fff;
	background: white;
	height: 33px;
}

.tt-sstable {
	width :100%;
	position: relative;
}

.tt-left-col {
	font-size: 16px;
}

.tt-right-col {
	position: relative;
}

#table-content {
	background: white;
	padding-bottom: 5px;
}

#ssTable {
	cellpadding: 10;
}

.tt-header {
	border-bottom: 1px solid #ccc;
}

.tt-page-title {
	padding-top: 10px;
	padding-left: 15px;
	text-transform: uppercase;
	font-size: 16px;
	color: #333;
}

.tt-detail {
	text-align: right;
	padding-top: 10px;
	padding-right: 15px;
}

#tt-sstable-header {
	background-color: rgb(219, 218, 218);
	height: 50px;
	padding-top: 10px;
}

#tt-sstable-body {
	border-bottom: solid 1px #ccc;
	color: #555 !important;
	height: 35px;
}


#ssTable {
	position: relative;
	width: 100%;
	/* bottom: 125px; */
	text-align: center;
}

#tableHeader {
	font-size: 16px;
}

#tableColumnContent {
	font-size: 15px;
	color: #000;
	font-weight: bold;
}

#tableColumnContentGray {
	font-size: 14px;
	color: grey;
	font-weight: bold;
}

@media ( max-width : 500px) {
	table.dataTable thead th, table.dataTable thead td {
		padding: 6px 15px !important;
	}
		#subscribeds {
			margin: 3%;
		}
}

@media ( min-width : 501px) and (max-width: 767px) {
	table.dataTable thead th, table.dataTable thead td {
		padding: 6px 15px !important;
	}
	
	#subscribeds {
			margin: 3%;
		}
}