button{
	border-radius:5px !important;
}
a#activeIncidents {
  padding-top: 17% !important;
  padding-bottom: 7px !important;
}

.span4.tt-create-incident-breadcrumb {
  margin-top: -5px;
}

td.advSearchCustomTD.advSearchCustomSpan2 {
  padding-left: 30px;
}

input.checkBoxPriority {
  position: relative !important;
  bottom: 1px;
}

div#ttPaginationDiv{
	text-align:right;
}
	

#ttticketListingTable td {
  border-bottom: solid 1px #ccc;
}

#ttticketListingTable{
  border: solid 1px #ccc;
}


#ticketgridbody {
    padding-left: 20px;
    padding-right: 20px;
}


#ticketlistbody {
    padding-top: 40px;
	padding-left: 20px;
    padding-right: 20px;
}


#tt-incident-main-heading {
    padding-left: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #333;
}

.selectedPageTab{
	border-bottom: solid 2px #E32212 !important;
	border-radius: 0px !important;
}
.selectedPageTab:hover{
	border-bottom: solid 2px #E32212 !important;
	border-radius: 0px !important;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

.TTHeaderSortableAscending{
	background: url("../images/sorted-ascending.png") no-repeat scroll right
		center transparent;
	padding-right: 20px;
}

.TTHeaderSortableDescending{
	background: url("../images/sorted-descending.png") no-repeat scroll right
		center transparent;
	padding-right: 20px;
}
#filterService{
	display:inline;
}

#myTableData{
	color: #f1f1f1;
}

.TTGridSelectedCount{
	border: solid 2px #E32212;
}

.backUpdateTicket{
position: relative;
  /* right: 700px; */
  bottom: 28px;
  padding-bottom: 11px;
  padding-top: 20px;
  left:0.5%;
}

.btn-style{
float:right;
background-color:gray;
color:#ffffff;
width:115px !important;
height:40px;
}

#formTable1 td
{
	text-align: left;
	height:40px;
}

#formTable2 td
{
	text-align: left;
	height: 40px;
	width:auto;
}

button#advSearchButton {
	background: url("../images/srchad.png");
	height: 35px; 
	width: 35px; 
	  margin-bottom: 10px;
	  border-style: none;
	
}

/*button#normalSearch {
	background: url("../images/srch.png");
	height: 35px; 
	width: 35px; 
	  margin-bottom: 10px;
	  border-style: none;
}*/



.datepicker {
	background-image: url('../images/u40.png');
	background-repeat: no-repeat;
	/* background-position-x: right; */
	background-position: 98% center;
	/*width: 170px !important;*/
}

td {
	
	margin: 0px;
}

#smclass td {
	text-align: left;
	padding: 0px;
	margin: 0px;
}

.portlet-body {
	background: #eee !important;
}

#P1i {
	background: #e32212;
	color: #000000;
	height: 50px;
	text-align: center;
	border-right:solid 1px #ffffff;
}

#P2i {
	background: #e32212;
	color: #000000;
	height: 50px;
	text-align: center;
	border-right:solid 1px #ffffff;
}

#P3i {
	background: #ff9c00;
	height: 50px;
	text-align: center;
	color: #000000;
	border-right:solid 1px #ffffff;
}

#P4i {
	background: #ff9c00;
	height: 50px;
	text-align: center;
	color: #000000;
	border-right:solid 1px #cccccc;
}

#P5i {
	background: #ff9c00;
	height: 50px;
	text-align: center;
	color: #000000;
	border-right:solid 1px #cccccc;
	
	
	
}

#P1r {
	background: #ff9c00;
	height: 50px;
	text-align: center;
	color: #000000;
	border-right:solid 1px #ffffff;
}

#P2r {
	background: #ff9c00;
	height: 50px;
	text-align: center;
	color: #000000;
	border-right:solid 1px #ffffff;
}

#P3r {
	background: #a3cf62;
	height: 50px;
	text-align: center;
	color: #000000;
	border-right:solid 1px #ffffff;
}

#P4r {
	background: #a3cf62;
	height: 50px;
	text-align: center;
	color: #000000;
}

#P5r {
	background: #a3cf62;
	height: 50px;
	text-align: center;
	color: #000000;
}

.totalTDclass {
	background: #ccc;
	height: 50px;
	color: #000000;
	padding-left: 1%;
	border-color: #cccccc;
}

#serviceTD {
	background: #ccc;
	height: 100px;
	color: #000000;
	padding-left: 1%;
	border-color: #CCCCCC;
	width: 12%;
}

#totalTD {
	background: #ccc;
	color: #000000;
	text-align: center;
	border-color: #cccccc;
	width: 8%;
}

.serviceTDclass {
	background: #f1f1f1;
	height: 50px;
	color: #000000;
	padding-left: 1%;
	border-color: #cccccc;
	word-break: break-all;
}

#tablematrixdiv {
	background: #ffffff;
}

a.shown {
	background: url(../images/shown.png) no-repeat;
	display: block;
	height: 40px;
	width: 40px;
}

a.tthidden {
	background: url(../images/hidden.png) no-repeat;
	display: block;
	height: 40px;
	width: 40px;
}

.ttheadingclassshown {
	border-bottom: solid 1px transparent;
	padding: 10px 0px;
}

.ttheadingclasshidden {
	border-bottom: solid 1px #d4d4d4;
}


td#full_page {
	text-align: left;
}

th.order1 a {
	background: url("../images/sorted-asc.png") no-repeat scroll right
		center transparent;
	padding-right: 10%;
}

th.order2 a {
	background: url("../images/sorted-desc.png") no-repeat scroll right
		center transparent;
	padding-right: 10%;
}

.headDisplay {
	background: #d4d4d4;
	height: 50px;
	padding-left: 2%;
	text-align: left; 
	color: #000000 !important;
	font-weight: normal !important;
}


.firstColumn {
	border-bottom: solid 1px #d4d4d4;
	border-left: solid 1px #d4d4d4;
	height: 100px;
	padding-left: 2%;
	text-align: left;
}

.midColumns {
	border-bottom: solid 1px #d4d4d4;
	height: 100px;
	padding-left: 2%;
	text-align: left;
}

.lastColumn {
	border-bottom: solid 1px #d4d4d4;
	border-right: solid 1px #d4d4d4;
	height: 100px;
	padding-left: 2%;
	text-align: left;
}

a.page-selector-tabs-tt {
	display: inline-block;
	border-bottom: solid 2px #d4d4d4;
	border-radius: 5px;
	padding: 1%;
	text-decoration: none;
	background: #d7d7d7;
}

a.page-selector-tabs-tt:hover {
	display: inline-block;
	border-bottom: solid 2px #d4d4d4;
	border-radius: 5px;
	padding: 1%;
	text-decoration: none;
	background: #ff0000;
}

a.pagelinks {
	font-size: large;
	color: #3c3c3c;
}

a.pagebanner {
	font-size: large;
	color: #3c3c3c;
}

a.ttticketlistingheaders:hover{
	text-decoration: none;
	color: #333333 !important;
	font-weight: normal !important;
}

a.ttticketlistingheaders{
	text-decoration: none;
	color: #555555 !important;
	font-size: 14px;
	font-weight: normal !important;
}

#ttticketListingTable{
	background: #ffffff;
	width:100%;
}

#ttticketListingTable td,th{
	text-align: left;
	padding-left: 10px;
}

#ttticketListingTable td{
	text-align: left;
	/*padding-left: 1%;	*/
	word-wrap:break-all;
}

#ttticketListingTable tr{
	border: solid 1px #f1f1f1;
}

#ttincidents tr{
	height: 100px;
}

a.tttabSelectorVariant{
	display: inline-block;
	width: 80px;
	height: 40px;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	color:#555555;

}

a.tttabSelectorVariant:hover{
	/* //background: #e32212; */
	color:#333333;
	text-decoration:none;
	border-bottom: solid 2px #e32212;
	
}

a.tttabSelectorPages{
	display: inline-block;
	width: 40px;
	height: 40px;
	text-decoration: none;
	
	text-align: center;
	line-height: 40px;
	color: #555555;
	border-radius:5px;
}

a.tttabSelectorPages:hover{
	//background: #333333;
	border-bottom:solid #e32212 2px;
	color: #333333;
	border-radius: 5px !important;
	text-decoration:none;
	border-radius:0px !important
	
}

#visibleDetailsTable td{
	
	 padding:10px;
	
}

#hiddenDetailsTable td{
	
	padding: 10px;
}

#commentSectionList{
  max-height: 300px;
  overflow-y: scroll;
  max-width: 50%;
  position: relative;
  left: 420px;
}

#visibleDetails{
	
	 padding-top: 10px;
	   padding-left: 1%;
	
}

.tt-textarea {
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid #CCCCCC;
  font: medium -moz-fixed;
  font: -webkit-small-control;
  height:169px !important;
  overflow: auto;
  resize:none;
  min-height: 100px;
  font-size: 14px !important;
  box-shadow:none !important;
}

.txtareaspc {
  position: relative;
  right: 123px;
}


#commentList{
	
	
	max-height: 300px; 
	overflow-y: scroll;
	  border: solid 1px #ccc;
	    width: 500px;
}

#incidentTd{
	
	display:inline;
	
}

#commentList{
  overflow-y: auto;
  height: 300px;
  overflow-x: hidden;
}




#full_page {
	margin: 3px;
}

body {
	font-size: 100%;
}



.tt-label {
	font-size: 14px;
  color: #888888;
  }

.tt-ans {
	font-size: 14px;
	color: #333333;
}

#bottomSec{
	   padding-top: 30px;
	   padding-left: 15px;
  padding-right: 10px;
}
	
	

#addCommentTd{
	
	  /* border: solid 1px #ccc; */
}

#hiddenDetails{
	
	display: block;
 /*  padding: 15px; */
   padding-left: 1%;
}

.labelMore{
	background-color: rgba(224, 224, 224, 0.44);
  width: auto !important;
  padding-top: 5px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  color: #555;
}

.labelMore:HOVER{
	background-color: rgba(172, 172, 172, 0.44);
  width: 140px;
  
  height: 30px;
  text-align: center;
  cursor: pointer;
	
}


.labelMore_clicked{
	background-color: rgb(137, 134, 134);
  width: 120px;
  
  height: 30px;
  text-align: center;
  cursor: pointer;
	
	
}
.incidentLabel{
	
	padding: 5px;
}
.commentLabel{
	
	padding: 5px;
}

/*Adding new css- Jainish  */
.cancelButton,
.closeButton{
	background: #777;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	height:36px;
	color: #ffffff !important;
	width: auto;
	min-width:100px;
	border-radius:3px;
	padding-left:15px;
	padding-right:15px;
	font-family:'Gotham-Rounded' !important;
}

.cancelButton:hover,
.submitRequestButton:hover,
.closeButton:hover{
	background:#555;
}

.disableButton{
	background:#ccc !important;
	cursor:pointer;
}
.submitRequestButton{
	background: #777;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	height:36px;
	color: #ffffff !important;
	width: auto;
	min-width:100px;
	border-radius:3px;
	padding-left:15px;
	padding-right:15px;
	font-family:'Gotham-Rounded';
}

.buttonIcon{
	position:relative !important;
	float:left;
	/* top: -2px; */
}
.buttonText{
	position:relative !important;
	color: #fff;
	font-size: 14px;
	display: inline;
	float: left;
	padding-left: 10px;
}
.modal-footer{
	margin-bottom: -22px !important;
	background-color: #ffffff !important;
}
.cancelButtonContent{
	position: relative;
}

.submitButtonContent{
	position: relative;
}
.close{
	opacity: unset !important;
}
.close :hover,
.close :focus{
	opacity: unset !important;
}
.closeMark{
	position:relative;
	margin-top: 4px;
}
.logTitle{
	color:#333 !important;
	font-size:16px !important;
	margin-top: 10px;
	margin-left: 18px;
}

#p_p_id_TTTicketGridPortlet_WAR_TTTicketServiceMappingPortlet_,
#p_p_id_TTTicketServiceMappingPortlet_WAR_TTTicketServiceMappingPortlet_ {
    margin-left: 25px;
    margin-right: 22px;
    margin-top: 25px;
}

#p_p_id_TTTicketServiceMappingPortlet_WAR_TTTicketServiceMappingPortlet_ .modal-header{
	border-bottom: 1px solid #CCC;
	height: 35px;
	padding: 2px 15px;
	padding-left: 0px;
}

.modal-backdrop{/* z-index:-10; */background-color:#CCC !important;}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:0.5 !important;}
.modal.fade.in{
	
	
}

#myModal{
	width:700px !important;
	top:15%;
	display:table-cell;
}
input[placeholder]{
	color:#333 !important;
	min-width: 39%;
}
::-webkit-input-placeholder { /* Webkit */
   color: #333 !important;
}
 
:-moz-placeholder { /* Firefox 18-4 */
   color: #333 !important;  
}
 
::-moz-placeholder {  /* Firefox 19+ */
   color: #333 !important;  
}
 
:-ms-input-placeholder {  /*  IE10+  */
   color: #333 !important;  
}
.checkbox-label{
	display: inline !important;
	padding-right: 5px;
}

#advSearchRow{
	margin-bottom: 10px;
}

.advSearchCustomTD{
	padding-left:12px !important;
}
.advSearchCustomSpan10{
	position:relative;
	width:85.333%;
}

.advSearchCustomSpan2{
	position:relative;
	width:29.667%;
}

.advSearchCustomSpan4{
	position:relative;
	width:33.33%;
}

.tt-checkBox-search{
	margin-top:0px !important;
}
#assignedTo{
	/*margin-left:17px !important;*/
}

.titleTicketGrid,
.titleTicketListing{
	position:relative;
	font-size:18px;
	color:#333;
}
.ticketServiceSubHeading{
	position:relative;
	font-size:16px;
	color:#333;
}
.tableContentText{
	position:relative;
	font-size:14px;
	color:#333;
	text-align:center;
}
/*End of new css- Jainish  */


#ticketDetailHeader{
	
	font-size: 16px;
	color: #333333;
	position: relative;
   bottom: 20px;
    padding-left: 8px;
	left:1.5%;
}
#incidentSummary{
		

}
.summaryStyle{
  font-size: 16px;
  color: #333333;
  height: 46px;
  padding-left: 20px;
}

#backButtonTicket{
	background-color: #555555;
	padding: 10px 10px 10px 10px;
	border: 0 !important;
}
#moreIcon{
	background: url("../images/moreDropDown.png");
	height: 16px; /* height of the background image */
	width: 16px; /* width of the background image */
	float: right;
  
  margin-right: 10px;
  margin-top: 1px;
	
}
#headerDetails{
	margin-top: 30px;
	
	
}
#ticketIcon {
  background: url("../images/Ticket_G_32.png");
  height: 32px;
  width: 32px;
  float: left;
  position: relative;
  bottom: 5px;
}

#displayContentTicket{	
	background-color: white;
	margin-top: 20px;
	border: solid 1px #ccc;
	margin-left: 2%;
	margin-right: 2%;
}

#ticketsTop{
	height: 120px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 10p;
	right: 3px;
	width: 100%;
	border-bottom: solid 1px #ccc;
}
#activeTickets{
  font-size: 18px;
  width: auto;
}

.activeTicketsText {
  display: inline-block;
  border-bottom: solid 2px red;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
#ticketTitle {
  font-size: 20px;
  padding-left: 52px !important;
  font-weight: bold;
}

/*Last minute css change*/
.incidentDescriptionContent{
  padding-left: 5px;
  margin-right:10px;
}
/*.incIDHeader{
	width: 90px !important;
}
.subHeader{
	width: 350px !important;
}
.priorityHeader{
	width: 90px !important;
}
.stateHeader{
	width: 110px !important;
}
.assigneeHeader{
	width: 110px !important;
}
.lUpdHeader{
	width: 110px !important;
}
.statusHeader{
	width: 110px !important;
}
.dueByHeader{
	width: 90px !important;
}
.flagHeader{
	width: 40px !important;
}*/
/*Last minute css change*/

.tt-shortdes{
	color:#333333;
	font-size:14px;
	font-weight: bold;
}

.tt-search-filter{
	text-align: right;
}

.tt-incident-list-name{
	font-size: 20px;
}
.tt-filter-text{
	font-size: 16px;
}


@media (min-width: 320px) and (max-width: 600px){
	.tt-col-subject{	
		display: none;
	}
	
	button#advSearchButton{
		/*display: none !important;*/
	}
	
	.tt-col-state{
		display: none;
	}
	
	.tt-col-assignee{
		display: none;
	}
	.tt-col-lastupdated{
		display: none;
	}
	
	#ticketgridbody{
		display: none;
	}
	
	.tt-col-status{
		display: none;
	}
	
	.tt-col-priority{
		text-align: center;
	}
	
	#ticketlistbody {
		padding-top: 0 !important;
	}

}

.tt-updateticket-header{
	background-color: #ffffff !important;
}

.tt-updateticket-container{
	margin: 20px;
	background-color: #ffffff;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.tt-updateticket-ctnr-header{
	
}

.tt-tkt-src-submit{
	text-align: right;
}

.tt-tkt-src-row{
	padding-bottom: 15px;
}
.tt-comment-list{
	height: 200px;
	overflow-y: scroll;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding: 10px;
	/*width: 520px;*/
}

.tt-comment-input{
	/*padding-top: 10px;*/
}
.tt-data-row{
	padding-bottom: 20px;
}
.tt-comment-list-row{
	padding-bottom: 20px;
}
.tt-posted-by {
  color: red;
  width: auto!important;
}

.tt-posted-timestamp {
  text-align: right;
  width: auto !important;
  float: right !important;
}

.tt-comment-text{
	text-align: justify;
}

.tt-main-container{
	border: 1px solid #cccccc;
	padding-bottom: 20px;
}

.tt-IncidentSummary-header{
	border-bottom: 1px solid #cccccc;
}

.tt-data-col{
	padding-left: 20px;
}

.tt-data-col-desc{
	padding-left: 20px;
}

.tt-incident-description{
	padding-right: 20px;
}

.btn-add-Comments{
	padding: 10px;
	border: 0;
	/*color: #ffffff ;
	font-size: 14px !important;
	line-height: 1 !important;
	background-color: #333333 !important;
	box-shadow: 2px 2px 2px #333333 !important;
	-moz-box-shadow: 2px 2px 2px #333333 !important;
    -webkit-box-shadow: 2px 2px 2px #333333 !important;*/
	background-color: #555555;
}

@media (min-width: 1120px) and (max-width: 1370px){
	.tt-fromdt-ip{
		
	}
	
}

@media (min-width: 901px) and (max-width: 1370px){
	.tt-textarea {
	  width: 97% !important;
	}
}

@media (min-width: 768px) and (max-width: 900px){
	.tt-textarea {
	  width: 96% !important;
	}
}

@media (min-width: 641px) and (max-width: 767px){
	.tt-textarea {
	  width: 98% !important;
	}
}

@media (min-width: 600px) and (max-width: 640px){
	.tt-textarea {
	  width: 97% !important;
	}
}

@media (min-width: 500px) and (max-width: 599px){
	.tt-textarea {
	  width: 97% !important;
	}
}

@media (min-width: 450px) and (max-width: 499px){
	.tt-textarea {
	  width: 97% !important;
	}
}

@media (min-width: 320px) and (max-width: 449px){
	.tt-textarea {
	  width: 95% !important;
	}
}

@media (min-width: 550px) and (max-width: 768px){
	.tt-fromdt-ip{
		
	}
	
	.tt-data-col{
		width: 32% !important;
		float: left !important;
	}
}

@media (min-width: 320px) and (max-width: 768px){
	.tt-header-row{
		padding-left: 20px;
	}
	.tt-updateticket-ctnr-header{
		padding-left: 20px !important;
	}
}
/*tt-header-row*/
/*tt-updateticket-ctnr-header*/