button{
	border-radius:5px !important;
}
.file_input_textbox{
	width: 98% !important;
}

.file_input_button{
	position:absolute; 
	width:100px !important; 
	height:30px;
	border:1px solid #fff !important;
	color:#fff;
	background-color: #777777;
	box-shadow: 0 2px 2px -2px #777777;
}

.file_input_hidden{
	position:absolute; 
	left:450px; 
	cursor:pointer; 
	opacity:0; 
	filter:alpha(opacity=0); 
	-khtml-opacity:0;
	-moz-opacity:0;
	width:110px !important;
}

.file_input_button_hover{
	position: absolute;
	width:100px !important;
	height:30px;
	border:1px solid #fff !important;
	color:#fff;
	background-color:#555555;
	box-shadow: 0 2px 2px -2px #555555; 
}


.img-submitrequestenabled {
  background-image: url(../images/SubmitRequest_W_16.png);
  background-repeat: no-repeat;
  background-color: #555;
  background-position: 10px 10px;
  padding: 10px 10px 10px 35px;
  border: 0;
  color: #ffffff;
  color: white !important;
}

@font-face {
	font-family: 'Gotham-Rounded';
	src: url("../fonts/GothamRounded-Book.woff");
	font-style: normal;
	font-weight: 400;
}

select, input, textarea {
	font-family: "Gotham-Rounded" !important;
	font-size: 14px !important;
}

select {
	margin-bottom: 0px !important;
}

.modal-open {
	overflow: hidden;
}

#incidentID {
	margin-left: 15px;
}

#p_p_id_TTLogTicketPortlet_WAR_TTApplicationPortlets_ .portlet-body {
	border: none;
}

#p_p_id_TTLogTicketPortlet_WAR_TTApplicationPortlets_ .modal-header {
	border-bottom: 1px solid #CCC;
	height: 35px;
	padding: 2px 15px;
	padding-left: 0px;
}
#p_p_id_TTLogTicketPortlet_WAR_TTApplicationPortlets_ .modal.fade.in{
	top: 15% !important;
	/* width: 900px !important; */
	position: fixed !important;
}
#p_p_id_TTLogTicketPortlet_WAR_TTApplicationPortlets_ .portlet-borderless-container
	{
	margin: 0px !important;
}


.ui-autocomplete { 
            cursor:pointer; 
            height:auto;
			max-height:150px;
            overflow-y:auto;
			background-color:#fff;
			border-left:1px solid #ccc;
			border-right:1px solid #ccc;
			border-bottom:1px solid #ccc;
			width:220px !important;
        }    
/*
#p_p_id_TTLogTicketPortlet_WAR_TTApplicationPortlets_ .modal-body{
	/* padding-left: 0px; */
/*max-height:600px !important;
}
*/
#p_p_id_TTLogTicketPortlet_WAR_TTApplicationPortlets_{
	/* top: 10% !important;
	margin-left: 25px;
	margin-top: 25px; */
	/* background-color: #fff; */
}
#logIncTableMarg {
	margin-bottom: 0px !important;
}

/* #logIncSubmitResponse {
	z-index:-9;
	position: relative;
	width: 400px !important;
	top: 40% !important;
	left: 55% !important;
} */

#logIncSubmitResponse .modal-footer {
	margin-bottom: 0px !important;
}

.P1P2Disclaimer {
	border: 1px solid #fff0cc;
	background: #FFFFCC;
	color: #555;
	font-size: 14px;
	padding-left: 15px;
}

.disclaimerIcon {
	/*margin-left: 15px;
	margin-right: 10px;*/
	/*background: url(../images/Discription_G_24.png) no-repeat 10px 10px transparent; */
	
}

.logTitle {
	color: #333 !important;
	font-size: 16px !important;
	margin-top: 10px;
	margin-left: 18px;
}

#responseStatus {
	color: #333 !important;
	font-size: 16px !important;
	margin-top: 8px;
	margin-left: 15px;
}

.cancelButton, .closeButton {
	background: #777;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 36px;
	color: #ffffff !important;
	width: auto;
	min-width: 100px;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Gotham-Rounded' !important;
}

.cancelButton:hover, .submitRequestButton:hover, .closeButton:hover {
	background: #555;
}

.disableButton,
.disableButton:hover {
	background-color: #ccc !important;
	cursor: pointer;
}

.disableButton2 {
	background: #fff !important;
	cursor: pointer;
}

.escFlagIcon {
	vertical-align: middle;
	display: inline;
}

.dashTickSpan1 {
	/* width:auto; */
	width: 30px !important;
	cursor: default;
	text-align: center !important;
	/* padding-left:15px !important;
	padding-right: 5px; */
}

.dashTickSpan7 {
	/* width:auto; */
	width: 58.333% !important;
	cursor: default;
}

.dashTickSpan8 {
	/* width:auto; */
	width: 66.667% !important;
	cursor: default;
}

.dashTickSpan9 {
	/* width:auto; */
	width: 75% !important;
	cursor: default;
}

.dashTickSpan2 {
	/* width:auto; */
	width: 16.667% !important;
	cursor: default;
}

.dashTickSpan4 {
	/* width:auto; */
	/* width:33.33% !important; */
	width: 140px !important;
	cursor: default;
	padding-left: 0px;
	padding-right: 0px;
}

.dashTickSpan5 {
	/* width:41.667% !important; */
	width: 250px !important;
	cursor: default;
}

.dashTickSpan3 {
	/* width:auto; */
	width: 25% !important;
	cursor: default;
	padding-left: 0px;
	padding-right: 0px;
}

.escFlagClass {
	/*position:relative;
	 width:30%; 
	float:right;*/
	
}

.dueByText {
	position: relative;
}

.dueByClass {
	position: relative;
	/* width:70%;
	float:left;
	left: 20%; */
}

.combinedFieldClass {
	position: relative;
	display: inline;
}

.dashTickSpanFlag {
	width: 5% !important;
	cursor: default;
}

.submitRequestButton {
	background: #777;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 36px;
	color: #ffffff !important;
	width: auto;
	min-width: 150px;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Gotham-Rounded';
}

.labelAlign {
	position: relative;
	margin-top: 1%;
	color: #555 !important;
}

.disclaimerText {
	overflow: hidden;
}


.close {
	opacity: unset !important;
}

.close :hover, .close :focus {
	opacity: unset !important;
}

.buttonIcon {
	position: relative !important;
	float: left;
	/* top: -2px; */
}

.buttonText {
	position: relative !important;
	color: #fff;
	font-size: 14px;
	display: inline;
	float: left;
	padding-left: 10px;
}

.buttonTextOK{

	position: relative !important;
	color: #fff;
	font-size: 14px;
	display: inline;
	float: left;
	padding-left: 21px;

}
.modal-footer {
	margin-bottom: -22px !important;
	background-color: #ffffff !important;
}

/* .navArrowRightImg{
	position:relative;
} */
#logDesc, #dashTickNotesTextArea {
	resize: none;
	width: 60% !important;
}

.dashTicketsCont {
	background: none ! important;
	border-top: 1px solid #cccccc;
	margin-top: 15px;
}

#dashTicketsContainer {
	width: auto !important;
	border: 1px #ccc solid !important;
}

.dashTickLabelCommon {
	word-break: break-all;
	word-wrap: break-word;
}

#dashTickCheckBox {
	display: inline !important;
}
/*#dashTickRow{
	margin-right:-30px !important;
	margin-left: 0px !important;
	margin-bottom: 10px;
}*/
#logIncRightCont {
	align: center;
}

#logIncLeftCont {
	align: center;
}

.portletTitleBar {
	background: white;
	height: 45px;
}

.titleText {
	position: relative;
	float: left;
	color: #333;
	font-size: 16px;
	/* left: 1%; */
	margin-left: 15px;
	vertical-align: middle;
	line-height: 44px;
	text-align: center;
	cursor: default;
}

.navigationArrow {
	position: relative;
	float: right;
	line-height: 44px;
}

.portletTitleContentSeparator {
	position: relative;
	width: auto;
	height: 10px;
	background: #FFF;
}

.pTCSLine {
	height: 1px !important;
	position: absolute;
	top: 5px;
	width: 100%;
}

.dashTickContTopLine {
	position: relative;
	width: auto;
	height: 10px;
}

.dashTickCountCont {
	position: relative;
	/* height: 115px; */
}

.dashTickCountLeft {
	position: relative;
	float: left;
}

.logIncButton {
	/* position:relative;
	margin-top: -10%;
	height: 50px;
	margin-top: 30%; */
	
}

/*.impactServiceCount{
	position:relative;
	max-width:50px;
	max-height:50px;
	float: left;
	
	margin-left:15px;
	width: 50px;
	height: 50px;
	background: #e32212;
	border-radius: 3px;
}

.impactServiceCountText{
	font-size: 16px;
	position: relative;
	left: 7%;
	color: #e32212;
	border-radius: 3px;
	
}*/

/*.riskServiceCount{
	position:relative;
	max-width:50px;
	max-height:50px;
	float: left;
	
	margin-left:15px;
	width: 50px;
	height: 50px;
	background: #ff9c00;
	
}

.riskServiceCountText{
	position:relative;
	font-size: 16px;
	left: 7%;
	color: #ff9c00;
}*/
.dashTickServiceCount {
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
}

/*#logTicketButton{
	background : #E32212;
	float: right;
	position: relative;
	margin-right: 1%;
	font-size:14px;
	min-height:38px;
	box-shadow: 2px 2px 2px #b52217;
	cursor:pointer;
	max-height:60px;
	margin-top: 30%;
}

#logTicketButton:hover{
	background : #b52217;
	box-shadow: 2px 2px 2px #b52217;
}*/

/* .navArrowRight{
	positive:relative;
	float:right;
	top: 25%;
	margin-right: 15px;
} */
.helpIconDiv {
	position: relative;
	display: inline;
	width: 20px;
}

.helpIconImg {
	position: relative;
}

/* .modal.fade.in {
	top: 15% !important;
	width: 900px !important;
	position: fixed !important;
} */

.textBoxLogInc {
	width: 90% !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.error {
	position: relative;
	top: 2px;
	color: #e32212 !important;
}

.selectBoxLogInc {
	position: relative;
	width: auto;
	-moz-appearance: -moz-mac-vibrancy-dark !important;
}

.checkBoxTextLogInc {
	display: inline;
}

.closeMark {
	position: relative;
	margin-top: 0px;
}

.priorityColorRed {
	color: #E32212;
}

.priorityColorAmber {
	color: #ff9c00;
}

.elipsTicketSummary {
	/*white-space:nowrap;*/
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
	cursor: default;
	display: inline;
}

#ticketTableOverflow {
	overflow: hidden !important;
	table-layout: fixed;
	/* border-top: 1px #ccc solid; */
	margin-bottom: 0px !important;
}

.table-responsive{min-height:.01%;overflow-x:hidden; background: #fff;}
@media screen and (max-width:767px){.table-responsive{background: #fff;width:100%;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;}
.table-responsive>.table{margin-bottom:0}
.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>td,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>thead>tr>th{white-space:inherit;}
.table-responsive>.table-bordered{border:0}
.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>thead>tr>th:first-child{border-left:0}
.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>thead>tr>th:last-child{border-right:0}
.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>th{border-bottom:0}
.impactServiceCount{max-width: 40px;max-height: 40px;width: 40px;height: 40px;font-size: 15px;}
.riskServiceCount{max-width: 40px;max-height: 40px;width: 40px;height: 40px;font-size: 15px;}
.riskServiceCountText{font-size: 14px;}
.impactServiceCountText{font-size: 14px;}
.dashTickServiceCount{line-height:40px;}
}

/* .modal-open{overflow:hidden}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-dialog{position:relative;width:auto;margin:10px}
.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}
@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}
.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}
.modal-sm{width:300px}
}

@media (min-width:992px){.modal-lg{width:900px}
}
 */
.customTD {
	border-top: 0px !important;
	border-bottom: 1px solid #f1f1f1 !important;
	/* padding-left:0px !important; */
}

.customTD td {
	border-top: 0px !important;
}

.alignBoxes {
	padding-left: 0px !important;
}

.statusClass {
	/* display: inline;
	float: left; */
	/* width: auto !important; */
	
}

.modal-backdrop { /* z-index:-10; */
	background-color: #CCC !important;
}

.modal-backdrop.fade {
	filter: alpha(opacity = 0);
	opacity: 0
}

.modal-backdrop.in {
	filter: alpha(opacity = 50);
	opacity: 0.4 !important;
}
/*.tt-ttlogtickets{
	
}*/
/*****************************************************************

	LOG TICKET START
	
****************************************************************/
.img-create-incident {
	background: url(../images/PostNewThread_W_16.png) no-repeat 10px 10px
		#E32212;
	box-shadow: 2px 2px 2px #B52217;
	background-color: #E32212;
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
}

.img-cancel {
	background-image: url(../images/Cancel_W_16.png);
	/* background-color: rgba(227, 34, 18, 1); */
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
}

.img-submitrequest {
	background-image: url(../images/SubmitRequest_W_16.png);
	background-repeat: no-repeat;
	background-color: #555;
	background-position: 10px 10px;
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
	background-color: #CCC !important; 
	color: white !important;
}

.img-create-incident:active, .img-create-incident:hover,
	.img-create-incident:visited, .img-create-incident:focus {
	background-color: #b52217 !important;
	color: #ffffff;
	font-size: 14px;
	outline: 0;
}

.aui{
	.tt-container.tt-logtickets
	{
		/* margin-right: 25px; */
		background-color: #ffffff;
		border: 1px solid #cccccc;
		border-radius: 3px;
		padding-left:0px;
		padding-right: 0px;
		>.tt-header{
			border-bottom: 1px solid #cccccc;
			padding-bottom: 10px;
			> .tt-page-title{
				padding-top:10px;
				padding-left:15px;
			}			
			>.tt-detail{
				text-align: right;
				padding-top:10px;
				padding-right:15px;
				
			}
		}
		
		>.tt-logticket-content{
			>.tt-summary1{
				padding-top: 10px;
				padding-left: 15px;
				>div{
					>.tt-summary1-count{
						color:#ffffff;
						font-size: 18px;
					}
					>.tt-summary1-text{
						padding-left: 5px;
						color:#e32212;
						font-size: 16px;
					}
					
				}
				
			}
			>.tt-summary2{
				padding-top: 10px;
				padding-left: 15px;
				margin-left:0px !important;
				padding-right: 15px;
				>div{
					>.tt-summary2-count{
					color:#ffffff;
					font-size: 18px;
					}
					>.tt-summary2-text{
						padding-left: 5px;
						color:#ff9c00;
						font-size: 16px;
						display: inline;
					}
				}
			}
			
			>.tt-create-incident{
				text-align: left;
				padding-right: 20px;
				width: 54%;
			}
		}
	}
}
.tt-submit{
	margin-right: 2%;
}

.tt-submit-row {
	text-align: right;
}

.tt-form-error-row {
	margin-bottom: 20px;
}

.tt-form-row {
	margin-bottom: 15px;
}

.tt-form-last-row {
	margin-bottom: 10px;
}

.tt-form-container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.tt-modal-form {
	margin-bottom: 0 ! important;
}

.tt-checkbox-optional {
	display: block;
	padding-left: 10px;
}

.tt-warning {
	display: inline-block;
	margin-top: 10px;
	position: relative;
	top: 0px;
}


.aui{
	
	.modal.fade.tt-incident-modal{
		
		display:none !important;
		>div{
			>div{
				>div{
					>.tt-modal-form{
						display: none;
					}
				}
			}
		}
	}
	
	.modal.fade.tt-incident-modal.in{
		
		display:table-cell !important;
		>div{
			>div{
				>div{
					>.tt-modal-form{
						display: block;
					}
				}
			}
		}
	}
}
a.update-data-tab{
	/* display:block;
	width: 140px;
	height:40px;
	float:right;
	border-radius:5px;
	text-align:center;
	background:#ccc;
	line-height: 40px;
	color: white;
	text-decoration: none !important; */
	background-image: url(../images/UpdateData_W_16.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	border: 0;
	color: #ffffff;
	padding: 10px 10px 10px 35px;
	
	background-color: #777;
	/* border-top-style: none; */
	/* border-bottom-style: none;
	border-right-style: none;
	border-left-style: none; */
	/*height:36px !important;*/
	/* color: #ffffff !important; */
	width: auto !important;
	min-width:100px;
	/* min-width:100px; */
	/* border-radius:3px; */
	/* padding-left:15px;
	padding-right:15px; */
	font-family:'Gotham-Rounded' !important;
	
}

a.update-data-tab:hover{
	background-color:#555;
	color: #ffffff !important;
	text-decoration: none !important;
}


@media (min-width: 1200px) {
	.tt-form-left-col{
		width: 14% ;
	}
	
	#LogIncidentModal{
		position: fixed;
		/*width: 50% !important;*/
		overflow: auto;
		display: table-cell;
		vertical-align: middle;
		top: 2% !important;
		/*left: 45%;*/
		right: 0 !important;
		/* z-index: 1050 !important; */
	}
	
	#LogIncidentModal{
		left: 46%;
		width: 50% !important;
	}
	
	#logIncSubmitResponse{
		position: fixed;
		left: 46%;
		width: 50% !important;
		display: table-cell;
		vertical-align: middle;
		top: 2% !important;
		right: 0 !important;
	}
}

@media (min-width: 1025px) and (max-width: 1199px) {
	#LogIncidentModal,#logIncSubmitResponse{
		left: 46% ! important;
		width: 60% !important;
		top: 2% !important;
	}
}

@media (min-width: 930px) and (max-width: 1024px) {
	#LogIncidentModal,#logIncSubmitResponse{
		left: 48% ! important;
		width: 70% !important;
		top: 2% !important;
	}
}
@media (min-width: 768px) and (max-width: 929px) {
	#LogIncidentModal,#logIncSubmitResponse{
		left: 44% ! important;
		width: 73% !important;
		top: 2% !important;
	}
}

@media (min-width: 768px) and (max-width: 929px) {
	#LogIncidentModal,#logIncSubmitResponse{
		left: 49% ! important;
		top: 2%;
	}
}

@media (max-width: 767px){
	#LogIncidentModal,#logIncSubmitResponse{
		left: 7%;
		/* width: 85% !important; */
		top: 2% !important;
	}
	.tt-form-row{
		margin-bottom: 5px;
	}
	.tt-form-left-col{
		width: 100%;
	}
	
	.tt-submit{
		padding-top: 10px;
	}
	/* .tt-submit-row{
		text-align: left;
	} */
	#dashTickNotesTextArea{
		width: 100%;
	}
	.btn-secondary-tt img-cancel{
	margin-top: 10px !important;
	}
	
}

.chrome, .ie,.firefox, .safari {
	.tt-modal-body{
		padding:15px !important;
		max-height: 82vh !important;
	}
}

/*@media ( max-height: 641px ){
	.chrome {
		#LogIncidentModal{
			bottom: 2% !important;
		}
		.modal-body{
			background-color: yellow !important;
			max-height: 81vh !important;
		}
	}
}*/

@media screen and ( min-height: 600px ) and ( max-height: 641px ) {
	.chrome, .ie, .firefox, .safari {
		#LogIncidentModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 82vh !important;
		}
	}
}

@media screen and ( min-height: 465px ) and ( max-height: 599px ) {
	.chrome, .ie, .firefox, .safari{
		#LogIncidentModal{
			bottom: 2% !important;
			overflow: hidden;
		}
	.modal-body{
			/* background-color: yellow !important; */
			max-height: 81vh !important;
		}
	}
}

@media screen and ( min-height: 445px ) and ( max-height: 466px ) {
	.chrome, .ie, .firefox , .safari{
		#LogIncidentModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 76vh !important;
		}
	}
}

@media screen and ( min-height: 400px ) and ( max-height: 445px ) {
	.chrome, .ie, .firefox , .safari{
		#LogIncidentModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 71vh !important;
		}
	}
}

@media screen and ( min-height: 320px ) and ( max-height: 399px ) {
	.chrome, .ie , .firefox, .safari{
		#LogIncidentModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 71vh !important;
		}
	}
}

@media screen and ( min-height: 250px ) and ( max-height: 319px ) {
	.chrome, .ie , .firefox, .safari{
		#LogIncidentModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 60vh !important;
		}
	}
}

@media ( min-width : 501px) and (max-width: 767px) {
	
	#resetButtonID {
		margin-top: 10px !important;
	}
	.btn-secondary-tt{
	margin-top: 10px !important;
	}
	.tt-logtickets{
	margin-top: 62px;
	}
}
@media ( max-width :500px) {
	#resetButtonID {
		margin-top: 10px !important;
	}
	.btn-secondary-tt{
	margin-top: 10px !important;
	}
	.tt-logtickets{
	margin-top: 62px;
	}
}

@media ( min-width : 1480px) and (max-width: 1700px) {
	.aui { 
	.tt-container .tt-logtickets { 
	margin-top:4% !important;
		
	}
  }
}

@media ( min-width : 1701px) and (max-width: 2000px) {
	.aui { 
	.tt-container .tt-logtickets 
	{ 
	margin-top:8% !important;
		
	}
  }
}