button{
border-radius:5px !important;
}
@font-face {
	font-family:'Gotham-Rounded';
	src: url("../fonts/GothamRounded-Book.woff");
	font-style: normal;
	font-weight: 400;

}
select,input,textarea{
	font-family: "Gotham-Rounded" !important;
	font-size: 14px !important;
}
input{
	margin-bottom:0px !important;
}
select{
	margin-bottom:0px !important;
}
/* .partfix {border:2px #ccc inset;width:20em;padding:0;margin:5px;}
.partfix textarea {resize:none;overflow:hidden; border:none;width:22em;margin:0} */
.closeMark{
	position:relative;
	margin-top: 4px;
}
.close{
	opacity:1 !important;
}
.disableButton,
.disableButton:hover{
	background-color:#ccc !important;
	cursor:pointer;
}
.disableButton2{
	background:#fff !important;
	cursor:pointer !important;
}
.dashTickRow{
	padding-bottom:10px !important;
}
.dashTickCheckBox,.checkBoxTextLogInc{
	display:inline !important;
}
.descriptionTextArea,#customDescription{
	resize:none;
	width: 90% !important;
}
.textBoxLogSR{
	width:90% !important;
}
.tt-radio-btn{
	margin-top: 0px !important;
}
.tt-radio-btn-sec{
	margin-left:20px;
}
.img-create-servicerequest{
	background: url(../images/PostNewThread_W_16.png) no-repeat 10px 10px #E32212; 
	box-shadow: 2px 2px 2px #B52217;
	background-color: #E32212;
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
}

.img-create-servicerequest:active, .img-create-servicerequest:hover, .img-create-servicerequest:visited, .img-create-servicerequest:focus {
	background-color: #B52217 !important;
	color: #ffffff;
	font-size: 14px; 
	outline:0;
}

.img-cancel{
	background-image: url(../images/Cancel_W_16.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
}
.img-close{
	background-image: url(../images/Close_W_16.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	/* background-color: #777; */
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
}
.img-submit-servicerequest{
	background-image: url(../images/SubmitRequest_W_16.png);
	background-repeat:no-repeat;
	background-color:#555;
	background-position:10px 10px;
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
	background-color: #CCC !important; 
	color: white !important;
}
.img-submit-servicerequestenabled{
	background-image: url(../images/SubmitRequest_W_16.png);
	background-repeat:no-repeat;
	background-color:#555;
	background-position:10px 10px;
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
	color: white !important;
}
/* .img-submit-servicerequest:hover{
	background-color:#555;
} */
.error{
	color:#e32212 !important;
}
/*CSS for Modal Start  */
#logSRModal .modal-footer{
	margin-bottom: -22px !important;
	background-color: #ffffff !important;
}
#logSRModal .modal-header{
	border-bottom: 1px solid #CCC !important;
	height: 35px;
	padding: 2px 15px 2px 0px !important;
}
.logTitle {
    color: #333 !important;
    font-size: 16px !important;
    margin-top: 10px;
    margin-left: 18px;
}

 .ui-autocomplete { 
            cursor:pointer; 
            height:auto;
			max-height:150px;
            overflow-y:hidden;
			background-color:#fff !important;
			border-left:1px solid #ccc !important;
			border-right:1px solid #ccc !important;
			border-bottom:1px solid #ccc !important;
			width:220px !important;
			font-family: 'Gotham-Rounded';
			src: url("../fonts/GothamRounded-Book.woff");
			font-style: normal;
			font-weight: 400;
			
        }    
        .ui-autocomplete .ui-state-focus{
        background-color:#fff !important;
        font-style: normal !important;
			font-weight: 400 !important;
        }





#logSRModal{
	position:absolute !important;
	width: 600px !important;
}
#logSRModal .modal-header{
	border-bottom: 1px solid #CCC !important;
	height: 35px;
	padding: 2px 15px 2px 0px !important;
}
/* #logSRModal .modal-body{
	padding-left: 0px !important;
	max-height:1000px !important;
} */
.modal-backdrop{background-color:#CCC !important;}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:0.4 !important;}

#logSRSubmitResponse{
	/* z-index:-9; */
	position:relative;
	width: 400px !important;
	/* top: 40% !important; */
	left:55% !important;
}
#logSRSubmitResponse .modal-footer{
	margin-bottom: 0px !important;
	padding: 10px 10px 10px !important;
	background-color: #fff;
}
#responseStatus{
	color:#333 !important;
	font-size:16px !important;
	margin-top: 8px;
	margin-left:15px;
}
.modal-open{
	overflow: hidden;
}
/*CSS for Modal End  */


.tt-submit{
	margin-right: 2%;
}
.tt-submit-row{
	text-align: right;
}
.tt-form-error-row{
	margin-bottom: 20px;
}
.tt-form-row{
	margin-bottom: 15px;
}
.tt-form-last-row{
	margin-bottom: 10px;
}
.tt-form-container{
	padding-left:0 !important;
	padding-right:0 !important;
}
.tt-modal-form{
	margin-bottom: 0 ! important;
}

.tt-checkbox-optional{
	display:block;
	padding-left: 10px;
}

.tt-warning{
	display: inline-block;
	margin-top: 10px;
	position: relative;
	top: 0px;
}

.aui{
	
	.modal.fade.tt-SR-modal{
		
		display:none !important;
		>div{
			>div{
				>div{
					>.tt-modal-form{
						display: none;
					}
				}
			}
		}
	}
	
	.modal.fade.tt-SR-modal.in{
		
		display:table-cell !important;
		>div{
			>div{
				>div{
					>.tt-modal-form{
						display: block;
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.tt-form-left-col{
		width: 14% ;
	}
	
	#logSRModal{
		position: fixed;
		/*width: 50% !important;*/
		overflow: auto;
		display: table-cell;
		vertical-align: middle;
		top: 2% !important;
		/*left: 45%;*/
		right: 0 !important;
		/* z-index: 1050 !important; */
	}
	
	#logSRModal{
		left: 46%;
		width: 50% !important;
	}
}

@media (min-width: 1025px) and (max-width: 1199px) {
	#logSRModal{
		left: 46% ! important;
		width: 60% !important;
		top: 2% !important;
	}
}

@media (min-width: 930px) and (max-width: 1024px) {
	#logSRModal{
		left: 48% ! important;
		width: 70% !important;
		top: 2% !important;
	}
}
@media (min-width: 768px) and (max-width: 929px) {
	#logSRModal{
		left: 44% ! important;
		width: 73% !important;
		top: 2% !important;
	}
}

@media (min-width: 768px) and (max-width: 929px) {
	#logSRModal{
		left: 49% ! important;
		top: 2%;
	}
}


@media ( max-width : 500px) {
	.ipscape-cancel {
		padding-top: 10px !important;
	}
}

@media ( min-width : 501px) and (max-width: 767px) {
	.ipscape-cancel {
		padding-top: 10px !important;
	}
}
@media (max-width: 767px){
	#logSRModal{
		left: 7%;
		width: 85% !important;
		top: 2% !important;
	}
	.tt-form-row{
		margin-bottom: 5px;
	}
	.tt-form-left-col{
		width: 100%;
	}
	.tt-submit{
		padding-top: 10px;
	}
	.tt-submit-row{
		text-align: left;
	}
	#dashTickNotesTextArea{
		width: 100%;
	}
}

.chrome, .ie, .firefox, .safari{
	.tt-modal-body{
		padding:15px !important;
		max-height: 82vh !important;
	}
}

/*@media ( max-height: 641px ){
	.chrome {
		#logSRModal{
			bottom: 2% !important;
		}
		.modal-body{
			background-color: yellow !important;
			max-height: 81vh !important;
		}
	}
}*/

@media screen and ( min-height: 600px ) and ( max-height: 641px ) {
	.chrome, .ie, .firefox, .safari {
		#logSRModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 82vh !important;
		}
	}
}

@media screen and ( min-height: 465px ) and ( max-height: 599px ) {
	.chrome, .ie, .firefox, .safari {
		#logSRModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 81vh !important;
		}
	}
}

@media screen and ( min-height: 445px ) and ( max-height: 466px ) {
	.chrome, .ie, .firefox, .safari {
		#logSRModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 76vh !important;
		}
	}
}

@media screen and ( min-height: 400px ) and ( max-height: 445px ) {
	.chrome, .ie, .firefox, .safari {
		#logSRModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 71vh !important;
		}
	}
}

@media screen and ( min-height: 320px ) and ( max-height: 399px ) {
	.chrome, .ie, .firefox, .safari {
		#logSRModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 71vh !important;
		}
	}
}

@media screen and ( min-height: 250px ) and ( max-height: 319px ) {
	.chrome, .ie, .firefox, .safari {
		#logSRModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 60vh !important;
		}
	}
}
