button{
	border-radius:5px !important;
}
@font-face {
	font-family:'Gotham-Rounded';
	src: url("../fonts/GothamRounded-Book.woff");
	font-style: normal;
	font-weight: 400;

}
#p_p_id_TTRefreshPortlet_WAR_TTRefreshPortlet_{
	margin-top:-3px;
	
}
.alingTitle{
	vertical-align: middle !important;
	padding: 0px !important;
	position: relative;
}
.updatePortletContainer{
	position:relative;
	background:#fff;
	border: 1px #ccc solid;
}
#updatePortletTable{
	position:relative;
}
.dashImageHolder{
	position:relative;
	float:left;
	margin-left: 20px;
}
.dashboardTitleHolder{
	position:relative;
}
.dashboardText{
	position:relative;
	font-size:24px;
	float: left;
	padding-left: 20px;
	margin-top: 5px;
}
.updateButton{
	background: #777;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	height:36px;
	color: #ffffff !important;
	width: auto;
	min-width:100px;
	border-radius:3px;
	padding-left:15px;
	padding-right:15px;
	font-family:'Gotham-Rounded' !important;
}
.updateButtonDisable{
	background: #CCC;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	height:36px;
	color: #ffffff !important;
	width: auto;
	min-width:100px;
	border-radius:3px;
	padding-left:15px;
	padding-right:15px;
	font-family:'Gotham-Rounded' !important;
	cursor:default !important;
}

.updateButton:hover{
	background:#555;
}

.updateButtonHolder{
	position:relative;
	float:right;
	top:9px;
}
.updateInfoHolder{
	position:relative;
	float: left;
	width: 197px;
	text-align: right;
	font-size: 14px;
}

.updatedTimeHolder{
	position:relative;
	font-size: 14px;
}
.floatUpdateRight{
	float:right;
	padding-right: 22px !important;
}