button{
	border-radius:5px !important;
}
td.advSearchCustomTD.advSearchCustomSpan2 {
  padding-left: 30px;
}

input.checkBoxPriority {
  position: relative !important;
  bottom: 1px;
}

#formTable1 td
{
	text-align: left;
	height:40px;
	width: 110px;
}

.datepicker {
	background-image: url('../images/u40.png');
	background-repeat: no-repeat;
	/* background-position-x: right; */
	background-position: 98% center;
	/*width: 170px !important;*/
}

td {
	
	margin: 0px;
}

.submitRequestButton{
	background: #777;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	height:36px;
	color: #ffffff !important;
	width: auto;
	min-width:100px;
	border-radius:3px;
	padding-left:15px;
	padding-right:15px;
	font-family:'Gotham-Rounded';
}

.cancelRequestButton{
		background: #777;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	height:36px;
	color: #ffffff !important;
	width: auto;
	min-width:100px;
	border-radius:3px;
	padding-left:15px;
	padding-right:15px;
	font-family:'Gotham-Rounded';
}

.buttonIcon{
	position:relative !important;
	float:left;
	/* top: -2px; */
}
.buttonText{
	position:relative !important;
	color: #fff;
	font-size: 14px;
	display: inline;
	float: left;
	padding-left: 10px;
}
.modal-footer{
	margin-bottom: -22px !important;
	background-color: #ffffff !important;
}
.cancelButtonContent{
	position: relative;
}

.submitButtonContent{
	position: relative;
}
.close{
	opacity: unset !important;
}
.close :hover,
.close :focus{
	opacity: unset !important;
}
.closeMark{
	position:relative;
	margin-top: 4px;
}
.logTitle{
	color:#333 !important;
	font-size:16px !important;
	margin-top: 10px;
	margin-left: 18px;
}

.modal-backdrop{/* z-index:-10; */background-color:#CCC !important;}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:0.5 !important;}

#tt-sr-modal{
	width:700px !important;
	top:15%;
	display:table-cell;
}

input[placeholder]{
	color:#333 !important;
}

.checkbox-label{
	display: inline !important;
	padding-right: 5px;
}

#advSearchRow{
	margin-bottom: 10px;
}

.advSearchCustomTD{
	padding-left:12px !important;
}
.advSearchCustomSpan10{
	position:relative;
	width:83.333%;
}

.advSearchCustomSpan2{
	position:relative;
	width:16.667%;
}

.advSearchCustomSpan4{
	position:relative;
	width:33.33%;
}


#ttticketListingTable td {
  border-bottom: solid 1px #ccc;
}

#ttticketListingTable{
  border: solid 1px #ccc;
}

table#ttticketListingTable {
  border: solid 1px #ccc;
}

#ttincidents td {
  border-bottom: solid 1px #ccc;
}

#tt-sr-normalSearchForm {
    margin: 0px !important;
}

#tt-sr-adj-subject {
    background-position-x: 65px;
}

#tt-sr-adj-reqId {
    background-position-x: 88px;
}

#tt-sr-adj-lastUpdate {
    background-position-x: 98px;
}

#tt-sr-adj-requestor {
    background-position-x: 85px;
}

#tt-sr-adj-status {
    background-position-x: 58px;
}

#srListingTable_paginate {
    padding-right: 1%;
    padding-top: 2%;
}

#srListingTable_info {
    padding-left: 1%;
    padding-top: 2%;
}

#srListingTable_wrapper {
    border: solid 1px #ccc;
    padding-bottom: 30px;
    background: #fff;
}

.paginate_button:hover {
    border-radius: 5px;
}


a.update-data-tab{
	/* display:block;
	width: 140px;
	height:40px;
	float:right;
	border-radius:5px;
	text-align:center;
	background:#ccc;
	line-height: 40px;
	color: white;
	text-decoration: none !important; */
	background-image: url(../images/UpdateData_W_16.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	border: 0;
	color: #ffffff;
	padding: 10px 10px 10px 35px;
	
	background-color: #777;
	/* border-top-style: none; */
	/* border-bottom-style: none;
	border-right-style: none;
	border-left-style: none; */
	/*height:36px !important;*/
	/* color: #ffffff !important; */
	width: auto !important;
	min-width:100px;
	/* min-width:100px; */
	/* border-radius:3px; */
	/* padding-left:15px;
	padding-right:15px; */
	font-family:'Gotham-Rounded' !important;
	
}

a.update-data-tab:hover{
	background-color:#555;
	color: #ffffff !important;
	text-decoration: none !important;
}


#sriListingTable {
    border: solid 1px rgb(219, 219, 218);
    background: #fff;
}

#sriListingTable td {
    border-bottom: solid 1px #ccc;
    height: 30px;
    font-weight: 600;
}


#sriListingTable th {
    background: rgb(219,219,218) !important;
}


#tt-sr-main-heading {
    padding-left: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    display: inline-block;
    position: relative;
    top: 5px;
}

.span12.incHeaderPanel {
  position: absolute;
  top: 80px;
}

.tt-sr-header-tabs {
    display: inline-block !important;
	height: 20px;
	border-radius: 0px !important;
	border-width: 5px !important;
    width: 180px;
    line-height: 0px;
    text-align: center;
    font-size: 16px;
    color: #555 !important;
    text-decoration: none !important;
    
}
.tt-sr-headerTD{
	padding:0px !important;
}

.tt-sr-header-tabs-selected {
    border-bottom: solid 5px #e32212;
    color: #333 !important;
}

#serviceRequestListBox {
    padding: 20px !important;
}

#tt-sr-whiteBanner {
    position: relative;
    left: 0px;
}

.srlSearchBox {
    float: right;
    padding-bottom: 5px;
    display:inline-flex;
}

#srListSearchTxt {
    font-size: 12px !important;
    height: 25px;
}

button.normalSearch {
    background-image: url("../images/srch.png");
    height: 35px;
    width: 35px;
    border-style: none;
}

button#advSearchButton {
    background-image: url("../images/srchad.png");
    height: 35px;
    width: 35px;  
    border-style: none;
}

button.advSearchButton {
    background-image: url("../images/srchad.png");
    height: 35px;
    width: 35px;  
    border-style: none;
}


.listingTitle {
    font-size: 18px;
    color: #333;
    padding-bottom: 5px;
    padding-top: 25px;
}

.tt-sri-itemid{
	color:#333;
}

.drillDownArrow{
	background: url("../images/goRITM.png") no-repeat;
	width: 20px;
    height: 20px;
    display: block;
}

.service-request-id-links{
	text-decoration: none !important;
	color: #e32212 !important;
}

.service-request-id-links:hover{
	text-decoration: none;
	color: #e32212;
}

.tt-srd-sri-deviceNameStyle{
	overflow-y:auto;
	overflow-x:hidden !important;
	height:50px !important;
	width:auto;
}

/* Override the datatabe css for service tickets */


#srListingTable {
  border-left: 1px solid rgb(219, 218, 218);
  border-right: 1px solid rgb(219, 218, 218);
  border-top: 1px solid rgb(219, 218, 218);
  border-bottom: 1px solid rgb(219, 218, 218);
}

#srListingTable td {
	background-color:white;
	font-size:14px;
	color:#555;
	height: 75px;
	border-bottom: solid 1px rgb(219, 218, 218);
	vertical-align: middle;
}

.tt-sr-subject{
	color: #e22212 !important;
	font-weight: bold;
}

.tt-sr-description{
	color: #555 !important;
}

#srListingTable tr {
	background-color:white;
}

#srListingTable thead th {
	background-color:rgb(219, 218, 218);
	padding: 10px 10px;
	text-align: left !important;
	font-weight:500;
	font-size: 14px;
	height: 50px;
}


table.dataTable {  
  text-align: left;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
/*   border: 1px solid #e32212; */
/*   background-color: white; */
  border-bottom: solid 2px red !important;
/*   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e32212)); */
/*   background: -webkit-linear-gradient(top, white 0%, #e32212 100%); */
/*   background: -moz-linear-gradient(top, white 0%, #e32212 100%); */
/*   background: -ms-linear-gradient(top, white 0%, #e32212 100%); */
/*   background: -o-linear-gradient(top, white 0%, #e32212 100%); */
/*   background: linear-gradient(to bottom, white 0%, #e32212 100%); */
  border: 1px solid transparent;
 border-radius:0px;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #333 !important;
/*   border: 1px solid #111; */
  background-color: #e32212;
  background:none !important;
  border:none !important;
  border-bottom: solid 2px red !important;
  border-radius:0px;
}


table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;  
}

.dataTables_paginate .paginate_button:hover .previous {
  color: #333 !important;
/*   border: 1px solid #111; */
  background-color: #ffffff; 
  background-image: url("../images/sort_desc.png");
  background-repeat: no-repeat;
  background-position: center;
}

.selectedPageTab {
  border-bottom: solid 2px #e32212!important;
  border-radius: 0!important;
}

.tt-filter-text{
	font-size: 16px;
}

.incHeaderPanel {
	position: absolute;
    top: 60px;
	height: 44px;
	width: 50% !important;
}

.tt-service-breadcrumb{
	padding-top: 15px;
	background-color: #ffffff;
	height: 100px;
}
	
.tt-page-icon{
	float: left;
}
	
.tt-service-br-header{
	float: left;
	padding-left: 20px;
	font-size: 20px;
	color: #333333;
	text-shadow: none;
	padding-top: 5px;
	font-weight: 600;
}

.tt-create-service-ctr{
	text-align: right;
}

.span4 tt-create-service-breadcrumb{
	display: flex;
}

.updatedTimeHolder{
	position: relative;
	right: 7% !important;
}

.updateInfoHolder{
	position: relative;
	right: 7% !important;
}
@media (min-width: 601px) and (max-width: 768px){	
	.tt-create-service-ctr{
		/*text-align: left ! important;
		padding-top: 20px;*/
	}
	.tt-service-breadcrumb{
		padding-top: 20px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}
	
@media (min-width: 450px) and (max-width: 768px){
	.tt-create-service-breadcrumb{
		width: 340px !important;
		float: left !important;
	}
	.tt-create-service-ctr{
		width: 58% !important;
		float: right !important;
	}
	
}

@media (min-width: 320px) and (max-width: 1240px){
	.tt-sr-adjCol-lastUpdate{
		display: none;
	}
	.tt-sr-adjCol-lastupdatedon-th{
		display: none;
	}
}

@media (min-width: 320px) and (max-width: 970px){
	#advSearchButton{
		display:none;
	}
}

@media (min-width: 320px) and (max-width: 600px){
	.tt-service-breadcrumb{
		padding-top: 20px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.tt-sr-adjCol-requestType{
		display: none;
	}
	.tt-sr-adjCol-lastUpdate{	
		display: none;
	}
	.tt-sr-adjCol-requestor{
		display: none;
	}
	.tt-sr-adjCol-type-th{	
		display: none;
	}
	.tt-sr-adjCol-request-th{
		display: none;
	}
	.tt-sr-adjCol-lastupdatedon-th{
		display: none;
	}
	.tt-li-active-incident{
		width: 24% !important;
	}
	.tt-li-completed-incident{
		width: 24% !important
	}
}

@media (min-width: 320px) and (max-width: 738px){
	.tt-service-breadcrumb{
		height: 140px !important;
	}
}

@media (min-width: 320px) and (max-width: 449px){
	.tt-create-service-ctr{
		text-align: left !important;
		padding-top: 20px ! important;
		padding-right: 12px ! important; 
	}
	#updateDataHolderDiv{
		right: 20px;
	}
	button#logServReqButton{
		float: right;
		left: 12px;
		margin-top: -24px;
		left: 9% !important;
	}
	button#refreshButton{
	    margin-left: 2% !important;
	}
	.tt-sr-adjCol-category-th{
		display: none;
	}
}
@media (min-width: 450px) and (max-width: 885px){
	.updateInfoHolder{
	margin-left: 5%;
	}
	.wrapper{
			display:none !important;
	}
}
@media (max-width: 449px){
	.updateInfoHolder{
	margin-left: 9%;
}
}