/*.activeIncidentTab {
    display: inline-block !important;
    height: 50px;
    line-height: 50px;
    width: 30%;
    text-align: center;
    color: #333 !important;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 500;
    border-bottom: solid 2px red !important;
}*/

/*.activeIncidentTab:hover {
    border-bottom: solid 2px red !important;
	color: #333 !important;
}

.completedIncidentTab {
    display: inline-block !important;
    height: 50px;
    line-height: 50px;
    width: 30%;
    text-align: center;
    color: #555 !important;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 500;
}

.completedIncidentTab:hover {
    border-bottom: solid 2px red !important;
	color: #333 !important;
}*/

/*#selectedTabActive{
	border-bottom: solid 2px red !important;
	color: #333 !important;
}*/
/*
#p_p_id_TTTicketHeaderPortlet_WAR_TTApplicationPortlets_ .portlet-body{
	border:none;	
}

#p_p_id_TTTicketHeaderPortlet_WAR_TTApplicationPortlets_ .modal-header{
	border-bottom: 1px solid #CCC;
	height: 35px;
	padding: 2px 15px;
	padding-left: 0px;
	
}

#p_p_id_TTTicketHeaderPortlet_WAR_TTApplicationPortlets_ .portlet-borderless-container {
	margin:0px !important;
}*/
button{
	border-radius:5px !important;
}
.incHeaderPanel {
	height: 44px;
}

li.tt-nav-pills.inactiveTab.tt-li-active-incident {
	position: relative;
	bottom: 11px;
}

li.tt-nav-pills.selected.tt-li-active-incident {
	padding-top: 0px;
	padding-bottom: 11px;
}

.incident-ul{
	margin: 0!important;
	position: relative;
	right: 20px;
	top: 6px;
}

.incident-ul .tt-nav-pills {
	background-color: #ffffff !important;
	border-bottom: 5px #ffffff solid;
}

.incident-ul .tt-nav-pills a{
	&:focus, &:hover{
		background-color: #ffffff !important;
	}
}

.incident-container #main-content{
	padding-top: 1px !important;
}

.incident-header{
	padding: 25px 25px 5px 0;
	color: #333333;
	font-size: 24px;
}

.tt-incident-breadcrumb{
	padding-top: 6% !important;
	background-color: #ffffff;
}
	
.tt-page-icon{
	float: left;
}
	
.tt-incident-br-header{
	float: left;
	padding-left: 20px;
	font-size: 20px;
	color: #333333;
	text-shadow: none;
	padding-top: 5px;
	font-weight: 600;
}

.tt-create-incident-ctr{
	text-align: right;
	margin-left: 10%;
}

.tt-nav-pills.selected{
	border-bottom: 2px #e32212 solid!important;
}
@media  (min-width: 768px) {
	.incHeaderPanel {
	  padding-top: 25px !important;
}
}
  