@media (max-width: 500px){
		table.dataTable thead th, table.dataTable thead td{
		padding: 10px 0px !important;
		}
		td+td+td+td+td{
		display:none;
		}
		th+th+th+th+th{
		display:none;
		}
		#settingsHeader{
		margin-top: 2%;
		}
		#disableUserButton {
		left: 25% !important;
		margin-top: 2%;
	}
	div#userListTable_wrapper {
	    padding-right: 1%;
	    padding-left: 1%;
		}
		#userheader{
	    margin-right: 3px;
	    margin-left: 3px;
	    font-size: 14px;
		}
		.tablehomecontact{
		display:none !important;
		}
		.tableemail{
		display:none !important;
		}
		#logServReqButton  {
		position: relative;
		left: 1% !important;
		background-color: #e32212;
		border: 0;
		color: #fff;
		-moz-box-shadow: 2px 2px 2px #333;
		margin-bottom: 2%;
	}
	
	#buttons {
		margin-top: 2% ;
		margin-right: 0px !important;
	}
	.addUserButton {
		position: relative;
		left: 3% !important;
	}

	.enableUserButton {
		position: relative;
		left: 13% !important;
		
	}
	.aui .modal-body {
		/* position: relative; */
		overflow-y: hidden;
		max-height: 500px;
		padding: 15px;
	}}

@media (min-width: 501px) and (max-width: 767px){
		table.dataTable thead th, table.dataTable thead td {
	    padding: 8px 1px !important;
		}
		#settingsHeader{
		margin-top: 2% !important;
		}
		.maincontainer{
		padding-left: 0px !important;
	    padding-right: 0px !important;
		}
	/* #userListTable td{
		word-break: break-word;
		} */
		#logServReqButton {
		position: relative;
		left: 2% !important;
	}
	.addUserButton   {
		position: relative;
		left: 4% !important;
		
	}
	.enableUserButton {
		position: relative;
		left: 12% !important;
	}
	#disableUserButton {
		position: relative;
		left: 20% !important;
	}
	.aui .modal-body {
    /* position: relative; */
     overflow-y: hidden; 
    max-height: 500px;
    padding: 15px;
}
}
		@media (min-width: 768px){
		.customerexecutive{
		    margin-left: 25% !important;
		}
		.maincontainer{
		padding-left: 0px !important;
	    padding-right: 0px !important;
		}
		}
		
		tbody {
	   	text-align: center;
		}
	#responseStatus {
		color: #333 !important;
		font-size: 16px !important;
		margin-top: 8px;
		margin-left: 15px;
	}
	.chrome, .ie,.firefox, .safari {
		.tt-modal-body{
			padding:15px !important;
			max-height: 82vh !important;
		}
	}
	#MessageString {
		margin-left: 15px;
	}
	.modal-footer {
		/* margin-bottom: -22px !important; */
		background-color: #ffffff !important;
	}
	#responseMessage .modal-footer {
		margin-bottom: 0px !important;
	}
	.cancelButton, .closeButton {
		background: #777;
		border-top-style: none;
		border-bottom-style: none;
		border-right-style: none;
		border-left-style: none;
		height: 36px;
		color: #ffffff !important;
		width: auto;
		min-width: 100px;
		border-radius: 3px;
		padding-left: 15px;
		padding-right: 15px;
		font-family: 'Gotham-Rounded' !important;
	}
	.buttonIcon {
		position: relative !important;
		float: left;
		/* top: -2px; */
	}
	.buttonText {
		position: relative !important;
		color: #fff;
		font-size: 14px;
		display: inline;
		float: left;
		padding-left: 10px;
	}
	#disableUserButton{
	 position: relative;
	  left: 40%;
	 background-color: #555;
	 /* padding: 7px 7px 7px 10px; */
	  border: 0;
	  color: #fff;
	  line-height: 1!important;
	  box-shadow: 2px 2px 2px #333;
	  -moz-box-shadow: 2px 2px 2px #333;
	  -webkit-box-shadow: 2px 2px 2px #333;
	}
	#userListTable{
		border-left: 1px solid rgb(219, 218, 218);
	    border-right: 1px solid rgb(219, 218, 218);
	    border-top: 1px solid rgb(219, 218, 218);
	    border-bottom: 1px solid rgb(219, 218, 218);
		
	}
	.current:hover {
		background: #e32212 !important;
	}
	
	
	.paginate_button.current, .paginate_button.current:hover {
		border-bottom: 2px #e32212;
	}
	#userListTable {
	    border: solid 1px rgb(219, 219, 218);
	    background: #fff;
	}
	
	#userListTable td {
	    border-bottom: solid 1px #ccc;
	    height: 30px;
	    font-weight: 600;
	}
	#userListTable th {
	    background: rgb(219,219,218) !important;
	}
	#userListTable_paginate {
	    padding-right: 1%;
	    padding-top: 2%;
	}
	.paginate_button:hover {
	    border-radius: 5px;
	}
	
	#DisableIcon{
		background: url("../images/Unsubscribe_W_16.png");
	    height: 15px;
	    width: 15px;
	    margin-left: 15px;
	    position: relative;
	    top: 9px;
		
	}
	#DisableContent{
		color: #fff;
	    margin-left: 40px;
	    margin-bottom: 0;
	    position: relative;
	    bottom: 8px;
	    padding-right: 15px;
	    font-size: 14px;
	}
	#userheader{
		background-color:#555;
		color:#fff;
		font-size:16px;
		height:30px;
	}
	
	#registeredusers{
		color:#fff;	
		padding:4px;
	}
	.deacFail {
		color: #000;
	}
	.deacSucc {
		color: #63892A;
	}
	
.enableButton{
	position: relative;
	left: 40%;
	background-color: #555;
	/* padding: 7px 7px 7px 10px; */
	border: 0;
	color: #fff;
	line-height: 1!important;
	box-shadow: 2px 2px 2px #333;
	-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
}
.disableButton{
	position: relative;
	left: 40%;
	background-color: #A7A7A7;
	/* padding: 7px 7px 7px 10px; */
	border: 0;
	color: #fff;
	line-height: 1!important;
	box-shadow: 2px 2px 2px #333;
	-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
}

div#p_p_id_1_WAR_kaleodesignerportlet_ {
    min-height: 148px;
}
@font-face {
	font-family:'Gotham-Rounded';
	src: url("../fonts/GothamRounded-Book.woff");
	font-style: normal;
	font-weight: 400;

}
select,input,textarea{
	font-family: "Gotham-Rounded" !important;
	font-size: 14px !important;
}
.manageuser-input{
	margin-bottom:0px !important;
	padding:4px;
		text-indent: 5px;
		width:200px;
		font-size:10px;
}
.manageuser-input.watermark { color: #999; }
	
select{
	margin-bottom:0px !important;
}
/* .partfix {border:2px #ccc inset;width:20em;padding:0;margin:5px;}
.partfix textarea {resize:none;overflow:hidden; border:none;width:22em;margin:0} */
.closeMark{
	position:relative;
	margin-top: 4px;
}
.close{
	opacity:1 !important;
}
.disableButton,
.disableButton:hover{
	background-color:#ccc !important;
	cursor:pointer;
}
.disableButton2{
	background:#fff !important;
	cursor:pointer !important;
}
.dashTickRow{
	padding-bottom:10px !important;
}
.dashTickCheckBox,.checkBoxTextLogInc{
	display:inline !important;
}
.descriptionTextArea,#customDescription{
	resize:none;
	width: 90% !important;
}
.textBoxLogSR{
	width:90% !important;
}
 .tt-radio-btn{
	margin-top: 0px !important;
}
.tt-radio-btn-sec{
	margin-left:20px;
} 
.img-create-servicerequest{
	background: url(../images/PostNewThread_W_16.png) no-repeat 10px 10px #E32212; 
	box-shadow: 2px 2px 2px #B52217;
	background-color: #E32212;
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
}

.img-create-servicerequest:active, .img-create-servicerequest:hover, .img-create-servicerequest:visited, .img-create-servicerequest:focus {
	background-color: #B52217 !important;
	color: #ffffff;
	font-size: 14px; 
	outline:0;
}

.img-cancel{
	background-image: url(../images/Cancel_W_16.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
}
.img-close{
	background-image: url(../images/Close_W_16.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	/* background-color: #777; */
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
}
.img-submit-servicerequest{
	background-image: url(../images/SubmitRequest_W_16.png);
	background-repeat:no-repeat;
	background-color:#555;
	background-position:10px 10px;
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
	background-color: #CCC !important; 
	color: white !important;
}
.img-submit-servicerequestenabled{
	background-image: url(../images/SubmitRequest_W_16.png);
	background-repeat:no-repeat;
	background-color:#555;
	background-position:10px 10px;
	padding: 10px 10px 10px 35px;
	border: 0;
	color: #ffffff;
	color: white !important;
}
/* .img-submit-servicerequest:hover{
	background-color:#555;
} */
.error{
	color:#e32212 !important;
}
/*CSS for Modal Start  */
#logSRModal .modal-footer{
	margin-bottom: -22px !important;
	background-color: #ffffff !important;
}
#logSRModal .modal-header{
	border-bottom: 1px solid #CCC !important;
	height: 35px;
	padding: 2px 15px 2px 0px !important;
}
.logTitle {
    color: #333 !important;
    font-size: 16px !important;
    margin-top: 10px;
    margin-left: 18px;
}

 .ui-autocomplete { 
            cursor:pointer; 
            height:auto;
			max-height:150px;
            overflow-y:hidden;
			background-color:#fff !important;
			border-left:1px solid #ccc !important;
			border-right:1px solid #ccc !important;
			border-bottom:1px solid #ccc !important;
			width:220px !important;
			font-family: 'Gotham-Rounded';
			src: url("../fonts/GothamRounded-Book.woff");
			font-style: normal;
			font-weight: 400;
			
        }    
        .ui-autocomplete .ui-state-focus{
        background-color:#fff !important;
        font-style: normal !important;
			font-weight: 400 !important;
        }





#logSRModal{
	position:absolute !important;
	width: 600px !important;
}
#logSRModal .modal-header{
	border-bottom: 1px solid #CCC !important;
	height: 35px;
	padding: 2px 15px 2px 0px !important;
}
/* #logSRModal .modal-body{
	padding-left: 0px !important;
	max-height:1000px !important;
} */
.modal-backdrop{background-color:#CCC !important;}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:0.4 !important;}

#logSRSubmitResponse{
	z-index:-9;
	position:relative;
	width: 400px !important;
	/* top: 40% !important; */
	left:55% !important;
}
#logSRSubmitResponse .modal-footer{
	margin-bottom: 0px !important;
	padding: 10px 10px 10px !important;
	background-color: #fff;
}
#responseStatus{
	color:#333 !important;
	font-size:16px !important;
	margin-top: 8px;
	margin-left:15px;
}
.modal-open{
	overflow: hidden;
}
/*CSS for Modal End  */



.tt-submit-row{
	text-align: right;
}
.tt-form-error-row{
	margin-bottom: 20px;
}
.tt-form-row{
	margin-bottom: 15px;
}
.tt-form-last-row{
	margin-bottom: 10px;
}
.tt-form-container{
	padding-left:0 !important;
	padding-right:0 !important;
}
.tt-modal-form{
	margin-bottom: 0 ! important;
}

.tt-checkbox-optional{
	display:block;
	padding-left: 10px;
}

.tt-warning{
	display: inline-block;
	margin-top: 10px;
	position: relative;
	top: 0px;
}

.aui{
	
	.modal.fade.tt-SR-modal{
		
		display:none !important;
		>div{
			>div{
				>div{
					>.tt-modal-form{
						display: none;
					}
				}
			}
		}
	}
	
	.modal.fade.tt-SR-modal.in{
		
		display:table-cell !important;
		>div{
			>div{
				>div{
					>.tt-modal-form{
						display: block;
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.tt-form-left-col{
		width: 14% ;
	}
	
	#logSRModal{
		position: fixed;
		/*width: 50% !important;*/
		overflow: auto;
		display: table-cell;
		vertical-align: middle;
		top: 2% !important;
		/*left: 45%;*/
		right: 0 !important;
		/* z-index: 1050 !important; */
	}
	
	#logSRModal{
		left: 46%;
		width: 50% !important;
	}
	#logServReqButton {
	position: relative;
	left: 83%;
	}
}

@media (min-width: 1025px) and (max-width: 1199px) {
	#logSRModal{
		left: 46% ! important;
		width: 60% !important;
		top: 2% !important;
	}
	#logServReqButton {
	position: relative;
	left: 83%;
	}
}

@media (min-width: 930px) and (max-width: 1024px) {
	#logSRModal{
		left: 48% ! important;
		width: 70% !important;
		top: 2% !important;
	}
	
}
@media (min-width: 768px) and (max-width: 929px) {
	#logSRModal{
		left: 44% ! important;
		width: 73% !important;
		top: 2% !important;
	}
	
}

@media (min-width: 768px) and (max-width: 929px) {
	#logServReqButton {
	position: relative;
	left: 83%;
	}
	#logSRModal{
		left: 49% ! important;
		top: 2%;
	}
}

@media (max-width: 767px){
	#logSRModal{
		left: 7%;
		width: 85% !important;
		top: 2% !important;
	}
	.tt-form-row{
		margin-bottom: 5px;
	}
	.tt-form-left-col{
		width: 100%;
	}
	.tt-submit{
		padding-top: 10px;
	}
	.tt-submit-row{
		text-align: left;
	}
	#dashTickNotesTextArea{
		width: 100%;
	}
}

.chrome, .ie, .firefox, .safari{
	.tt-modal-body{
		padding:15px !important;
		max-height: 82vh !important;
	}
}

@media screen and ( min-height: 600px ) and ( max-height: 641px ) {
	.chrome, .ie, .firefox, .safari {
		#logSRModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 82vh !important;
		}
	}
}

@media screen and ( min-height: 465px ) and ( max-height: 599px ) {
	.chrome, .ie, .firefox, .safari {
		#logSRModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 81vh !important;
		}
	}
}

@media screen and ( min-height: 445px ) and ( max-height: 466px ) {
	.chrome, .ie, .firefox, .safari {
		#logSRModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 76vh !important;
		}
	}
}

@media screen and ( min-height: 400px ) and ( max-height: 445px ) {
	.chrome, .ie, .firefox, .safari {
		#logSRModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 71vh !important;
		}
	}
}

@media screen and ( min-height: 320px ) and ( max-height: 399px ) {
	.chrome, .ie, .firefox, .safari {
		#logSRModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 71vh !important;
		}
	}
}

@media screen and ( min-height: 250px ) and ( max-height: 319px ) {
	.chrome, .ie, .firefox, .safari {
		#logSRModal{
			bottom: 2% !important;
			overflow: hidden;
		}
		.modal-body{
			/* background-color: yellow !important; */
			max-height: 60vh !important;
		}
	}
}



.enableUserButton {
	position: relative;
	left: 40%;
	background-color: #555;
	/* padding: 7px 7px 7px 10px; */
	border: 0;
	color: #fff;
	line-height: 1 !important;
	box-shadow: 2px 2px 2px #333;
	-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
	 margin-right: 1%;
}

.addUserButton {
	position: relative;
	left: 40%;
	background-color: #555;
	/* padding: 7px 7px 7px 10px; */
	border: 0;
	color: #fff;
	line-height: 1 !important;
	box-shadow: 2px 2px 2px #333;
	-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
	    margin-right: 1%;
}

#EnableIcon {
	background: url("../images/PostNewThread_W_16.png");
	height: 15px;
	width: 15px;
	margin-left: 15px;
	position: relative;
	top: 9px;
}

#EnableContent {
	color: #fff;
	margin-left: 40px;
	margin-bottom: 0;
	position: relative;
	bottom: 8px;
	padding-right: 15px;
	font-size: 14px;
}

#AddLicense {
	color: #fff;
	margin-left: 40px;
	margin-bottom: 0;
	position: relative;
	bottom: 8px;
	padding-right: 15px;
	font-size: 14px;
}

#AddLicenseIcon {
	background: url("../images/PostNewThread_W_16.png");
	height: 15px;
	width: 15px;
	margin-left: 15px;
	position: relative;
	top: 9px;
}

#logServReqButton {
	position: relative;
	left: 83%;
	background-color: #e32212;
	/* padding: 7px 7px 7px 10px; */
	border: 0;
	color: #fff;
	/* line-height: 1 !important; */
	box-shadow: 2px 2px 2px #333;
	-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
	margin-bottom: 1%;
}

.create-service-ctr {
	width: 58% !important;
	float: right !important;
	text-align: left !important;
	padding-top: 20px ! important;
	padding-right: 12px ! important;
}

.disableadduser{
    background-repeat: no-repeat;
    background-color: #555;
    background-position: 10px 10px;
    border: 0;
    color: #ffffff;
    background-color: #CCC !important;
    color: white !important;
}

#buttons{
	margin-top: 2%;
    margin-right: 20%;
}
.aui .modal{
	border:0px !important;
}
.wrapper {
		cursor: help;
		position: relative;
	  }
	
  .wrapper .tooltip {
  
  color: #fff;
    font-size: 11px;
    border-radius: 4px;
   padding: 9px;
   background: #6F6B6B ;
		bottom: 100%;
	  color: #fff;
	  display: block;
	  left: -25px;
	  margin-bottom: 15px;
	  opacity: 0;
	  padding: 20px;
	  pointer-events: none;
	  position: absolute;
	  width: 100%;
	  -webkit-transform: translateY(10px);
	     -moz-transform: translateY(10px);
	      -ms-transform: translateY(10px);
	       -o-transform: translateY(10px);
	          transform: translateY(10px);
	  -webkit-transition: all .25s ease-out;
	     -moz-transition: all .25s ease-out;
	      -ms-transition: all .25s ease-out;
	       -o-transition: all .25s ease-out;
	          transition: all .25s ease-out;
	  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	}
	
	
	/* This bridges the gap so you can mouse into the tooltip without it disappearing */
	.wrapper .tooltip:before {
	  bottom: -20px;
	  content: " ";
	  display: block;
	  height: 20px;
	  left: 0;
	  position: absolute;
	  width: 100%;
	}  
	
	/* CSS Triangles - see Trevor's post */
	.wrapper .tooltip:after {
	  border-left: solid transparent 10px;
	  border-right: solid transparent 10px;
	  border-top: solid #D4D4D4 10px;
	  bottom: -10px;
	  content: " ";
	  height: 0;
	  left: 50%;
	  margin-left: -13px;
	  position: absolute;
	  width: 0;
	}
	  
	.wrapper:hover .tooltip {
	  font-size: 8px;
	    color: black;
	  opacity: 1;
	  pointer-events: auto;
	  -webkit-transform: translateY(0px);
	     -moz-transform: translateY(0px);
	      -ms-transform: translateY(0px);
	       -o-transform: translateY(0px);
	          transform: translateY(0px);
	}

	/* IE can just show/hide with no transition */
	.lte8 .wrapper .tooltip {
	  display: none;
	}
	
	.lte8 .wrapper:hover .tooltip {
	  display: block;
	}
button,html input[type="button"] {
	border-radius: 5px !important;
}